<!-- Generated template for the TypeaheadComponent component -->
<div>
  <ion-item>
    <ion-label floating="" color="{{this.Rules.labelcolor}}">
      <ion-icon name="{{this.Rules.labelicon}}"></ion-icon> {{this.Rules.labelInput}}</ion-label>
    <ion-input type="text" [(ngModel)]="inputVal" (ionChange)="eventHandler($event._value)"
    (ionFocus)="itemfocus($event)" (ionBlur)="itemblur($event)"></ion-input>
  </ion-item>
    <ion-list *ngIf="result.length > 0">
      <ion-card *ngFor="let r of result" class="card-buttom">
    <ion-item  (click)="_selectedItem(r[this.Rules.search_for_Item],r[this.Rules.valueOutput])">
      <span *ngIf="this.Rules">{{r[this.Rules.search_for_Item]}}</span>
    </ion-item>
      </ion-card>
  </ion-list>
</div>
