<!--
  Generated template for the TrailerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Trailer</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
                Placa
              </ion-label>
              <ion-input type="text" formControlName="placa" (blur)="comprobarCampo('placa')"
                         text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="width: 18px;">
              Carroceria
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_carroceria"
                       [Rules]="{labelInput:'Carroceria',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_Carroceria($event)"></typeahead>
            <!--<ion-input type="text" formControlName="departamento"></ion-input>-->
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
                Trailer
              </ion-label>
              <ion-select type="text" formControlName="id_tipotrailer">
                <ion-option *ngFor="let a of data_tipotrailer" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Peso-Galon.svg" style="width: 13px;">
                Combustible
              </ion-label>
              <ion-select type="text" formControlName="id_combustible">
                <ion-option *ngFor="let a of data_combustible" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 13%">
                Trailer
              </ion-label>
              <ion-select type="text" formControlName="id_tipotrailer">
                <ion-option *ngFor="let a of data_tipotrailer" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="width: 18px;">
              Marca trailer
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_marca"
                       [Rules]="{labelInput:'Marca Trailer',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_MarcaTrailer($event)"></typeahead>
            <!--<ion-input type="text" formControlName="departamento"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="width: 18px;">
              Color Trailer
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_color"
                       [Rules]="{labelInput:'Color Trailer',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_ColorTrailer($event)"></typeahead>
            <!--<ion-input type="text" formControlName="departamento"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="width: 18px;">
                Capacidad de carga
              </ion-label>
              <ion-input type="text" formControlName="capacidad"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="width: 18px;">
                Peso trailer
              </ion-label>
              <ion-input type="text" formControlName="peso"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Peso-Galon.svg" style="width: 13px;">
                Unidad de medida
              </ion-label>
              <ion-select type="text" formControlName="id_unidadmedida">
                <ion-option *ngFor="let a of data_unidadmedida" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
                Capacidad de carga
              </ion-label>
              <ion-input type="text" formControlName="capacidad"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/fecha-entrega.svg" style="max-width: 6%">
                Fabricacion
              </ion-label>
              <ion-input type="text" formControlName="fabricacion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--<div class="col-md-6">
        <label>Carroceria</label>
        <div class="position-relative has-icon-left">
        <input [typeahead]="data_carroceria" typeaheadOptionField="descripcion"
        [typeaheadOptionsInScrollableView]="5"
        type="text" class="form-control" placeholder="Carroceria"
        (typeaheadOnSelect)="setCarroceria($event)"
        formControlName="carroceria">
        <div class="form-control-position">
        <i class="info icon-user"></i>
        </div>
        </div>
        </div>-->
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <!-- <button ion-button="" color="primary" (click)="_next()" *ngIf="Opc <= 1">
       Siguiente
     </button> -->
    <button padding ion-button="" class="button-block" (click)="saveData()" [disabled]="form.invalid">
      REGISTRAR
    </button>
  </ion-col>
</ion-content>
