<ion-list>
  <!--<button ion-item (click)="_Transportistas()">
    <ion-icon name="bus"></ion-icon>
    <ion-badge>Transportistas</ion-badge>
  </button>-->
  <button ion-item (click)="_Aceptar()"
          *ngIf="this.TRANSPORTISTA.id_manifiesto && this.TRANSPORTISTA.id_remesa && this.TRANSPORTISTA.id_orden !== null">
    <img src="assets/imgs/icon/crear-cumplido-remesa-manifiesto.svg" style="max-width: 6%">
    <span style="color: black"><strong> Aceptar</strong></span></button>
  <button ion-item (click)="OrdenCarga(this.TRANSPORTISTA.solicitudes_id, this.TRANSPORTISTA)"
          *ngIf="!TRANSPORTISTA.id_manifiesto && !TRANSPORTISTA.id_remesa && !TRANSPORTISTA.id_orden">
    <img src="assets/imgs/icon/crear-cumplido-remesa-manifiesto.svg" style="max-width: 6%">
    <span style="color: black"><strong>Crear orden de carga</strong></span>
  </button>
  <!--<button ion-item (click)="_Culminar()">
    <ion-icon name="add"></ion-icon>
    <span style="color: #EB6400"><strong> Culminar</strong></span></button>-->
  <!-- <button ion-item (click)="_Despachadores()"><ion-icon name="person-add"></ion-icon> <ion-badge>Despachadores</ion-badge></button> -->
</ion-list>

