<!--
  Generated template for the EventosTransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Crear alerta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row style="background: red;padding-left: 35px;padding-top: 5px">
    <ion-col col-1>
      <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%">
    </ion-col>
    <ion-col col-5>
      <span style="color: white"><strong>CONDUCTOR</strong></span>
      <p style="margin-top: 1px;color: white">Samuel Mordeno</p>
    </ion-col>
    <ion-col col-1>
      <img src="assets/imgs/icon/placa.svg" style="max-width: 100%">
    </ion-col>
    <ion-col col-5>
      <span style="color: white"><strong>PLACA</strong></span>
      <p style="margin-top: 1px;color:white;">JYX238</p>
    </ion-col>
  </ion-row>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="alarm"></ion-icon>
                Tipo de evento
              </ion-label>
              <ion-select type="text" formControlName="id_tipoevento">
                <ion-option *ngFor="let e of eventos" [value]="e.id">{{e.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/destino.svg" style="width: 13px;">
              Municipio
            </ion-label>
            <typeahead #typeaheadplataform [Data]="_Municipios"
                       [Rules]="{labelInput:'Municipio',valueOutput:'coordenadas', search_for_Item:'municipio_nombre' }"
                       (ValueOutput)="_UbicacionOutput($event)"></typeahead>
            <!--<ion-input type="text" formControlName="departamento"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="">
                <img src="assets/imgs/icon/placa.svg" style="width: 20px;">
                Observacion
              </ion-label>
              <ion-textarea formControlName="observaciones"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <!-- <button ion-button="" color="primary" (click)="_next()" *ngIf="Opc <= 1">
       Siguiente
     </button> -->
    <button padding ion-button="" style="background: #00BA00" class="button-block" (click)="saveData()"
            [disabled]="form.invalid">
      <span style="color: white"><strong>Guardar alerta</strong></span>
    </button>
  </ion-col>
</ion-content>
