<ion-header>
  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-9 style="margin: auto">
        <ion-title>
          Descubre
        </ion-title>
      </ion-col>
      <ion-col col-3 (click)="_Notificaciones()">
        <div style="display: flex;align-self: center;">
            <span class="descubrecabeceraspan"><ion-badge color="notificaciones" round>
            {{Notificacion}}
          </ion-badge>&nbsp;<ion-icon name="notifications" color="light" item-end
                                      style="position: relative;font-size: 25px;top: 3px;"></ion-icon></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12 style="text-align: center;height: 5vh;">
      <h1>Comencemos</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 style="text-align: center;font-size: 9.5px;">
      <p style="margin-top: 0px">Con estas cartas de guía conocerás todas las funciones para
        aprovechar al máximo Mueve Logística en tu día a día</p>
    </ion-col>
  </ion-row>
  <div style="background: white">
    <ion-row>
      <ion-col col-12>
        <ion-searchbar color="primary"
                       [(ngModel)]="queryText"
                       (ionInput)="updateSchedule()"
                       placeholder="Búsqueda rápida">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
  <ion-card style="border-radius: 5px" *ngFor="let c of _Tips">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <div *ngFor="let img of c.logos">
          <img [src]="imagenServer(img)" style="max-width: 40px">
        </div>
      </ion-col>
      <ion-col col-10>
        <ion-row>
          <ion-col col-12>
            <span style="font-size: 10px">{{c.subtitulo}}</span>
            <p style="font-size: 12px"><strong>{{c.titulo}}</strong></p>
          </ion-col>
          <ion-col col-12 style="text-align: justify;">
            <span style="font-size: 10px;">{{c.descripcion}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="conocer-mas">
      <ion-col>
        <span (click)="linkhiperv(c)" *ngIf="c.hipervinculo">
          Conocer más
          <ion-icon name="arrow-forward"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
