page-descubre {

  .notificaciones {
    display: flex;
    align-self: center;
    span {
      font-size: 20px;
      color: white;
      margin: auto;
    }
  }

  .descubrecabeceraspan {
    font-size: 20px;
    color: white;
    margin: auto;
  }

  .conocer-mas {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    ion-col {
      text-align: right;
      span {
        color: #00c4ff
      }
    }
  }

  .badge-notificaciones {
    position: relative;
    font-size: 25px;
    top: 3px;
  }

  .cabecerasMuevepuntos {

  }

  input.searchbar-input {
    font-family: montserrat, sans-serif !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
    //padding: 0px !important;
  }
}
