<!--
  Generated template for the CuentasasociadasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Eliminar cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid style="padding: 0px !important;">
    <br>
    <br>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/advertencia.svg" style="max-width: 20% !important;">
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center">
        <span style="color:red"><strong>¿Quieres eliminar tu cuenta Mueve Logística?</strong></span>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center;padding-left: 20px;padding-right: 20px">
        <span>Antes considera esto, perderás tu historial, categoria y Mueve Puntos.</span>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center;padding-left: 20px;padding-right: 20px">
        <span>Infórmanos del problema, nuestro equipo de soporte te brindará toda la ayuda posible.</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <button ion-button block style="background: #00AEEA;color:white;border-radius: 5px;text-transform: unset">
          <span style="text-transform: unset;;"><strong>Ayuda y soporte</strong></span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <button ion-button block style="background: #FF0000;color:white;border-radius: 5px;text-transform: unset"
                (click)="confirmDelete()">
          <span style="text-transform: unset;;"><strong>Estoy seguro y quiero proceder</strong></span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
