<!--
  Generated template for the CalificartransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Calificar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: #e0e0e0">
  <form [formGroup]="Form">
    <ion-row style="margin-top: 10px;margin-left: 10px">
      <ion-col col-12>
        <p style="font-size: 12px">
          Como despachador puedes calificar la seriedad y compromiso
          del transportista, con ello se genera una reputación para
          mejorar los resultados en nuevas ofertas. Recuerda que ellos
          también pueden calificarte.
        </p>
        <p style="font-size: 12px">
          Eventos fortuitos como cierres de vía, derrumbes, mal clima,
          entre otros, no son factores que afecten la calificación.
        </p>
        <span style="font-size: 15px"><b>¿Cómo calificas a este transportista?</b></span>
      </ion-col>
    </ion-row>

    <ion-row style="background: white;padding: 10px;text-align: center">
      <ion-col col-3>
        <img src="assets/imgs/icon/rep_icon_excelente.svg" (click)="RepuTrans('excelente')" style="max-width: 70%;"
             *ngIf="segment == 'excelente'">
        <img src="assets/imgs/icon/repu_excelente_offldpi.svg" (click)="RepuTrans('excelente')" style="max-width: 70%;"
             *ngIf="segment !== 'excelente'">
        <span style="font-size: 10px">Excelente</span>
      </ion-col>
      <ion-col col-3>
        <img src="assets/imgs/icon/rep_icon_buenaldpi.svg" (click)="RepuTrans('bueno')" style="max-width: 75%;"
             *ngIf="segment == 'bueno'">
        <img src="assets/imgs/icon/repu_bueno_offldpi.svg" (click)="RepuTrans('bueno')" style="max-width: 75%;"
             *ngIf="segment !== 'bueno'">
        <span style="font-size: 10px">Bueno</span>
      </ion-col>
      <ion-col col-3>
        <img src="assets/imgs/icon/rep_icon_normalldpi.svg" (click)="RepuTrans('aceptable')" style="max-width: 80%;"
             *ngIf="segment == 'aceptable'">
        <img src="assets/imgs/icon/repu_aceptable_offldpi.svg" (click)="RepuTrans('aceptable')" style="max-width: 80%;"
             *ngIf="segment !== 'aceptable'">
        <span style="font-size: 10px">Aceptable</span>
      </ion-col>
      <ion-col col-3>
        <img src="assets/imgs/icon/rep_icon_regularldpi.svg" (click)="RepuTrans('regular')" style="max-width: 70%;"
             *ngIf="segment == 'regular'">
        <img src="assets/imgs/icon/repu_regular_offldpi.svg" (click)="RepuTrans('regular')" style="max-width: 70%;"
             *ngIf="segment !== 'regular'">
        <span style="font-size: 10px">Regular</span>
      </ion-col>
    </ion-row>
    <ion-row style="background: white">
      <ion-col col-12>
        <ion-item>
          <ion-textarea end="" rows="3" placeholder="Califica segun tu criterio" minlength="10"
                        formControlName="observacion"
                        pattern="^[a-zA-Z0-9,. ]*$"></ion-textarea>
        </ion-item>
        <div *ngIf="Form.get('observacion').hasError('pattern')">
          <small style="color: red">* Caracter invalido</small>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="background: white">
      <button ion-button block [disabled]="Form.invalid" style="background: #00BA00" (click)="_Calificar()">Calificar
      </button>
    </ion-row>
  </form>
</ion-content>
