<ion-content class="getstart">
  <div style="    text-align: center;margin-top: 15px;position: relative;z-index: 2">
    <ion-icon name="arrow-back" color="light" style="position: relative;right: 20vh;font-size: 23px;z-index: 2"
              (click)="rootPages()"></ion-icon>
    <img src="assets/imgs/mueve-logistica-icono.svg" class="imgLogo" style="max-width: 35px;margin-right: 15px;">
  </div>
  <div class="contenedor-login">
    <form class="form-dark" #loginForm="ngForm">
      <div style="text-align: center;">
        <img src="assets/imgs/icon/m_f_perfil.svg" class="imgLogo" style="max-width: 46%;">
      </div>
      <div class="div_form" style="margin-top: 2vh">
        <div class="input-rounds">
          <ion-icon class="icon" name="person"></ion-icon>
          <input type="text" class="input-form" [(ngModel)]="login.username" maxlength="20"
                 name="contact"
                 text-uppercase
                 placeholder="Usuario">
        </div>
        <div class="input-rounds">
          <ion-icon class="icon" name="key"></ion-icon>
          <input [type]="passwordType" clearOnEdit="false" class="input-form"
                 [(ngModel)]="login.password" minlength="8" maxlength="32"
                 name="password"
                 placeholder="Contraseña" style="text-transform: unset">
          <ion-icon name="eye" class="icon2" color="gray" item-end (click)="togglePassword()"></ion-icon>
        </div>
        <button block ion-button class="prueba3" (click)="onLogin(loginForm)" round>
          <span class="btn-title" style="text-transform: full-width;">Iniciar sesión</span>
        </button>
        <br>
        <div style="text-align: center">
          <span style="color:white" (click)="forgetPassword()"><strong>¿Olvidaste tu contraseña?</strong></span>
        </div>
      </div>
    </form>
  </div>
</ion-content>

