// Styles for all of the user pages:
// Login, Signup, Support

login-page {
  .contenedor-login {
    background-size: cover;
    height: 85vh;
    padding: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    //margin-top: 3%;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    * {
      z-index: 2;
      margin: auto;
    }
    .form-dark {
      //width: 100%;
      //position: relative;
      //bottom: 12vh;
      //height: 40vh;

      .input-rounds {
        background: #f4f4f4;
        border-radius: 6px;
        margin-bottom: 1rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row nowrap;
        padding: .5rem 2rem .5rem 4rem;
        position: relative;
        .icon {
          font-size: 2rem;
          color: gray;
          line-height: 3rem;
          width: 3rem;
          position: absolute;
          left: 1.5rem;
          top: .5rem;
          bottom: .5rem;
          z-index: -1;
        }
        .icon2 {
          position: relative;
          top: 0vh;
          z-index: 2;
          font-size: 19px;
        }
        input {
          flex: 1 1 auto;
          background: transparent;
          border: none;
          outline: none;
          height: 100%;
          color: gray;
          font-size: 1.3rem;
          &::placeholder {
            color: gray;
            text-transform: full-width;;
            text-align: left;
          }
        }
      }
      .form-footer {
        margin-top: 4rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        button {
          span.btn-title {
            margin-right: 1rem;
          }
          &:nth-child(2) {
            background-color: transparent;
            border: 1px solid #ffa800 !important;
            color: #ffa800;
            font-weight: 700;
          }

          &:nth-child(1) {
            background-color: #ffa800;
            color: black;
          }
        }

      }
      .pie-pagina {
        width: 100%;
        text-align: center;
        color: white;
        p.titulo1 {
          margin-bottom: -10px;
          font-weight: 700;
          font-size: 23px;
          color: #00c4ff;
        }
        p.titulo2 {
          margin-bottom: -14px;
          letter-spacing: 1px;
        }
        p.titulo3 {
          letter-spacing: 1px;
        }
      }
    }
  }

  .cabecera {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-top: 9vh;
    p.cabecera1 {
      margin-bottom: 1px;
      letter-spacing: 4px;
    }
    span.cabecera2 {
      color: #ffa800;
      letter-spacing: 4px;
      font-weight: 500;
    }
  }

  .prueba {
    border-radius: 2px !important;
  }

  .prueba3 {
    border-radius: 2px !important;
    background: #ffa800;
    color: black;
  }

  /*.content-login{
    //margin-top: 3%;
  }
   .img_login {
     display: block;
     width: 100%;
     max-width: 100%;
     height: 200px;
     //background-image: url('../../assets/imgs/imagen_login.jpg'),url('assets/imgs/imagen_login.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
   }
   .img_p{
     width: 100%;
     max-width: 100%;
     border: 0;
   }


   .img_logo {
     display: block;
     !* background: red; *!
     width: 50%;
     margin: 0 auto;
     position: relative;
     margin-top: -19%;
     !* z-index: 2; *!
     margin-bottom: 10%
   }
   .div_form {
     margin: 0 auto;
     margin-left: 5%;
     margin-right: 10%;
     display: block;
     position: relative;
     margin-top: -12%;
   }


   .login-logo {
     display: block;
     margin:  0 auto;
     !* background-color:  beige; *!
     text-align:  center;
     font-size:  35px;
     font-weight: 300;
     color:  #444;

   }
   .body-mensaje {
     display:  block;
     margin:  0 auto;
     text-align:  center;
     color: #666;
   }
   .scroll-content {
     display: flex;
     flex-flow: column;
     justify-content: center;
   }
   .my-contenido {
     width:  100%;
     position: absolute;
     top: 0;
   }*/

}

/*page-user {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }

  ////////////

  .content-login{
    //margin-top: 3%;
  }
  .img_login {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 200px;
    //background-image: url('../../assets/imgs/imagen_login.jpg'),url('assets/imgs/imagen_login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .img_p{
    width: 100%;
    max-width: 100%;
    border: 0;
  }


  .img_logo {
    display: block;
    !* background: red; *!
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-top: -19%;
    !* z-index: 2; *!
    margin-bottom: 10%
  }
  .div_form {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 10%;
    display: block;
    position: relative;
    margin-top: -12%;
  }


  .login-logo {
    display: block;
    margin:  0 auto;
    !* background-color:  beige; *!
    text-align:  center;
    font-size:  35px;
    font-weight: 300;
    color:  #444;

  }
  .body-mensaje {
    display:  block;
    margin:  0 auto;
    text-align:  center;
    color: #666;
  }
  .scroll-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .my-contenido {
    width:  100%;
    position: absolute;
    top: 0;
  }
}*/
