page-empresaadd {
  .scroll-content {
    padding: 0px !important;
  }
  ion-grid.grid {
    padding: 0px !important;
  }

  .empresadiv {
    padding-left: 15px;
    background: #e0e0e0;
    height: 40px
  }

  ion-item.item.item-block.item-md.item-input {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 40px
  }
}
