<!--
  Generated template for the EmpresaaddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-8 style="color: white">Empresa</ion-col>
      <ion-col col-4 style="color: #c99701" (click)="saveEmpresa()"><strong>Guardar</strong></ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-grid>
      <div class="empresadiv">
        <ion-row>
          <span style="margin-top: 15px"><strong>Editar campo</strong></span>
        </ion-row>
      </div>
      <br>
      <div style="padding-left: 10px;padding-right: 10px">
        <ion-item>
          <ion-input type="text" formControlName="empresanombre" placeholder="Empresa transportadora"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('empresanombre')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div style="padding-left: 15px;padding-top: 10px">
          <ion-row>
        <span style="font-size: 10px">
          Definir una empresa mejorará tus oportunidades de hallar
            transportistas
        </span>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </form>
</ion-content>
