$categories: (
  ionic: color($colors, primary),
  cerrado: #AC282B,
  pendiente: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  proceso: #FED035,
  publicada: #69BB7B,
  asignada:#07833b,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-speaker-list {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }

  page-speaker-list .item-inner {
    padding-right: 0px !important;
  }

  .logos {
    max-width: 50% !important;
  }

  //.input-wrapper {
  //  height: 32rem;
  //}

  .publicada {
    background: #428DFF;
    height: 4px
  }

  .expirada {
    background: black;
    height: 4px
  }

  .full_cupo {
    background: #00BA00;
    height: 4px
  }

  .cerradas {
    background: red;
    height: 4px
  }

  .imagenes {
    text-align: center;
  }

  .item-inner {
    padding-right: 0px !important;
  }

  .item.item-block.item-md {
    padding-left: 0px !important;
  }

  button.item.item-block.item-md {
    padding: 0px !important;
  }

  .searchbar-md {
    //background: inherit;
    padding: 0px !important;
  }

  input.searchbar-input {
    font-family: montserrat, sans-serif !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
    //padding: 0px !important;
  }

  ion-label.label.label-md {
    margin: 13px 0px 13px 0 !important;
  }

  ion-row {
    ion-col {
      button.buttonOferta {
        color: white;
        text-transform: full-width;;
        border-radius: 10px;
        height: 30px;
      }
    }
  }

  .btn-Activate {
    //font-size: 1rem;
    text-transform: initial;
    font-weight: bold;
    border: solid black 1px !important;
  }
  .border-radius0-7 {
    border-radius: 0.7rem;
  }
  .calendary-awards {
    margin-top: 8rem;
    a {
      text-decoration: none;
    }
    ion-avatar {
      width: 7rem;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }
    .row-item-center {
      display: flex;
      justify-content: center;
    }
  }

  .origenes_destinos1 {
    border: 2px solid #F2F2F2;
    width: 30rem;
    margin: auto;
    border-radius: 8px 8px 0px 0px;
    height: 3rem;
    display: flex;
    align-items: center;
    //position: relative;
    p {
      margin: auto;
    }
  }

  .ofertaPrecio {
    float: right;
    width: 14vh;
    padding: 3px;
    background: white;
    border-radius: 25px;
    display: flex;
    position: relative;
    span {
      img {
        position: relative;
        max-width: 15px;
        top: 3px;
        left: 1px;
      }
    }
  }

  .ofertaPrecio3 {
    float: right;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    padding: 3px;
    background: white;
    border-radius: 25px;
    display: flex;
    position: relative;
    span {
      img {
        position: relative;
        max-width: 15px;
        top: 3px;
        left: 1px;
      }
    }
  }

  .ofertaPrecio1 {
    float: right;
    width: 10vh;
    padding: 3px;
    background: white;
    border-radius: 25px;
    display: flex;
    position: relative;
    span {
      img {
        position: relative;
        max-width: 15px;
        top: 3px;
        left: 1px;
      }
    }
  }

  .origenes_destinos2 {
    border: 2px solid #F2F2F2;
    width: 30rem;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    height: 3rem;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 11px;
    p {
      margin: auto;
    }
  }
  ion-label.label.label-md {
    margin: 0px !important;
  }

  ion-navbar.toolbar.toolbar-md {
    padding: 0px;
  }
}
