<ion-header>
  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-2>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-7 style="margin: auto">
        <ion-title>
          Ofertas
        </ion-title>
      </ion-col>
      <ion-col col-3 (click)="_Notificaciones()">
        <div style="display: flex;align-self: center;">
            <span style="font-size: 20px;color: white;margin: auto;"><ion-badge color="notificaciones" round>
            {{Notificacion}}
          </ion-badge>&nbsp;<ion-icon name="notifications" color="light" item-end
                                      style="position: relative;font-size: 25px;top: 3px;"></ion-icon></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list" style="background: #e0e0e0">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-row style="    padding-left: 10px;
                        background: white;
                        padding-top: 5px;
                        padding-right: 10px;">
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/ofertas-activas.svg" class="logos" style="max-width: 14%"
             (click)="newFilter('publicadas')" *ngIf="segment2 === 'publicadas'">
        <img src="assets/imgs/icon/ofertas_activas_off.svg" class="logos" style="max-width: 14%"
             (click)="newFilter('publicadas')" *ngIf="segment2 !== 'publicadas'">
        <p style="font-size: 12px;margin-top: 0px">Publicadas</p>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/ofertas-vencidas.svg" class="logos" style="max-width: 14%"
             (click)="newFilter('expiradas')" *ngIf="segment2 === 'expiradas'">
        <img src="assets/imgs/icon/ofertas-vencidas-off.svg" class="logos" style="max-width: 14%"
             (click)="newFilter('expiradas')" *ngIf="segment2 !== 'expiradas'">
        <p style=" font-size: 12px;margin-top: 0px">Expiradas</p>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/oferta_cancelada_onldpi.svg" class="logos"
             (click)="newFilter('cerradas')" *ngIf="segment2 === 'cerradas'">
        <img src="assets/imgs/icon/oferta_canceladas_offldpi.svg" class="logos"
             (click)="newFilter('cerradas')" *ngIf="segment2 !== 'cerradas'">
        <p style="font-size: 12px;margin-top: 0px">Cerradas</p>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/ofertas-concluidas.svg" class="logos"
             (click)="newFilter('full cupo')" *ngIf="segment2 === 'full cupo'">
        <img src="assets/imgs/icon/ofertas-concluidas-off.svg" class="logos"
             (click)="newFilter('full cupo')" *ngIf="segment2 !== 'full cupo'">
        <p style="font-size: 12px;margin-top: 0px">Full cupo</p>
      </ion-col>
    </ion-row>
  </div>
  <div style="background: white" *ngIf="ErrorConexion === false">
    <ion-row style="padding-right: 5px">
      <ion-col col-2 style="margin: auto;
                      text-align: center;">
        <span style="font-size: 3rem;color: #00BA00" *ngIf="LIST_OFERT">{{LIST_OFERT.length}}</span>
      </ion-col>
      <ion-col col-10 style="padding: 0px!important;">
        <ion-searchbar color="primary" animated
                       [(ngModel)]="queryText"
                       (ionInput)="updateSchedule()"
                       placeholder="Búsqueda rápida">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!BadConection">
    <ion-row style="background: red;height: 4vh;">
      <p style="margin: auto;color: white">Sin conexión a Mueve Logística</p>
    </ion-row>
  </div>
  <ion-list #scheduleList>
    <!--IMAGEN DE VALIDACION-->
    <section class="calendary-awards" *ngIf="Verificado === 'NO' && ErrorConexion === false">
      <ion-row class="row-item-center">
        <ion-avatar class="img-in-col-center">
          <img src="assets/imgs/icon/validacion_en_progreso_offldpi.svg">
        </ion-avatar>
      </ion-row>
      <ion-row style="padding: 10px">
        <ion-col>
          <ul style="font-size: 12px;">
            <li class="marginBottom1" style="font-size: 15px !important;">Validación en progreso</li>
            <br>
            <li class="text-gray">El proceso no suele tardar mucho, es posible que</li>
            <li class="text-gray">nuestro equipo de validación se ponga en contacto
              contigo.
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12="">
          <button ion-button="" full color="greenButton" class="btn-Activate border-radius0-7"
                  (click)="validacionRapida()">Solicitar validación
            rápida
          </button>
        </ion-col>
      </ion-row>
    </section>
    <!--FIN IMAGEN DE VALIDACION-->
    <!--SIN CONEXION-->
    <section class="calendary-awards" *ngIf="ErrorConexion === true">
      <ion-row class="row-item-center">
        <ion-avatar class="img-in-col-center">
          <img src="assets/imgs/icon/no_conection.svg">
        </ion-avatar>
      </ion-row>

      <ion-row style="padding: 10px">
        <ion-col>
          <ul style="font-size: 12px;">
            <li class="marginBottom1" style="font-size: 15px !important;color: black;">Ha ocurrido un problema</li>
            <br>
            <li class="text-gray" style="color:black">No hay conexión con Mueve Logistica. Intenta de</li>
            <li class="text-gray" style="color:black">nuevo más tarde.
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12="">
          <button ion-button="" full color="greenButton" class="btn-Activate border-radius0-7"
                  (click)="getOfertaPaginada(this.segment2)">
            Reintentar
          </button>
        </ion-col>
      </ion-row>
    </section>
    <!--FIN CONEXION-->
    <div style="padding: 15px;text-align: center"
         *ngIf="LIST_OFERT && LIST_OFERT.length == 0 && Verificado !== 'NO' && ErrorConexion === false">
      <span style="color: black;"><strong>No tienes ofertas {{segment2}}.</strong></span>
      <p style="margin-top: 0px;text-align: center;color: black" *ngIf="segment2 === 'publicadas'">Hay transportistas
        disponibles y
        a la espera de nuevas ofertas.
        Comienza creando una oferta pulsando el boton "+".</p>
      <p style="margin-top: 0px;text-align: center;color: black" *ngIf="segment2 === 'full cupo'">
        Aquí verás las ofertas que hayan completado el cupo de transportistas solicitados.
      </p>
      <p style="margin-top: 0px;text-align: center;color: black" *ngIf="segment2 === 'expiradas'">
        Aquí encuentras las ofertas con
        fecha de publicación caducadas.</p>
      <p style="margin-top: 0px;text-align: center;color: black" *ngIf="segment2 === 'cerradas'">
        Aquí se mostrarán las ofertas que hayas decidido cerrar manualmente.</p>
    </div>
    <div *ngIf="ErrorConexion === false && Verificado !== 'NO'">
      <!--NUEVO DISEÑO-->
      <ion-item-group *ngFor="let oferta of ListOferta" style="margin-top: 10px;">
        <ion-item-sliding #slidingItem [attr.track]="oferta.estado | lowercase">
          <div ion-item (click)="goToOfertaDetail(oferta)">
            <div style="background: #F2F2F2;">
              <ion-row>
                <ion-col col-12 style="padding: 0px">
                  <div
                    [ngClass]="{ 'publicada' : oferta.oferta_estado == 'PUBLICADA',
                                 'expirada' : oferta.oferta_estado == 'VENCIDA',
                                 'full_cupo' : oferta.oferta_estado == 'COMPLETADA',
                                 'cerradas' : oferta.oferta_estado == 'CERRADA'}">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="padding-left: 15px;padding-right: 15px;margin-top: 6px;margin-bottom: 4px;">
                <ion-col col-5 style="font-size: 11px;text-align: left;margin: auto;padding: 0px">
                <span style="font-size: 12px;margin: auto"><b>{{oferta.fechacarga}} | </b><b
                  style="color: red;">{{oferta.fechaentrega}}</b>
                </span>
                </ion-col>
                <ion-col col-7 style="font-size: 12px;text-align: right;text-transform: capitalize;padding: 0px">
                  <div class="ofertaPrecio1">
                  <span style="position: relative;top: -2px;"><img src="assets/imgs/icon/tipo_veh.svg">
                  &nbsp;{{oferta.tipovehiculo_nombre}}
                </span>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="padding-left: 15px;padding-right: 15px">
                <ion-col col-5 style="font-size: 17px;text-align: left;padding: 0px">
                  <span><b>N° {{oferta.oferta_codigo}}</b></span>
                </ion-col>
                <ion-col col-7 style="font-size: 13px;text-align: right;padding: 0px">
                  <div class="ofertaPrecio">
                  <span style="position: relative;top: -2px;"><img src="assets/imgs/icon/precio_2.svg">
                  &nbsp;{{oferta.oferta_valor.toLocaleString()}}
                </span>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="padding-left: 15px;padding-right: 15px;margin-top: 2px;height: 30px;">
                <ion-col col-6 style="font-size: 11px;text-align: left;margin: auto;padding: 0px">
                  <span>{{oferta.tiempoactivo}} Publicada</span>
                </ion-col>
                <ion-col col-6
                         style="font-size: 13px;text-align: right;text-transform: capitalize;padding: 0px;margin:auto">
                <span style="position: relative;top: -2px;">
                <img src="assets/imgs/icon/Recurso 15.svg" style="max-width: 9%;position: relative;top: 2px;">
                  {{break_text(oferta.oferta_producto.toLowerCase())}}
                </span>
                </ion-col>
              </ion-row>
            </div>
            <ion-row style="padding-left: 26px;padding-right: 26px;padding-top: 15px">
              <ion-col col-3 style="font-size: 9px;text-align: left;text-align: center;">
                <img src="assets/imgs/icon/cupo_v3.svg" style="max-width: 70%">
                <p style="margin-top: 0px;color:black;font-size: 13px;">Cupo</p>
                <p style="margin-top: 0px;color: #ffa800"><strong>{{oferta.oferta_cantidad}}</strong></p>
              </ion-col>
              <ion-col col-3 style="font-size: 9px;text-align: left;text-align: center;">
                <img src="assets/imgs/icon/postulados_v3.svg" style="max-width: 70%"
                     *ngIf="_Postulados(oferta.postulados) > 0">
                <img src="assets/imgs/icon/postulados-off_v3.svg" style="max-width: 70%"
                     *ngIf="_Postulados(oferta.postulados)  == 0">
                <p style="margin-top: 0px;color:black;font-size: 13px;">Postulados</p>
                <p style="margin-top: 0px;color:#005AA3" *ngIf="_Postulados(oferta.postulados) > 0">
                  <strong>{{_Postulados(oferta.postulados)}}</strong>
                </p>
                <p style="margin-top: 0px;color:gray" *ngIf="_Postulados(oferta.postulados) == 0">
                  <strong>{{_Postulados(oferta.postulados)}}</strong>
                </p>
              </ion-col>
              <ion-col col-3 style="font-size: 9px;text-align: left;text-align: center;">
                <img src="assets/imgs/icon/enviados_v3.svg" style="max-width: 70%"
                     *ngIf="_Activos(oferta.postulados) > 0">
                <img src="assets/imgs/icon/enviados-off_v3.svg" style="max-width: 70%"
                     *ngIf="_Activos(oferta.postulados) == 0">
                <p style="margin-top: 0px;color:black;font-size: 13px;">Enviados</p>
                <p style="margin-top: 0px;color: #00BA00" *ngIf="_Activos(oferta.postulados) > 0">
                  <strong>{{_Activos(oferta.postulados)}}</strong>
                </p>
                <p style="margin-top: 0px;color: gray" *ngIf="_Activos(oferta.postulados) == 0">
                  <strong>{{_Activos(oferta.postulados)}}</strong>
                </p>
              </ion-col>
              <ion-col col-3 style="font-size: 9px;text-align: left;text-align: center;">
                <img src="assets/imgs/icon/culminados_v3.svg" style="max-width: 70%"
                     *ngIf="_Culminados(oferta.postulados) > 0">
                <img src="assets/imgs/icon/culminados-off_v3.svg" style="max-width: 70%"
                     *ngIf="_Culminados(oferta.postulados) == 0">
                <p style="margin-top: 0px;color:black;font-size: 13px;">Culminados</p>
                <p style="margin-top: 0px;color: #00BA00" *ngIf="_Culminados(oferta.postulados) > 0">
                  <strong>{{_Culminados(oferta.postulados)}}</strong>
                </p>
                <p style="margin-top: 0px;color: gray" *ngIf="_Culminados(oferta.postulados) == 0">
                  <strong>{{_Culminados(oferta.postulados)}}</strong>
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 style="text-align: center;text-transform: capitalize">
                <div class="origenes_destinos1">
                  <p>
                    <img src="assets/imgs/icon/origen_2.svg" style="max-width: 5%">
                    {{oferta.origen_nombre.toLowerCase()}}</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 style="text-align: center;text-transform: capitalize">
                <div class="origenes_destinos2">
                  <p>
                    <img src="assets/imgs/icon/destino_2.svg" style="max-width: 8%">
                    {{oferta.destino_nombre.toLowerCase()}}</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-item-sliding>
      </ion-item-group>
    </div>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab color="mueve" (click)="createOferta()"
            *ngIf="Verificado !== 'NO' && ErrorConexion === false">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
