<!--
  Generated template for the CuentasasociadasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Cuentas conectadas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid style="padding: 0px !important;">
    <br>
    <br>
    <ion-row style="padding-left: 10px">
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/facebook-cuenta-conectada.svg" style="max-width: 100% !important;">
      </ion-col>
      <ion-col col-10>
        <span>Facebook</span>
        <p style="margin-top: 0px">Keidegger Silva Villamizar</p>
      </ion-col>
    </ion-row>
    <ion-row style="background: #e0e0e0;color:black;padding-left: 10px;padding-right: 10px;font-size: 10px">
      <ion-col col-12>
        <span>Conectate con Facebook o Google para iniciar sesión más fácilmente en Mueve Logística</span>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <button ion-button style="background: #FF0000;color:white;border-radius: 5px">
          <span><strong>Desconectar Facebook</strong></span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
