<ion-list>
  <button ion-item (click)="_Denunciar()">
    <img src="assets/imgs/icon/cerrar-oferta.svg" style="max-width: 6%">
    <span style="color: black"><strong>Denunciar</strong></span>
  </button>
</ion-list>
