<!--
  Generated template for the ActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Actividad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="ErrorConexion === true">
    <ion-row style="background: red;height: 4vh;">
      <p style="margin: auto;color: white">Sin conexión a Mueve Logística</p>
    </ion-row>
  </div>
  <ion-row style="background: #e0e0e0;padding-left: 10px">
    <ion-col col-12>
      <span>Actividad reciente</span>
    </ion-col>
  </ion-row>
  <button ion-item *ngIf="reciente" (click)="goOfert(reciente)">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img [src]="reciente.image">
      </ion-col>
      <ion-col col-9>
        <small style="color: #005AA3">
          <strong
            style="color: #00BA00;text-transform: capitalize">{{labelNotification(reciente.design_tipo)}}</strong>
          {{(reciente.punto) ? reciente.punto + 'MP' : ''}}
          <!--+ {{reciente.mp}} {{reciente.ref}} MP-->
        </small>
        <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px!important;">
          {{reciente.design_titulo}}
        </p>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          {{reciente.fecha}}
        </p>
      </ion-col>
      <ion-col col-1 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 40% !important;" [hidden]="reciente.oferta === 0">
      </ion-col>
    </ion-row>
  </button>
  <ion-row style="background: #e0e0e0;padding-left: 10px">
    <ion-col col-12>
      <span>Historial de actividad</span>
    </ion-col>
  </ion-row>
  <div *ngIf="historial">
    <button ion-item *ngFor="let h of ListActivity" (click)="goOfert(h)">
      <ion-row>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img [src]="h.image">
        </ion-col>
        <ion-col col-9>
          <small style="color: #005AA3">
            <strong
              style="color: #00BA00;text-transform: capitalize">{{labelNotification(h.design_tipo)}}</strong>
            {{(h.punto) ? h.punto + 'MP' : ''}}
          </small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px!important;">
            {{h.design_titulo}}
          </p>
          <p style="color: gray;font-weight: 500;margin-top: 2px">
            {{h.fecha}}
          </p>
        </ion-col>
        <ion-col col-1 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 40% !important;" [hidden]="h.oferta === 0">
        </ion-col>
      </ion-row>
    </button>
  </div>


  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
