<ion-header>
  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-9 style="margin: auto">
        <ion-title>
          <span style="font-size: 18px">Transportistas</span>
        </ion-title>
      </ion-col>
      <ion-col col-3 (click)="_Notificaciones()">
        <div style="display: flex;align-self: center;">
            <span style="font-size: 20px;color: white;margin: auto;"><ion-badge color="notificaciones" round>
            {{Notificacion}}
          </ion-badge>&nbsp;<ion-icon name="notifications" color="light" item-end
                                      style="position: relative;font-size: 25px;top: 3px;"></ion-icon></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content class="outer-content speaker-list" style="background: #e0e0e0">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!BadConection">
    <ion-row style="background: red;height: 4vh;">
      <p style="margin: auto;color: white">Sin conexión a Mueve Logística</p>
    </ion-row>
  </div>
  <ion-row style="background: white" *ngIf="ErrorConexion === false">
    <ion-col col-2 style="margin: auto;
                      text-align: center;">
          <span style="font-size: 3rem;color: #00c4ff"
                *ngIf="transportistas">{{transportistas.length}}</span>
    </ion-col>
    <ion-col col-10 style="padding: 0px!important;">
      <ion-searchbar color="primary" animated
                     [(ngModel)]="queryText"
                     (ionInput)="updateSchedule()"
                     placeholder="Búsqueda rápida">
      </ion-searchbar>
    </ion-col>
    <hr style="width: 100%">
  </ion-row>
  <ion-list #scheduleList>
    <div style="padding: 15px;text-align: center"
         *ngIf="transportistas && transportistas.length == 0 && ErrorConexion === false">
      <span><strong>No tienes historial de transportistas.</strong></span>
      <p style="margin-top: 0px">Aquí se muestran todos los transportistas con viajes culminados</p>
    </div>

    <!--SIN CONEXION-->
    <section class="calendary-awards" *ngIf="ErrorConexion === true">
      <ion-row class="row-item-center">
        <ion-avatar class="img-in-col-center">
          <img src="assets/imgs/icon/no_conection.svg">
        </ion-avatar>
      </ion-row>

      <ion-row style="padding: 10px">
        <ion-col>
          <ul style="font-size: 12px;">
            <li class="marginBottom1" style="font-size: 15px !important;">Ha ocurrido un problema</li>
            <br>
            <li class="text-gray">No hay conexión con Mueve Logistica. intenta de</li>
            <li class="text-gray">nuevo más tarde.
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12="">
          <button ion-button="" full color="greenButton" class="btn-Activate border-radius0-7"
                  (click)="loadData()">
            Reintentar
          </button>
        </ion-col>
      </ion-row>
    </section>
    <!--FIN CONEXION-->

    <div *ngIf="ErrorConexion === false">
      <ion-item-group *ngFor="let t of transportistas" style="margin-bottom: 10px;">

        <ion-item-sliding #slidingItem (click)="_Detalletransportista(t)">
          <div ion-item [ngClass]="{'transportistaBorde' : t.categoria === 'BRONZE',
                      'transportistaBorde1' : t.categoria === 'SILVER',
                       'transportistaBorde2' : t.categoria === 'GOLD'}">
            <ion-row>
              <ion-col col-2 style="margin: auto;">
                <img src="assets/imgs/icon/t_plata.svg" style="max-width: 90%;" *ngIf="t.categoria == 'SILVER'">
                <img src="assets/imgs/icon/t_bronce.svg" style="max-width: 90%" *ngIf="t.categoria == 'BRONZE'">
                <img src="assets/imgs/icon/t_bronce_1.svg" style="max-width: 90%" *ngIf="t.categoria == 'GOLD'">
              </ion-col>
              <ion-col col-8 style="text-align: left;font-size: 9px;margin: auto">
                <span
                  style="font-size: 13px;text-transform: capitalize">{{t.persona_nombre.toLowerCase()}}</span>
                <p style="font-size: 10px"><strong>PLACA: {{t.vehiculo_placa}}</strong></p>
              </ion-col>
              <ion-col col-2 style="margin: auto;text-align: center;">
                <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
              </ion-col>
            </ion-row>
          </div>
        </ion-item-sliding>
      </ion-item-group>
    </div>
  </ion-list>
</ion-content>
