page-transportistasfavoritos {
  input.searchbar-input {
    font-family: montserrat, sans-serif !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
  }

  .divtelefono {
    margin: auto;
    background: #005AA6;
    width: 16vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 16%
      }
    }
  }

  .divtelefono1 {
    //margin: auto;
    //background: #005AA6;
    width: 15vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 16%
      }
    }
  }

  .divROW {
    ion-row {
      padding-left: 35px;
      background: white;
      padding-top: 8px;
      padding-right: 25px
    }
  }

  .transportistaBorde {
    border-left: 7px solid;
    border-left-color: #ED6F24;
  }

  .transportistaBorde1 {
    border-left: 7px solid;
    border-left-color: silver;
  }

  .transportistaBorde2 {
    border-left: 7px solid;
    border-left-color: #ffa800;
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }

  .buttontrans {
    height: 23px;
    width: 125px;
    color: black;
    text-transform: full-width;;
  }

  .btn-Activate {
    //font-size: 1rem;
    text-transform: initial;
    font-weight: bold;
    border: solid black 1px !important;
  }
  .border-radius0-7 {
    border-radius: 0.7rem;
  }
  .calendary-awards {
    margin-top: 8rem;
    a {
      text-decoration: none;
    }
    ion-avatar {
      width: 7rem;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }
    .row-item-center {
      display: flex;
      justify-content: center;
    }
  }
}
