<ion-list>
  <button ion-item (click)="DespacharTransportista(this.Despacho.solicitudes_id, this.Despacho)"
          *ngIf="this.aux === true">
    <img src="assets/imgs/icon/crear-cumplido-remesa-manifiesto.svg" style="max-width: 6%">
    <span>Aceptar</span>
  </button>
  <button ion-item (click)="GenerateRyM(this.Despacho)" *ngIf="this.aux === false">
    <img src="assets/imgs/icon/generar-remesa.svg" style="max-width: 6%">
    <span>Generar Rem. / Man.</span>
  </button>
  <button ion-item *ngIf="this.aux === true" (click)="ReporteRyM(this.Despacho)">
    <img src="assets/imgs/icon/ver-orden.svg" style="max-width: 6%">
    <span>Ver orden de carga</span>
  </button>
  <!-- <button ion-item (click)="_Despachadores()"><ion-icon name="person-add"></ion-icon> <ion-badge>Despachadores</ion-badge></button> -->
</ion-list>
