page-perfil {
  * {
    text-transform: full-width;;
  }

  .input-error {
    color: red;
    font-weight: bold;
  }

  .arroClose {
    position: fixed;
    padding: 1.5rem;
    z-index: 2;
    display: block;
    font-size: 1.5em;
    color: white;
  }

  .button-reputacion {
    .item-inner {
      height: 16vh;
      border-bottom: 0px !important;
    }
  }

  .datos_perfil {
    //margin-top: 50%;
  }

  .camera_perfil {
    position: relative;
    margin: 0 auto;
    margin-top: -20%;
    margin-bottom: 15%;
    display: block;
    width: 12%;
    padding: 2%;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: hsla(0, 0%, 50%, 0.65);
    color: white;
  }

  .Config-Col-clss {

    h2 {
      font-size: 1.4rem !important;
      color: dimgray;
      word-break: keep-all;

      .icon-clss {
        padding-right: -1% !important;
      }

      p {
        font-size: 1.6rem;
        text-transform: full-width !important;
      }

    }
  }

  .PaddingLeft0 {
    padding-left: 0 !important;
  }

  small {
    color: black !important;
  }

  .lineagris {
    background: #e0e0e0;
    padding-left: 21px;
    //padding-top: 10px
  }

  .detallesCuenta {
    background: #e0e0e0;
    padding-left: 15px;
    padding-top: 10px;
  }

  .item-inner {
    height: 6rem;
  }

  .novinculado {
    width: 23vh;
    text-transform: full-width;;
    font-size: 9px;
    height: 4vh;
    right: 5px;
    background: #333333;
    color: white;
    bottom: 10px;
  }

  .Validado {
    width: 23vh;
    text-transform: unset;;
    font-size: 9px;
    height: 4vh;
    right: 5px;
    background: #00BA00;
    color: white;
    bottom: 10px;
  }

  .noValidado {
    width: 23vh;
    text-transform: unset;;
    font-size: 9px;
    height: 4vh;
    right: 5px;
    background: red;
    color: white;
    bottom: 10px;
  }

  img {
    max-width: 100% !important;
  }

  .middleBTN {
    margin-top: -25% !important;
  }

  .Form_Card {
    margin: 0 !important;
    width: calc(100% - 0px) !important;
    margin-top: -2% !important;
  }

  .grid-margin {
    margin-left: 5% !important;
  }

  ion-row {
    //background-color: #e5e6e7;
    button.btn-edit-img {
      position: absolute;
      right: 13vh;
      top: 2vh;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      z-index: 999 !important;
    }

    .col-validate-data {
      display: flex !important;
      // background-color: red;
      flex-flow: column;
      justify-content: center;

      span.item-1 {
        align-self: center;
        width: 10rem;
        display: block;
        color: #000000;
        //background-color: green;
      }

      button {
        align-self: center;
        //background-color: red;
        color: white;
        width: 50vw;
        text-transform: capitalize;
        border: solid #000000 1px;

        .icon-reloj-arena {
          position: absolute;
          left: 0;
          margin-left: 1rem;
        }

        .icon-flecha-derecha {
          position: absolute;
          right: 0;
          margin-right: 1rem;
        }
      }
    }

    .info-text {
      margin-left: 2vw;
      margin-right: 1vw;
    }

  }

  .ion-col-image {
    display: flex;

    img {
      width: 7rem;
    }
  }
}
