<ion-header>
  <ion-navbar color="azul_rey">
    <ion-title>
      <span>Mi cuenta</span>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!BadConection">
    <ion-row style="background: red;height: 4vh;">
      <p style="margin: auto;color: white">Sin conexión a Mueve Logística</p>
    </ion-row>
  </div>
  <div class="detallesCuenta" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-6>
        <button class="btn-edit-img" (click)="_Select_PictureSourceType()"
                [ngStyle]="{'background-image': 'url(assets/imgs/icon/editar_oferta.svg)'}"></button>
        <img *ngIf="!_IMG" (error)="_DEFAULT_ImagenPerfil($event)" (click)="_Select_PictureSourceType()"
             src="{{ImagenPerfil}}" class="custom-avatar-appperfil"
             imageViewer/>
        <img *ngIf="_IMG" src="{{image}}" class="custom-avatar" imageViewer/>
        <p style="margin-top: 3px">Detalles de cuenta</p>
        <p style="margin-top: -10px;"><strong>PIN: </strong>{{_User}}</p>
      </ion-col>
      <ion-col col-6>
        <br><br>
        <button ion-button round
                [ngClass]="{'noValidado' :_PERFIL.usuario_verificado && _PERFIL.usuario_verificado=== 'NO', 'Validado' :_PERFIL.usuario_verificado && _PERFIL.usuario_verificado=== 'SI'}">
          <img src="assets/imgs/icon/reloj_por_validarldpi.svg" style="width: 24px;position: relative;right: 22px;"
               *ngIf="_PERFIL.usuario_verificado === 'NO'">
          <ion-icon name="kargoo-chulo_verde" style="font-size: 20px;float: left;position: relative;right: 20px;"
                    color="light" *ngIf="_PERFIL.usuario_verificado === 'SI'"></ion-icon>
          <strong *ngIf="_PERFIL.usuario_verificado === 'SI'" style="text-transform: unset">
            Validado
          </strong>
          <strong *ngIf="_PERFIL.usuario_verificado === 'NO'" style="text-transform: unset"
                  (click)="validacionRapida()">
            Por validar
          </strong>
        </button>
        <button ion-button round class="novinculado" style="background: #00BA00;text-transform: unset;"
                (click)="Compartir(_User)">
          <img src="assets/imgs/icon/icon_share.svg" style="width: 16px;position: relative;right: 20px;">
          <strong>
            Compartir PIN
          </strong>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <button ion-item *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3">
          <strong>Primer nombre y primer apellido</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px;text-transform: capitalize">
          {{_PERFIL.persona_nombre.toLowerCase()}}
        </p>
      </ion-col>
    </ion-row>
  </button>
  <button ion-item *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3"><strong>Cédula</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          {{_PERFIL.persona_identificacion}}
        </p>
      </ion-col>
    </ion-row>
  </button>
  <button ion-item *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3"><strong>Nombre de usuario (apodo)</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          {{_PERFIL.usuario_login}}
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
      </ion-col>
    </ion-row>
  </button>
  <button ion-item (click)="editPerfil('personaemail')" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3"><strong>Correo electrónico</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px;text-transform: unset">
          {{_PERFIL.persona_email.toLowerCase()}}
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
      </ion-col>
    </ion-row>
  </button>
  <button ion-item (click)="editPerfil('personatelefono')" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3"><strong>Teléfono Celular</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          {{_PERFIL.persona_telefono}}
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
      </ion-col>
    </ion-row>
  </button>
  <button ion-item (click)="editPerfil('persona_telefono2')" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3"><strong>Teléfono Celular (2)</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          {{telefonoCelular2(_PERFIL.persona_telefono2)}}
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
      </ion-col>
    </ion-row>
  </button>
  <button ion-item (click)="editPerfil('password')" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #005AA3"><strong>Contraseña</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          *******
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
      </ion-col>
    </ion-row>
  </button>
  <div class="lineagris" *ngIf="_PERFIL">
    <ion-row>
      <p>Tu Reputación</p>
    </ion-row>
  </div>
  <div *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-2 style="text-align: center;margin: auto">
        <img src="assets/imgs/icon/reputacion_nuevoldpi.svg" style="max-width: 100% !important;"
             *ngIf="_PERFIL.reputacion.reputacion == 'NUEVO'">
        <img src="assets/imgs/icon/rep_icon_excelente.svg" style="max-width: 100% !important"
             *ngIf="_PERFIL.reputacion.reputacion == 'EXCELENTE'">
        <img src="assets/imgs/icon/rep_icon_buenaldpi.svg" style="max-width: 100% !important"
             *ngIf="_PERFIL.reputacion.reputacion == 'BUENO'">
        <img src="assets/imgs/icon/rep_icon_normalldpi.svg" style="max-width: 100% !important"
             *ngIf="_PERFIL.reputacion.reputacion == 'ACEPTABLE'">
        <img src="assets/imgs/icon/rep_icon_regularldpi.svg" style="max-width: 100% !important"
             *ngIf="_PERFIL.reputacion.reputacion == 'REGULAR'">
      </ion-col>
      <ion-col col-10 style="padding: 8px;right: 5vh;">
        <ul style="font-size: 12px;list-style-type: none;">
          <li class="marginBottom1"
              style="font-size: 15px !important;"><b>{{_PERFIL.reputacion.reputacion}}</b></li>
          <li class="text-gray">{{_PERFIL.reputacion.despachos}} despachos.</li>
          <li class="text-gray">Basado en {{_PERFIL.reputacion.calificaciones}} calificaciones.</li>
          <li class="text-gray">Tiempo activo {{_PERFIL.reputacion.tiempo}}</li>
        </ul>
      </ion-col>
    </ion-row>
  </div>
  <div class="lineagris" *ngIf="_PERFIL">
    <ion-row>
      <p>Empresa Transportadora</p>
    </ion-row>
  </div>
  <button ion-item *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-10>
        <small style="color: #00c4ff !important;"><strong>Transportadora</strong></small>
        <p style="color: gray;font-weight: 500;margin-top: 2px">
          {{_PERFIL.empresa_nombre}}
        </p>
      </ion-col>
    </ion-row>
  </button>
  <div class="lineagris" *ngIf="_PERFIL">
    <ion-row>
      <p>Avanzado</p>
    </ion-row>
  </div>
  <button ion-item (click)="_LogOut()" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-12>
        <small style="color: #005AA3"><strong>Cerrar sesión</strong></small>
      </ion-col>
    </ion-row>
  </button>
  <button ion-item (click)="_DeleteAcount()" *ngIf="_PERFIL">
    <ion-row>
      <ion-col col-12>
        <small style="color: red!important;"><strong>Eliminar Cuenta</strong></small>
      </ion-col>
    </ion-row>
  </button>
</ion-content>
