<ion-list>
  <button ion-item (click)="_editarOferta()">
    <img src="assets/imgs/icon/editar_oferta.svg" style="max-width: 9%;top: 4px;position: relative;">
    <!--<ion-icon name="kargoo-editar"></ion-icon>-->
    <span style="color: black"><strong> Editar oferta</strong></span>
  </button>
  <button ion-item (click)="culminarOferta()"
          *ngIf="this.navParams.get('data').postulados.length > 0 && postuladosaceptados(this.navParams.get('data').postulados) == 'ACEPTADA' || postuladosaceptados(this.navParams.get('data').postulados) == 'CULMINADA'">
    <img src="assets/imgs/icon/cerrar_oferta.svg" style="max-width: 9%;top: 4px;position: relative;">
    <span style="color: black"><strong>Cerrar oferta</strong></span>
  </button>
  <button ion-item (click)="rechazarOferta()" *ngIf="this.navParams.get('data').postulados.length < 1">
    <img src="assets/imgs/icon/eliminar_oferta_v2.svg" style="max-width: 9%;top: 4px;position: relative;">
    <span style="color: black"><strong>Eliminar oferta</strong></span>
  </button>
</ion-list>
