<!--
  Generated template for the MapaeventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title *ngIf="navParams.get('value') == 0">Lugar del evento</ion-title>
    <ion-title *ngIf="navParams.get('value') == 1">Direccion de cargue</ion-title>
    <ion-title *ngIf="navParams.get('value') == 2">Direccion de descargue</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <div id="mapa-show">
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked color="primary">
              Referencia
            </ion-label>
            <ion-select icon-end="" style="text-transform: capitalize" (ionChange)="ReferenciaEstablecida($event)"
                        placeholder="selecciona una referencia" interface="popover"
                        *ngIf="navParams.get('value') == 1 || navParams.get('value') == 2">
              <ion-option *ngFor="let t of referencia" [value]="t">{{t.nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <div id="map"></div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <div style="text-align: center;"
       *ngIf="navParams.get('value') == 1 || navParams.get('value') == 2">
    <button ion-button style="background: #00BA00;text-transform: unset" class="buttonevento"
            [disabled]="!this._Carga || this.dragend === true"
            (click)="addUbication()">
      Confirmar ubicación
    </button>
  </div>
</ion-footer>
