page-mapaevento {
  #mapa-show {
    //background: rgb(229, 227, 223);
    #map {
      width: 100%;
      height: 70vh;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map {
        opacity: 1;
      }
    }
    .scroll-content {
      margin-top: 56px;
      height: auto;
      width: 100%;
    }
    .scroll {
      height: calc(100% - 250px);
    }
    * {
      font-family: montserrat, sans-serif;
    }
  }
}
