page-reportar-problema {
  ion-content {
    background-color: #e5e6e7 !important;
    ul{
      padding: 0;
      list-style: none;
    }

    .col-arrow{
      display: flex;
      justify-content: center;
      max-height: 7rem;
    }

    .arrow-detail{
      width: 1rem !important;
      float: right;
      margin-right: 1rem;
    }
    textarea.box-commet {
      border: solid gray 1px;
      border-radius: 1rem;
      width: 100%;
      height: 10rem;
    }
    .row-btn-center{
      justify-content: center;
      padding: 1rem;
    }
    .btn-Activate{
      border-radius: 0.7rem;
      text-transform: inherit;
      font-weight: bold;
      border: solid black 1px;
    }
  }
}
