<!--
  Generated template for the ReportarProblemaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Reportar Problema</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <ion-row class="row-text-title">
      <p>Captura del problema</p>
    </ion-row>

    <ion-row class="row-color-white border-bottom" style="background: white" (click)="Evidendia_fotos()">
      <ion-col col-2="" style="margin: auto">
        <ion-avatar class="img-in-col-center">
          <img src="assets/imgs/icon/fotografialdpi.svg">
        </ion-avatar>
      </ion-col>
      <ion-col col-8="">
        <ul>
          <li>Fotografía</li>
          <li class="text-gray">Evidencia disponible</li>
        </ul>
      </ion-col>
      <ion-col col-1="" class="col-arrow">
        <img class="arrow-detail position-arrow" src="assets/imgs/icon/validado.svg" style="width: 2rem !important;">
      </ion-col>
      <ion-col col-1="" class="col-arrow">
        <img class="arrow-detail position-arrow" src="assets/imgs/icon/flecha-ir.svg">
      </ion-col>
    </ion-row>
    <form [formGroup]="formEventos">
      <ion-row class="row-text-title">
        <p>Tema</p>
      </ion-row>
      <ion-row class="row-color-white" style="background: white">
        <ion-col col-12="">
          <ion-item>
            <ion-label stacked color="primary">
              Seleccione
            </ion-label>
            <ion-select icon-end="" style="text-transform: capitalize" placeholder="Seleccione" interface="popover"
                        formControlName="id_tema">
              <ion-option *ngFor="let t of temas" [value]=" t.id ">{{t.descripcion}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="row-text-title">
        <p>Detalles</p>
      </ion-row>
      <ion-row class="row-color-white" style="background: white">
        <ion-col col-12="">
        <textarea class="box-commet" formControlName="descripcion" placeholder="Descripción del problema.">

        </textarea>
        </ion-col>
      </ion-row>
      <ion-row class="row-color-white marginTop-1rem row-btn-center" style="background: white">
        <button ion-button="" color="greenButton" class="btn-Activate" full (click)="SendApi()"
                [disabled]="!formEventos.valid"
        > Reportar
        </button>
      </ion-row>
    </form>
  </div>
</ion-content>
