
<ion-tabs [selectedIndex]="mySelectedIndex" name="conference" id="tabs" hidden>
  <ion-tab [root]="tab1Root" tabTitle="Solicitudes" tabIcon="git-pull-request" tabUrlPath="conference-schedule" [show]="ShoeTabs"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="Ofertas" tabIcon="filing" [show]="ShoeTabs"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root" tabTitle="Transportistas" tabIcon="person" [show]="ShoeTabs"></ion-tab>-->
  <!--<ion-tab [root]="tab4Root" tabTitle="Chat" tabIcon="chatboxes" [show]="ShoeTabs"></ion-tab>&ndash;&gt;-->
</ion-tabs>

