<!--
  Generated template for the DetailvinculatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row class="primerrow">
    <ion-col col-12>
      <span style="color:green"><strong>¡Gana Mueve Puntos!</strong></span>
      <p class="etiquetaP">
        <strong style="color:#00AEEA">+ 150</strong> por cada nueva orden recibida por un coordinador</p>
      <p class="etiquetaP">
        <strong style="color:#00AEEA">+ 75</strong> por cada vehiculo asignado a traves de un coordinador</p>
      <p style="color:#FF4F00" *ngIf="DETALLE.estado === 'PENDIENTE'"><strong style="color:black">Coordinador
        logistico</strong> ({{DETALLE.estado}})</p>
      <p style="color:#00BA00" *ngIf="DETALLE.estado === 'VINCULADO'"><strong style="color:black">Coordinador
        logistico</strong> ({{DETALLE.estado}})</p>
    </ion-col>
  </ion-row>
  <ion-row class="segundorow">
    <ion-col col-2>
      <img src="assets/imgs/icon/transportista-todos.svg" style="max-width: 75%">
    </ion-col>
    <ion-col col-10>
      <small style="color: black"><strong>Generadora:</strong> {{DETALLE.generador_nombre}}</small>
      <p class="otraP">
        {{DETALLE.nombre}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="tercerrow">
    <span>Resumen de actividad</span>
  </ion-row>
  <div>
    <ion-item>
      <span class="tamañospan">Ordenes solicitadas</span>
      <p style="margin-top: 0px">18</p>
    </ion-item>
    <ion-item>
      <span class="tamañospan">Vehiculos solicitados</span>
      <p style="margin-top: 0px">106 / 98</p>
    </ion-item>
    <ion-item>
      <span class="tamañospan">Porcentaje de efectividad</span>
      <p style="margin-top: 0px"><strong style="color:#00BA00">92 %</strong> (¡Muy buen trabajo, sigue asi!)</p>
    </ion-item>
    <ion-item>
      <span class="tamañospan"><strong>Mueve</strong> Puntos obtenidos</span>
      <p style="margin-top: 0px;color: #00AEEA"><strong>48.607</strong></p>
    </ion-item>
  </div>
</ion-content>
