page-detailvinculate {
  .primerrow {
    background: #e0e0e0;
    padding: 10px
  }
  .etiquetaP {
    margin-top: 0px;
    font-size: 11px
  }

  .segundorow {
    padding-left: 10px;
    padding-right: 10px;
    ion-col {
      margin: auto;
      text-align: left;
    }
  }

  .otraP {
    color: gray;
    font-weight: 500;
    margin-top: 2px
  }

  .tercerrow {
    padding-left: 10px;
    background: #e0e0e0;
    padding-top: 7px;
    height: 30px
  }

  .tamañospan {
    font-size: 11px;
  }
}
