<ion-list>
  <!--<button ion-item (click)="_Transportistas()">
    <ion-icon name="bus"></ion-icon>
    <ion-badge>Transportistas</ion-badge>
  </button>-->
  <button ion-item (click)="_Culminar()">
    <img src="assets/imgs/icon/crear-cumplido-remesa-manifiesto.svg" style="max-width: 6%">
    <span style="color: #00BA00"><strong> Culminar envío</strong></span></button>
  <button ion-item (click)="_Evento()">
    <img src="assets/imgs/icon/crear-evento.svg" style="max-width: 6%">
    <span style="color: red"><strong> Crear Evento / alerta</strong></span></button>
  <button ion-item (click)="_VerORM()">
    <img src="assets/imgs/icon/ver-orden.svg" style="max-width: 6%">
    <span style="color: black"><strong> Ver Orden/Remesa/Manif.</strong></span></button>
  <!-- <button ion-item (click)="_Despachadores()"><ion-icon name="person-add"></ion-icon> <ion-badge>Despachadores</ion-badge></button> -->
</ion-list>
