<!--
  Generated template for the EstadisticasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>
      <ion-icon name="pie"></ion-icon>&nbsp;Estadisticas
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-row class="paddingandcolor">
      <ion-col col-7>
        <span style=" color: white"><strong>N° {{ESTADISTICA.solicitudes_codigo}}</strong></span>
      </ion-col>
      <ion-col col-2 style="text-align: right;">
        <img src="assets/imgs/icon/vehiculo-cantidad-blanco.svg" style="max-width: 50%">
      </ion-col>
      <ion-col col-3>
        <span style="color:white"><strong>{{ESTADISTICA.solicitudes_cantidadregistrados}} / {{ESTADISTICA.solicitudes_cantidadvehiculo}}</strong></span>
      </ion-col>
    </ion-row>
    <br>
    <!--ESTADO PENDIENTE-->
    <ion-row style="background: #e0e0e0" *ngIf="ESTADISTICA.solicitudes_estado === 'PENDIENTE'">
      <ion-col style="text-align: center">
        <span> <strong>Estado </strong>- {{ESTADISTICA.solicitudes_estado}}</span>
        <progress-bar class="progressBarPen" [progress]="ESTADISTICA.porcentaje"></progress-bar>
      </ion-col>
    </ion-row>
    <!--ESTADO PROCESADO-->
    <ion-row style="background: #e0e0e0" *ngIf="ESTADISTICA.solicitudes_estado === 'PROCESANDO'">
      <ion-col style="text-align: center">
        <span> <strong>Estado </strong>- {{ESTADISTICA.solicitudes_estado}}</span>
        <progress-bar class="progressBarPen2" [progress]="ESTADISTICA.porcentaje"></progress-bar>
      </ion-col>
    </ion-row>
    <!--ESTADO CULMINADO-->
    <ion-row style="background: #8080802b" *ngIf="ESTADISTICA.solicitudes_estado === 'CULMINADO'">
      <ion-col style="text-align: center">
        <span> <strong>Estado </strong>- {{ESTADISTICA.solicitudes_estado}}</span>
        <progress-bar class="progressBarPen3" [progress]="ESTADISTICA.porcentaje"></progress-bar>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col col-2 class="textosSup">
        <span style="color: #FF4F00"><strong>{{Estadistica_data.asignado}}</strong></span>
      </ion-col>
      <ion-col col-10>
        <span><strong>Vehiculos - </strong>Asignados</span>
        <!--<progress-bar [progress]="Estadistica_data.asignado"></progress-bar>-->
        <progress-bar class="progressBarPen" [progress]="Estadistica_data.asignado"></progress-bar>
      </ion-col>
    </ion-row>
    <hr style="width: 80%">
    <ion-row>
      <ion-col col-2 class="textosSup">
        <span style="color: #FFC900"><strong>{{Estadistica_data.despachado}}</strong></span>
      </ion-col>
      <ion-col col-10>
        <span><strong>Vehiculos - </strong>Despachados</span>
        <!--<progress-bar [progress]="Estadistica_data.despachados"></progress-bar>-->
        <progress-bar class="progressBarPen4" [progress]="Estadistica_data.despachado"></progress-bar>
      </ion-col>
    </ion-row>
    <hr style="width: 80%">
    <ion-row>
      <ion-col col-2 class="textosSup">
        <span style="color: #005AA6"><strong>{{Estadistica_data.ruta}}</strong></span>
      </ion-col>
      <ion-col col-10>
        <span><strong>Vehiculos - </strong>En ruta</span>
        <!--<progress-bar [progress]="Estadistica_data.ruta"></progress-bar>-->
        <progress-bar class="progressBarPen2" [progress]="Estadistica_data.ruta"></progress-bar>
      </ion-col>
    </ion-row>
    <hr style="width: 80%">
    <ion-row>
      <ion-col col-2 class="textosSup">
        <span style="color: #00BA00"><strong>{{Estadistica_data.culminado}}</strong></span>
      </ion-col>
      <ion-col col-10>
        <span><strong>Vehiculos - </strong>Culminados</span>
        <!--<progress-bar [progress]="Estadistica_data.culminado"></progress-bar>-->
        <progress-bar class="progressBarPen3" [progress]="Estadistica_data.culminado"></progress-bar>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-content>
