page-estadisticas {
  .progressBarPen {
    .progress-outer {
      .progress-inner {
        background-color: #FF4F00 !important;
      }
    }
  }

  .paddingandcolor {
    padding-left: 10%;
    background: #005AA6;
    padding-right: 15%;
  }

  .progressBarPen2 {
    .progress-outer {
      .progress-inner {
        background-color: #005AA6 !important;
      }
    }
  }

  .progressBarPen3 {
    .progress-outer {
      .progress-inner {
        background-color: #00BA00 !important;
      }
    }
  }

  .progressBarPen4 {
    .progress-outer {
      .progress-inner {
        background-color: #FFC900 !important;
      }
    }
  }

  .textosSup {
    text-align: center;
    margin: auto;
    font-size: 27px;
  }

  .scroll-content {
    padding: 0 !important;
  }
}
