<script src="../estadisticas/estadisticas.ts"></script>
<ion-header>
  <ion-navbar color="{{_driverWorking}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <!--<ion-item (click)="_message(id_ofertante,empresa_name)" *ngIf="id_ofertante != undefined">
      <ion-avatar item-start>
        <img  src="{{_BASE_URL}}/mobile/imagen/{{id_ofertante}}">
      </ion-avatar>
      <h2 class="text-capitalize">
        <a *ngIf="_conectado(id_ofertante)"><ion-icon name="radio-button-on"></ion-icon></a>
        {{empresa_name | lowercase}}</h2>
      <h3 class="text-capitalize">{{contacto_name | lowercase}}</h3>
    </ion-item> -->
    <ion-item (click)="_message(445,'Soporte')">
      <ion-avatar item-start>
        <img src="assets/imgs/camion1.png">
      </ion-avatar>
      <h2><ion-icon name="help-buoy"></ion-icon>
         Soporte</h2>
      <h3>Consulta tus dudas aqui.</h3>
    </ion-item>

    <!-- LISTA DE CONECTADOS -->
    <ion-item *ngFor="let user of USER_CONECTADOS" (click)="_message(user.usuario_id, user.login)">
      <ion-avatar item-start>
        <img  src="{{_BASE_URL}}/imagen/{{user.usuario_id}}">
      </ion-avatar>
      <h2 class="text-capitalize">
        <a *ngIf="_conectado(id_ofertante)"><ion-icon name="radio-button-on"></ion-icon></a>
        {{user.login | lowercase}}</h2>
      <h3 class="text-capitalize">{{contacto_name | lowercase}}</h3>
    </ion-item>
  </ion-list>

</ion-content>
