<!--
  Generated template for the TrailerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Editar vehiculo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 13%">
                Placa veh
              </ion-label>
              <ion-input type="text" formControlName="placa" (blur)="comprobarCampo('placa')"
                         text-uppercase></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 13%">
                CC
              </ion-label>
              <ion-input type="text" formControlName="identificacion" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Placa del vehiculo
              </ion-label>
              <ion-input type="text" formControlName="placa" (blur)="comprobarCampo('placa')"
                         text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <!--<ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                CC del propietario
              </ion-label>
              <ion-input type="text" formControlName="propietarioidentificacion" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/conductor.svg" style="max-width: 6%">
                Nombre del propietario
              </ion-label>
              <ion-input type="text" formControlName="nombre" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
                Tipo de vehiculo
              </ion-label>
              <ion-select type="text" formControlName="id_tipovehiculo">
                <ion-option *ngFor="let a of data_vehiculo" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
              Carroceria
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_carroceria"
                       [Rules]="{labelInput:'Carroceria',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_Carroceria($event)"></typeahead>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
              Color trailer
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_color"
                       [Rules]="{labelInput:'Color Trailer',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_ColorTrailer($event)"></typeahead>
            <!--<ion-input type="text" formControlName="color"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
              Marca Vehiculo
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_marca"
                       [Rules]="{labelInput:'Marca Vehiculo',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_MarcaVehiculo($event)"></typeahead>
            <!--<ion-input type="text" formControlName="color"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
              Tipo de linea
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_linea"
                       [Rules]="{labelInput:'Tipo de linea',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_TipoLinea($event)"></typeahead>
            <!--<ion-input type="text" formControlName="color"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Peso.svg" style="max-width: 6%">
                Peso del vehiculo
              </ion-label>
              <ion-input type="text" formControlName="peso" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-label>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
              Aseguradora
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_aseguradora"
                       [Rules]="{labelInput:'Aseguradora',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_Aseguradora($event)"></typeahead>
            <!--<ion-input type="text" formControlName="color"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label floating="" color="dark">
              <img src="assets/imgs/icon/fecha-carga.svg" style="max-width: 6%">
              Vencimiento Soat
            </ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechavencesoat"
                          [min]="getCurrentTime()"></ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
                Numero de poliza SOAT
              </ion-label>
              <ion-input type="text" formControlName="poliza" (blur)="comprobarCampo('poliza')"
                         text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/fecha-entrega.svg" style="max-width: 6%">
                Año de fabricacion
              </ion-label>
              <ion-input type="text" formControlName="fabricacion" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Peso-Galon.svg" style="max-width: 7%">
                TIPO COMBUSTIBLE
              </ion-label>
              <ion-select type="text" formControlName="id_combustible">
                <ion-option *ngFor="let a of data_combustible" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <typeahead #typeaheadplataform [Data]="data_carroceria"
                       [Rules]="{labelInput:'Carroceria',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_Carroceria($event)"></typeahead>
            &lt;!&ndash;<ion-input type="text" formControlName="departamento"></ion-input>&ndash;&gt;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Trailer
              </ion-label>
              <ion-select type="text" formControlName="id_tipotrailer">
                <ion-option *ngFor="let a of data_tipotrailer" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Combustible
              </ion-label>
              <ion-select type="text" formControlName="id_combustible">
                <ion-option *ngFor="let a of data_combustible" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <typeahead #typeaheadplataform [Data]="data_marca"
                       [Rules]="{labelInput:'Marca Trailer',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_MarcaTrailer($event)"></typeahead>
            &lt;!&ndash;<ion-input type="text" formControlName="departamento"></ion-input>&ndash;&gt;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-12 col-md-2 col-lg-2>
            <typeahead #typeaheadplataform [Data]="data_color"
                       [Rules]="{labelInput:'Color Trailer',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id', search_for_Item:'descripcion' }"
                       (ValueOutput)="_ColorTrailer($event)"></typeahead>
            &lt;!&ndash;<ion-input type="text" formControlName="departamento"></ion-input>&ndash;&gt;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Unidad de medida
              </ion-label>
              <ion-select type="text" formControlName="id_unidadmedida">
                <ion-option *ngFor="let a of data_unidadmedida" [value]="a.id">{{a.descripcion}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Peso del trailer
              </ion-label>
              <ion-input type="text" formControlName="peso"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Capacidad de carga
              </ion-label>
              <ion-input type="text" formControlName="capacidad"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="create"></ion-icon>
                Fabricacion
              </ion-label>
              <ion-input type="text" formControlName="fabricacion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <!--<div class="col-md-6">
        <label>Carroceria</label>
        <div class="position-relative has-icon-left">
        <input [typeahead]="data_carroceria" typeaheadOptionField="descripcion"
        [typeaheadOptionsInScrollableView]="5"
        type="text" class="form-control" placeholder="Carroceria"
        (typeaheadOnSelect)="setCarroceria($event)"
        formControlName="carroceria">
        <div class="form-control-position">
        <i class="info icon-user"></i>
        </div>
        </div>
        </div>-->
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <!-- <button ion-button="" color="primary" (click)="_next()" *ngIf="Opc <= 1">
       Siguiente
     </button> -->
    <button padding ion-button="" class="button-block" (click)="saveData()" [disabled]="form.invalid">
      REGISTRAR
    </button>
  </ion-col>
</ion-content>
