page-detalletransportista {
  .dataDiv {
    background: white;
    margin-top: 1vh
  }
  .dataRow {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
  }
  .margenP {
    font-size: 12px;
    margin-top: 0px;
  }
  .dataSpan {
    font-size: 12px;
  }
}
