<!--
  Generated template for the DetalletransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-11>
        <ion-title>Detalles</ion-title>
      </ion-col>
      <ion-col col-1 (click)="popoverEdit($event)">
        <ion-icon name="more" color="light" style="font-size: 25px;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content style="background: #D3D3D3;">
  <ion-row style="background: #00BA00;height: 7vh;"
           *ngIf="this.navParams.get('value') !== 3">
    <ion-col col-12 style="margin: auto;text-align: center">
      <img src="assets/imgs/icon/validados.svg" style="max-width: 7%">
      <span style="font-size: 12.5px;
                    color: white;
                    text-transform: initial;
                    position: relative;
                    bottom: 1vh;">
        &nbsp;Documentos verificados y vigentes</span>
    </ion-col>
  </ion-row>
  <ion-row style="background: #00BA00;height: 4vh;"
           *ngIf="_Detalle.ocupado == 'DISPONIBLE' && this.navParams.get('value') === 3">
    <span style="margin: auto;color: white"><strong>Disponible</strong></span>
  </ion-row>
  <ion-row style="background: #00BA00;height: 4vh;"
           *ngIf="_Detalle.ocupado == 'Activo en uno de tus ofertas' && this.navParams.get('value') === 3">
    <span style="margin: auto;color: white"><strong>Activo en una de tus ofertas</strong></span>
  </ion-row>
  <ion-row style="background: red;height: 4vh;"
           *ngIf="_Detalle.ocupado == 'NO DISPONIBLE' && this.navParams.get('value') === 3">
    <span style="margin: auto;color: white"><strong>No disponible</strong></span>
  </ion-row>
  <div style="background: white;padding-left: 20px;">
    <ion-row>
      <ion-col col-12 style="margin-top: 2vh;">
        <span style="font-size: 12px;color: #00c4ff;margin-top: 9px"><strong>Transportista</strong></span>
        <p style="font-size: 17px;text-transform: capitalize;margin-bottom: 0px;margin-top: 0px">
          {{_Detalle.persona_nombre.toLowerCase()}}</p>
        <p style="margin-top: 0px;font-size: 12px">Tiempo activo {{_Detalle.tiempo}}</p>
        <button ion-button outline style="height: 5vh;border-radius: 4px"
                *ngIf="_Value && _Value.estado !== 'CANCELADA'"
                (click)="PhoneCall(_Detalle.persona_telefono, _Detalle, _Value)">
          <img src="assets/imgs/icon/telefono_azulldpi.svg" style="max-width: 20%">
          &nbsp;&nbsp;{{_Detalle.persona_telefono}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ul style="font-size: 12px;padding: 0px;margin-top: -6px;">
          <li class="marginBottom1" style="list-style: none;">
            <img src="assets/imgs/icon/culminar-envio.svg" alt="" style="max-width: 3%">
            Transportista verificado
          </li>
          <li class="text-gray" style="list-style: none;">
            <img src="assets/imgs/icon/culminar-envio.svg" alt="" style="max-width: 3%">
            Licencia de tránsito activa
          </li>
          <li class="text-gray" style="list-style: none;">
            <img src="assets/imgs/icon/culminar-envio.svg" alt="" style="max-width: 3%">
            SOAT del vehículo vigente
          </li>
          <li class="text-gray" style="list-style: none;">
            <img src="assets/imgs/icon/culminar-envio.svg" alt="" style="max-width: 3%">
            Tecnicomecánica del vehículo vigente
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </div>
  <div class="dataDiv" *ngIf="this.navParams.get('value') === 3">
    <ion-row class="dataRow">
      <ion-col col-1>
        <img src="assets/imgs/icon/icono_vehiculo.svg" style="max-width: 100%">
      </ion-col>
      <ion-col col-3>
        <span class="dataSpan"><strong>Vehículo</strong></span>
        <p class="margenP">{{_Detalle.tipovehiculo_descripcion}}</p>
      </ion-col>
      <ion-col col-1>
        <img src="assets/imgs/icon/icono_placa.svg" style="max-width: 100%">
      </ion-col>
      <ion-col col-3>
        <span class="dataSpan"><strong>Placa</strong></span>
        <p class="margenP">{{_Detalle.vehiculo_placa}}</p>
      </ion-col>
      <ion-col col-1>
        <img src="assets/imgs/icon/trailer_v2.svg" style="max-width: 100%">
      </ion-col>
      <ion-col col-3>
        <span class="dataSpan"><strong>Trailer</strong></span>
        <p class="margenP">{{_Detalle.trailer_placa}}</p>
      </ion-col>
    </ion-row>
  </div>
  <div style="background: white;margin-top: 1vh">
    <ion-row>
      <ion-col col-3 style="text-align: center;margin: auto">
        <img src="assets/imgs/icon/gold_categorialdpi.svg" style="max-width: 70%;" *ngIf="_Detalle.categoria == 'GOLD'">
        <img src="assets/imgs/icon/Rango_plata_icono.svg" style="max-width: 70%;"
             *ngIf="_Detalle.categoria == 'SILVER'">
        <img src="assets/imgs/icon/Rango_bronce_icono.svg" style="max-width: 70%;"
             *ngIf="_Detalle.categoria == 'BRONZE'">
      </ion-col>
      <ion-col col-9 style="margin-top: 4px;">
        <span style="margin-top: 4px">Categoría</span><br>
        <p style="margin-top: 0px">
          <ion-badge color="yellow" *ngIf="_Detalle.categoria == 'GOLD'" style="margin-top: 4px;">ORO</ion-badge>
          <ion-badge color="light" *ngIf="_Detalle.categoria == 'SILVER'" style="margin-top: 4px;">PLATA</ion-badge>
          <ion-badge color="bronze" *ngIf="_Detalle.categoria == 'BRONZE'" style="margin-top: 4px;">BRONCE</ion-badge>
        </p>
        <p style="margin-top: -9px;">
          <img src="assets/imgs/icon/generador.svg" style="max-width: 5%">
          Basado en {{_Detalle.viajes}} viajes.
        </p>
      </ion-col>
    </ion-row>
  </div>
  <div style="background: white;margin-top: 1vh">
    <ion-row>
      <ion-col col-3 style="text-align: center;margin: auto">
        <img src="assets/imgs/icon/reputacion_nuevoldpi.svg" style="max-width: 70%;"
             *ngIf="_Detalle.reputacion == 'NUEVO'">
        <img src="assets/imgs/icon/rep_icon_excelente.svg" style="max-width: 70%;"
             *ngIf="_Detalle.reputacion == 'EXCELENTE'">
        <img src="assets/imgs/icon/rep_icon_buenaldpi.svg" style="max-width: 70%;"
             *ngIf="_Detalle.reputacion == 'BUENO'">
        <img src="assets/imgs/icon/rep_icon_normalldpi.svg" style="max-width: 70%;"
             *ngIf="_Detalle.reputacion == 'ACEPTABLE'">
        <img src="assets/imgs/icon/rep_icon_regularldpi.svg" style="max-width: 70%;"
             *ngIf="_Detalle.reputacion == 'REGULAR'">
      </ion-col>

      <!--TIPO DE REPUTACION-->
      <ion-col col-9>
        <p style="margin-bottom: 0px;">Reputación</p>
        <p style="color: #00c4ff;font-size: 12px;margin-top: 0px;"
           *ngIf="_Detalle.reputacion == 'NUEVO'">{{_Detalle.reputacion}}</p>
        <p style="color: #ffa800;font-size: 12px;margin-top: 0px;"
           *ngIf="_Detalle.reputacion == 'ACEPTABLE'">{{_Detalle.reputacion}}</p>
        <p style="color: red;font-size: 12px;margin-top: 0px;"
           *ngIf="_Detalle.reputacion == 'REGULAR'">{{_Detalle.reputacion}}</p>
        <p style="color: #00BA00;font-size: 12px;margin-top: 0px;"
           *ngIf="_Detalle.reputacion == 'BUENO'">{{_Detalle.reputacion}}</p>
        <p style="color: #00BA00;font-size: 12px;margin-top: 0px;"
           *ngIf="_Detalle.reputacion == 'EXCELENTE'">{{_Detalle.reputacion}}</p>
        <!--<p style="font-size: 12px;">Basado en {{_Detalle.calificaciones}} calificaciones</p>-->
        <p style="font-size: 12px;" *ngIf="_Detalle.reputacion == 'NUEVO'"><b>¡Nuevos transportistas se nos unen día a
          día!</b>
          Todos los transportistas son validados y
          cumplen con los requerimientos que la ley
          exige.</p>
        <p style="font-size: 12px;" *ngIf="_Detalle.reputacion == 'EXCELENTE'">Es confiable, puntual, rapido y cumple
          con
          efectividad cualquier envío, conoce el <b style="color:#00AEEA">sistema de reputación</b></p>
        <p style="font-size: 12px;" *ngIf="_Detalle.reputacion == 'BUENO'">Es confiable y cumple con efectividad
          cualquier envío. conoce el <b style="color:#00AEEA">sistema de reputación</b></p>
        <p style="font-size: 12px;" *ngIf="_Detalle.reputacion == 'ACEPTABLE'">Es un transportista nuevo y no ha tenido
          suficientes viajes para hacerse con una reputación. conoce el <b style="color:#00AEEA">sistema de
            reputación</b></p>
        <p style="font-size: 12px;" *ngIf="_Detalle.reputacion == 'REGULAR'">Ha tenido regularmente contratiempos y/o
          no cumplio eficientemente sus envíos. conoce el <b style="color:#00AEEA">sistema de reputación</b></p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="this.navParams.get('value') === 3">
    <ion-row style="margin-top: 10px;margin-left: 10px">
      <ion-col col-12>
        <span>
          Resumen de actividad
        </span>
      </ion-col>
    </ion-row>
  </div>
  <div style="background: white" *ngIf="this.navParams.get('value') === 3">
    <ion-row style="margin-top: 10px;margin-left: 10px">
      <ion-col col-12 style="padding-top: 10px;padding-left: 10px">
        <span>
          Viajes realizados
        </span>
        <p>{{_Detalle.viajes}}</p>
        <hr style="width: 80%">
        <span>
          Fecha de último viaje
        </span>
        <p>{{_Detalle.ultfecha}}</p>
      </ion-col>
    </ion-row>
  </div>
  <ion-row justify-content-around="">
    <ion-col col-12 col-sm-3 col-md-4 *ngIf="_Value !== null && this.ofertadetalle.estado !== 'CULMINADA'">
      <button ion-button="" block class="buttonOferta"
              style="background: #00BA00;border-radius: 5px;text-transform: unset"
              [disabled]="this.ofertadetalle.estado == 'ACEPTADA'"
              (click)="aceptarTransportistas(_Detalle, _Value)">
        <img src="assets/imgs/icon/enviar_a_cargue.svg" style="width: 28px">
        &nbsp;&nbsp;Enviar a cargue
      </button>
    </ion-col>
    <!--<ion-col col-12 col-sm-3 col-md-4 *ngIf="this._Value.estado !== 'ACEPTADA' && this._Value.estado != 'CULMINADA'">
      <button ion-button block color="danger" class="buttonOferta" style="border-radius: 5px;text-transform: unset"
              [disabled]="_Value.estado == 'CANCELADA'"
              (click)="rechazarTransportistas(_Value.ofertaid, _Value)">
        <img src="assets/imgs/icon/rechazar-blanco.svg" style="width: 15px">
        &nbsp;&nbsp;Rechazar Transportista
      </button>
    </ion-col>-->
    <ion-col col-12 col-sm-3 col-md-4
             *ngIf="_Value !== null && ofertadetalle.estado !== 'CANCELADA'">
      <button ion-button block color="danger" class="buttonOferta" style="border-radius: 5px;text-transform: unset"
              [disabled]="this._Detalle.ocupado == 'DISPONIBLE'"
              (click)="rechazarTransportistas1(_Detalle, _Value)">
        <img src="assets/imgs/icon/rechazar-blanco.svg" style="width: 15px">
        &nbsp;&nbsp;Cancelar envío a cargue
      </button>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px"
           *ngIf="this._Value === null && this.navParams.get('data').id_oferta !== undefined && _Calificado && _Detalle.estado == 'CULMINADO' && _Calificado.despachador_clasificacion !== 'SI'">
    <button ion-button style="background: #00BA00" block (click)="calificarTransportista()">Calificar Transportista
    </button>
  </ion-row>
  <ion-row style="margin-top: 5px"
           *ngIf="this._Value === null && this.navParams.get('data').id_oferta !== undefined && _Calificado && _Detalle.estado == 'CULMINADO' && _Calificado.despachador_clasificacion !== 'NO'">
    <button ion-button style="background: #005AA3" block>Transportista calificado
    </button>
  </ion-row>
  <ion-row style="margin-top: 5px"
           *ngIf="this._Value === null && this.navParams.get('data').id_oferta !== undefined && _Calificado && _Detalle.estado == 'CULMINADO' && _Calificado.despachador_clasificacion !== 'NO'">
    <button ion-button style="background: #00BA00" block (click)="SeeCalification()">Ver calificación
    </button>
  </ion-row>
  <ion-row style="margin-top: 5px"
           *ngIf="this._Value !== null && _Detalle.despachador_clasificacion !== 'SI' && this._Value.estado == 'CULMINADA'">
    <button ion-button style="background: #00BA00" block (click)="calificarTransportista()">Calificar Transportista
    </button>
  </ion-row>
  <ion-row style="margin-top: 5px"
           *ngIf="this._Value !== null && _Detalle.despachador_clasificacion !== 'NO' && this._Value.estado == 'CULMINADA'">
    <button ion-button style="background: #005AA3" block>Transportista calificado
    </button>
  </ion-row>
</ion-content>
