page-transportistas-list {
  .imagenes {
    text-align: center;
  }

  .logos {
    max-width: 35% !important;
  }

  .divtelefono {
    margin: auto;
    background: #005AA6;
    width: 16vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 16%
      }
    }
  }

  .divtelefono1 {
    //margin: auto;
    //background: #005AA6;
    width: 15vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 16%
      }
    }
  }

  .divROW {
    ion-row {
      padding-left: 35px;
      background: white;
      padding-top: 8px;
      padding-right: 25px
    }
  }

  .transportistaBorde {
    border-left: 7px solid;
    border-left-color: #FFC900;
  }

  .transportistaBorde1 {
    border-left: 7px solid;
    border-left-color: #00BA00;
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }

  .buttontrans {
    height: 23px;
    width: 125px;
    color: black;
    text-transform: full-width;;
  }
}
