<!--
  Generated template for the TransportistasListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="azul_rey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Transportistas
    </ion-title>
  </ion-navbar>
  <!--<ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Buscar Oferta">
    </ion-searchbar>
  </ion-toolbar>-->

</ion-header>


<ion-content style="background: #e0e0e0">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="divROW">
    <ion-row>
      <!--IMAGENES CABECERAS-->
      <ion-col col-4 class="imagenes">
        <img src="assets/imgs/icon/Todos.svg" (click)="_listaTransportistas('todos')" class="logos"
             style="max-width: 40%!important;" *ngIf="segment === 'todos'">
        <img src="assets/imgs/icon/todos-off.svg" (click)="_listaTransportistas('todos')" class="logos"
             style="max-width: 40%!important;" *ngIf="segment !== 'todos'">
        <p style="margin-top: 1px">Todos</p>
      </ion-col>
      <ion-col col-4 class="imagenes">
        <img src="assets/imgs/icon/Listos.svg" (click)="_listaTransportistas('listos')" class="logos"
             style="max-width: 40%" *ngIf="segment === 'listos'">
        <img src="assets/imgs/icon/listos-off.svg" (click)="_listaTransportistas('listos')" class="logos"
             style="max-width: 40%" *ngIf="segment !== 'listos'">
        <p style="margin-top: 1px">Listos</p>
      </ion-col>
      <ion-col col-4 class="imagenes">
        <img src="assets/imgs/icon/Completar.svg" (click)="_listaTransportistas('completar')" class="logos"
             style="max-width: 40%" *ngIf="segment === 'completar'">
        <img src="assets/imgs/icon/completar-off.svg" (click)="_listaTransportistas('completar')" class="logos"
             style="max-width: 40%" *ngIf="segment !== 'completar'">
        <p style="margin-top: 1px">Completar</p>
      </ion-col>
    </ion-row>
  </div>
  <ion-row style="background: white">
    <ion-col col-2 style="margin: auto;
                      text-align: center;">
          <span style="font-size: 3.5rem;color: #00c4ff"
                *ngIf="transportistas">{{transportistas.length}}</span>
    </ion-col>
    <ion-col col-10>
      <ion-searchbar color="primary"
                     [(ngModel)]="queryText"
                     (ionInput)="updateSchedule()"
                     placeholder="Búsqueda rápida">
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-list #scheduleList>
    <ion-item-group *ngFor="let t of transportistas" style="margin-bottom: 10px;">

      <ion-item-sliding #slidingItem>
        <div ion-item [ngClass]="{'transportistaBorde' : t.trailer_placa === 'SIN TRAILER' || t.vehiculo_placa === 'SIN VEHICULO',
                      'transportistaBorde1' : t.trailer_placa !== 'SIN TRAILER' && t.vehiculo_placa !== 'SIN VEHICULO'}">
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/transportista-todos.svg" style="max-width: 90%">
            </ion-col>
            <ion-col col-6 style="text-align: left;font-size: 9px;margin: auto">
              <span><strong>{{t.persona_nombre}}</strong></span>
            </ion-col>
            <div class="divtelefono1" *ngIf="t.trailer_placa === 'SIN TRAILER' || t.vehiculo_placa === 'SIN VEHICULO'">
              <ion-col col-1 style="top: 3px;left: 5px">
                <!--<img src="assets/imgs/icon/tel-on-blanco.svg">-->
              </ion-col>
              <ion-col col-3 style="text-align: left;bottom: 2px;top: 2px">
                <span style="color: white;font-size: 11px"></span>
              </ion-col>
            </div>
            <div class="divtelefono" *ngIf="t.trailer_placa !== 'SIN TRAILER' && t.vehiculo_placa !== 'SIN VEHICULO'">
              <ion-col col-1 style="top: 3px;left: 5px">
                <img src="assets/imgs/icon/tel-on-blanco.svg">
              </ion-col>
              <ion-col col-3 style="text-align: left;top: 1px;right: 5px">
                <span style="color: white;font-size: 11px">{{t.persona_telefono}}</span>
              </ion-col>
            </div>
          </ion-row>
          <ion-row style="padding-left: 20px;padding-right: 20px">
            <ion-col col-1>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <span *ngIf="t.vehiculo_placa"><strong>Vehiculo</strong></span>
              <p style="margin-top: 1px" *ngIf="t.vehiculo_placa"><strong>{{t.vehiculo_placa}}</strong></p>
              <p style="margin-top: 1px" *ngIf="!t.vehiculo_placa"><strong>No posee</strong></p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <span><strong>Tipo Vehiculo</strong></span>
              <p style="margin-top: 1px"><strong>{{t.tipovehiculo_descripcion}}</strong></p>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 20px;padding-right: 20px">
            <ion-col col-1>
              <img src="assets/imgs/icon/licencia.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <span *ngIf="t.trailer_placa"><strong>Trailer</strong></span>
              <p style="margin-top: 1px" *ngIf="t.trailer_placa"><strong>{{t.trailer_placa}}</strong></p>
              <p style="margin-top: 1px" *ngIf="!t.trailer_placa"><strong>No posee</strong></p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/licencia.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <span><strong>Identificacion</strong></span>
              <p style="margin-top: 1px"><strong>{{t.persona_identificacion}}</strong></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <button style="background: #ffa800;color: black" class="buttontrans" ion-button
                      *ngIf="t.trailer_placa === 'SIN TRAILER'" (click)="_CrearTrailer(t)">
                + Crear
                trailer
              </button>
              <button style="background: #e0e0e0" class="buttontrans" ion-button
                      *ngIf="t.trailer_placa !== 'SIN TRAILER'" (click)="_EditarTrailer(t)">
                + Editar
                trailer
              </button>
            </ion-col>
            <ion-col col-6>
              <button style="background: #ffa800;color: black" class="buttontrans" ion-button
                      *ngIf="t.vehiculo_placa === 'SIN VEHICULO'" (click)="_CrearVehiculo(t)">
                + Crear
                vehiculo
              </button>
              <button style="background: #e0e0e0" class="buttontrans" ion-button
                      *ngIf="t.vehiculo_placa !== 'SIN VEHICULO'" (click)="_EditarVehiculo(t)">
                + Editar
                vehiculo
              </button>
            </ion-col>
          </ion-row>
          <!--<ion-row>
            <ion-col col-12>
              <ion-icon name="car"></ion-icon>
              <span *ngIf="t.trailer_placa"><strong>Trailer : </strong> {{t.trailer_placa}}</span>
              <span *ngIf="!(t.trailer_placa)"><strong>No posee trailer</strong></span>
            </ion-col>
          </ion-row>-->
        </div>

        <!--<ion-item-options>
          <button ion-button icon-only (click)="presentPopover($event,t)">
            <ion-icon name="more"></ion-icon>
          </button>
          &lt;!&ndash;<button ion-button color="secondary" (click)="addFavorite(slidingItem, solicitud)" *ngIf="segment === 'all'">
            <ion-icon name="star" style="font-size: 1.5rem"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeFavorite(solicitud, session, 'Remove Favorite')"
                  *ngIf="segment === 'favorites'">
            Remove
          </button>&ndash;&gt;
        </ion-item-options>-->

      </ion-item-sliding>


    </ion-item-group>
  </ion-list>
  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab color="azul_rey" (click)="addTransportista()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
