page-asignar-transportistas {

  .font-size-greko {
    font-size: 0.8em !important;
  }
  .col-center-button {
    display: flex;
    justify-content: center;
  }

  .selectIonic {
    border-radius: 25px !important;
    //background: #808080;
    //background:#80808026 !important
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }

}
