<!--
  Generated template for the AsignarTransportistasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Asignar transportistas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--<ion-list *ngFor="let D of Datos_Solicitud">
    <ion-item>
      <ion-thumbnail item-start>
        <img (error)="_IMG_DEFAULT($event)" src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>{{D.nombre}}</h2>
      <p>Telefono: {{D.telefono}}</p>
      <p>Total
        <ion-badge>{{D.cantidad_vehiculo}}</ion-badge>
        Vehículos
      </p>
    </ion-item>
  </ion-list>-->
  <ion-list>
    <br>
    <div style="text-align: center">
      <span><strong>SELECCIONE UN TRANSPORTISTA</strong></span>
    </div>
    <ion-row>
      <ion-col col-2 style="margin: auto;
                      text-align: center;">
        <span style="font-size: 3.5rem;color: #FF4F00" *ngIf="DATOS_SELECT">{{DATOS_SELECT.length}}</span>
      </ion-col>
      <ion-col col-10>
        <ion-searchbar color="primary"
                       [(ngModel)]="SearchPlaca"
                       (ionInput)="Search_for_placa()"
                       placeholder="Búsqueda rápida">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <!--<ion-item>
      <ion-label floating>Elegir de la lista</ion-label>
      <ion-select interface="popover" multiple="true" class="selectIonic" (ionChange)="_selectTransportista($event)">
        <ion-option *ngFor="let s of DATOS_SELECT" [value]="s">{{s.persona_nombre}}</ion-option>
      </ion-select>
    </ion-item>-->
  </ion-list>
  <ion-list>

    <!--<ion-item-divider>
      <h2 text-center="">TRASPORTISTAS ASIGNADOS</h2>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let i of TRASPORTISTAS_ENTURNADOS; let _index =index ">
      <ion-item>
        <h2>
          <ion-badge>Nombre</ion-badge>&nbsp;<span class="font-size-greko">{{i.persona_nombre}}</span>&nbsp;
        </h2>
        <p>
          <ion-badge>Placa</ion-badge>&nbsp;<span class="font-size-greko">{{i.vehiculo_placa}} </span>
          <ion-icon color="secondary" name="checkbox"></ion-icon>
        </p>
      </ion-item>

      <ion-item-options side="left" (ionSwipe)="deleteItem(i.id,_index,i)">
        <button ion-button color="danger" expandable>
          <ion-icon name="trash"></ion-icon>
          ELIMINAR
        </button>
      </ion-item-options>
    </ion-item-sliding>-->
    <ion-row style="text-align: center;">
      <ion-col col-12 style="margin-top: -20px;">
        <span style="font-size: 30px;color: red">{{this.vehiculosR}}/{{solicitud.solicitudes_cantidadvehiculo}}</span>
        <span><strong>&nbsp;VEHICULOS DISPONIBLES {{solicitud.tipovehiculo_descripcion}}</strong></span>
      </ion-col>
      <!--<ion-col class="col-7">
        <button ion-button="" style="background: #00BA00;color: white;font-size: 12px;font-weight: 500;width: 17rem;"
                [disabled]="solicitud.solicitudes_cantidadregistrados >= solicitud.solicitudes_cantidadvehiculo"
                (click)="AsignarTrasportista()">
          <strong>VALIDAR Y ASIGNAR</strong>
        </button>
      </ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <span style="color: red;font-weight: 500" *ngIf="this.vehiculosR >= solicitud.solicitudes_cantidadvehiculo"> * Cupo completado </span>
      </ion-col>
    </ion-row>
    <hr style="width: 100%">
    <div *ngFor="let i of DATOS_SELECT; let idx = index">
      <ion-row style="height: 50px;padding-left: 15px;padding-right: 15px;">
        <ion-col col-1>
          <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%;">
        </ion-col>
        <ion-col col-5>
          <span style="font-size: 11px"><strong>CONDUCTOR</strong></span>
          <p style="font-size: 9px">{{i.persona_nombre}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/placa.svg" style="max-width: 100%;">
        </ion-col>
        <ion-col col-3>
          <span style="font-size: 11px"><strong>PLACA</strong></span>
          <p style="font-size: 11px">{{i.vehiculo_placa}}</p>
        </ion-col>
        <ion-col col-2>
          <!--<img src="assets/imgs/icon/culminado-on.svg" style="max-width: 70%" (click)="AsignarTrasportista(i, idx)"
               *ngIf="this.vehiculosR < solicitud.solicitudes_cantidadvehiculo">-->
          <img src="assets/imgs/icon/culminado-on.svg" style="max-width: 70%" (click)="AsignarTrasportista(i, idx)">
        </ion-col>
      </ion-row>

      <!--<h2>
        <ion-badge>CONDUCTOR</ion-badge>&nbsp;<span class="font-size-greko">{{i.persona_nombre}}</span>&nbsp;
      </h2>
      <p>
        <ion-badge>Placa</ion-badge>&nbsp;<span class="font-size-greko">{{i.vehiculo_placa}}</span></p>-->
    </div>
    <!--<ion-item detail-push *ngFor="let i of TRASPORTISTAS_SELECCIONADOS">
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/Peso-kilo.svg" style="max-width: 100%;">
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/Peso-kilo.svg" style="max-width: 100%;">
        </ion-col>
        <ion-col col-6>
          <span style="font-size: 12px"><strong>CONDUCTOR</strong></span>
          <p style="font-size: 12px">{{i.persona_nombre}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/Peso-kilo.svg" style="max-width: 100%;">
        </ion-col>
        <ion-col col-3>
          <span style="font-size: 12px"><strong>PLACA</strong></span>
          <p style="font-size: 12px">{{i.vehiculo_placa}}</p>
        </ion-col>
      </ion-row>
      &lt;!&ndash;<h2>
        <ion-badge>CONDUCTOR</ion-badge>&nbsp;<span class="font-size-greko">{{i.persona_nombre}}</span>&nbsp;
      </h2>
      <p>
        <ion-badge>Placa</ion-badge>&nbsp;<span class="font-size-greko">{{i.vehiculo_placa}}</span></p>&ndash;&gt;
    </ion-item>-->

    <!--<ion-row>
      <ion-col class="col-center-button">
        <button ion-button="" *ngIf=" TRASPORTISTAS_SELECCIONADOS.length > 0" (click)="AsignarTrasportista()">
          asignar
        </button>
      </ion-col>
    </ion-row>-->


  </ion-list>

</ion-content>
