page-evidencias {

  .img-btn-camera {
    width: 5rem;
  }
  .col-tj-1 {
    display: flex !important;
    flex-flow: column;
    align-items: flex-end;
    padding-right: 20px !important;
  }

  .col-tj-2 {
    display: flex !important;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 20px !important;
  }

  ion-slides{
    background-color: gray;
    max-height: 35rem !important;

    .delete-img {
      position: absolute;
      top: 0;
      margin-left: 10rem;
      /* margin-right: 0rem; */
      /* float: right; */
      z-index: 9999;
      ion-icon{ color: red;
      font-size: 2rem;
      }
      width: 10rem;
    }
  }



  .colorXbtn{
    color: #ff9138 !important;
    font-weight: bold;
    font-size: 1.2em !important;
  }
  .head-content{
    background-color: #1E88E5;
    h2{
      text-align: center;
      color: #FFF;
    }
  }
  .size-btn{
    font-size: 1.5rem !important;
  }
  .center-image{
    display: flex;
    justify-content: center;
  }
  .img-slide{
    margin: 0 auto;
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
  }

}
