<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title text-center="">
      <ion-icon name="images"></ion-icon>
      Evidencias
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="GuardarImages()" class="colorXbtn" [attr.disabled]="image.length > 0 ? null : true">
        <!--  <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
        Guardar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="row-gray">
    <ion-col col-12 style="text-align: center">
      <p class="p-text-info">
        Puedes cargar o tomar la fotografía
      </p>
    </ion-col>
  </ion-row>

  <ion-slides pager class="">

    <ion-slide *ngFor="let i of image; let inx = index">
      <img (error)="_IMG_DEFAULT_SLIDER($event,1)" [src]="i" class="img-slide" imageViewer>
      <span class="delete-img" (click)=" _DeleteImage(inx);">
        <ion-icon name="close-circle" item-right=""></ion-icon>
      </span>
    </ion-slide>

    <ion-slide *ngIf="image.length == 0">
      <img (error)="_IMG_DEFAULT_SLIDER($event,1)" [src]="image[1]" class="img-slide" imageViewer>
      <span class="delete-img">
        <ion-icon name="close-circle" item-right=""></ion-icon>
      </span>
    </ion-slide>


  </ion-slides>
  <ion-row class="">
    <ion-col col-6="" class="col-tj-1">
      <img [src]="btn_subir" class="img-btn-camera" (click)="PHOTOLIBRARY()">

    </ion-col>

    <ion-col col-6="" class="col-tj-2">
      <img [src]="btn_tomar" class="img-btn-camera" (click)="CAMERA()">
    </ion-col>
  </ion-row>


</ion-content>
