
.reset-filters {
  color: color($colors, danger);
}
$categories: (
  ionic: color($colors, primary),
  angular: #AC282B,
  borrador: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  publicada: #69BB7B,
  asignada:#07833b,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);
@function auxiliary-categories() {
  @return map-remove($categories);
}

@each $track, $value in auxiliary-categories() {

  ion-item[track=#{$track}] .dot {
    height: 10px;
    display: inline-block;
    width: 10px;
    background-color: $value;
    border-radius: 5px;
    margin-right: 10px;
  }

}
