<!--
  Generated template for the TimelinetransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Bitácora de viaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row style="background: #00BA00">
    <ion-col col-1 style="text-align: center;margin: auto;">
      <img src="assets/imgs/icon/transportista-todos.svg" style="max-width: 100%">
    </ion-col>
    <ion-col col-5 style="text-align: center;margin: auto;font-size: 12px;color:white">
      <p style="text-transform: capitalize"><b>{{Datatransportista.persona_nombre.toLowerCase()}}</b></p>
    </ion-col>
    <ion-col col-1 style="text-align: center;margin: auto">
      <img src="assets/imgs/icon/tipo_veh.svg" style="max-width: 100%">
    </ion-col>
    <ion-col col-5 style="text-align: center;margin: auto;font-size: 12px;color:white">
      <p><b>{{Datatransportista.vehiculo_placa}}</b></p>
    </ion-col>
  </ion-row>
  <ion-row style="padding-left: 15px;background: #e0e0e0;padding-top: 10px">
    <ion-col col-2 style="margin: auto;text-align: center">
      <ion-icon name="time" color="danger"></ion-icon>
    </ion-col>
    <ion-col col-10>
      <span style="color:red"><strong>Duración del viaje</strong></span>
      <p style="margin-top: 0px" *ngIf="this.navParams.get('value')">{{this.navParams.get('value').duracion}}</p>
    </ion-col>
  </ion-row>

  <button ion-item *ngFor="let t of Timeline" (click)="detalleEvento(t)">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/p-cargado_v2.svg" style="max-width: 85%" *ngIf="t.evento == 'Cargada'">
        <img src="assets/imgs/icon/culminado_v2.svg" style="max-width: 80%" *ngIf="t.evento == 'Entrega'">
        <img src="assets/imgs/icon/en-ruta_v2.svg" style="max-width: 85%" *ngIf="t.evento == 'Despachada'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%" *ngIf="t.evento == 'Accidente'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%" *ngIf="t.evento == 'Pinchazo'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%"
             *ngIf="t.evento == 'Mantenimiento'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%" *ngIf="t.evento == 'Derrumbe'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%" *ngIf="t.evento == 'Marcha/Paro'">
        <img src="assets/imgs/icon/aceptado_v2.svg" style="max-width: 85%" *ngIf="t.evento == 'Llegada a Destino'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%"
             *ngIf="t.evento == 'Cambio De Vehiculo'">
        <img src="assets/imgs/icon/alerta_importantesldpi.svg" style="max-width: 65%"
             *ngIf="t.evento == 'Cambio De Trailer'">
      </ion-col>
      <ion-col col-8>
        <span style="color: black;font-weight: 500">{{t.evento}} <b style="color: #00AEEA"></b></span>
        <p style="margin-top: 0px"><b>{{t.fechahoraregistro}}</b></p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
      </ion-col>
    </ion-row>
  </button>

</ion-content>
