page-orden-carga {
  .rowOrden {
    height: 48px;
    padding-top: 3px;
    padding-right: 35px;
    padding-left: 35px;
    background: #FFC900;
    text-align: left;
    img {
      max-width: 100%;
    }
    p.spanC {
      margin-top: 1px;
    }
  }
  ion-list.list.list-md {
    padding: 0px !important;
  }
}
