<!--
  Generated template for the TrailerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Crear Orden de Carga</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <ion-row class="rowOrden">
      <ion-col col-1>
        <img src="assets/imgs/icon/conductor.svg">
      </ion-col>
      <ion-col col-5>
        <span><strong>CONDUCTOR</strong></span>
        <p class="spanC">Larry Fuentes</p>
      </ion-col>
      <ion-col col-1>
        <img src="assets/imgs/icon/placa.svg">
      </ion-col>
      <ion-col col-5>
        <span><strong>PLACA</strong></span>
        <p class="spanC">KBT528</p>
      </ion-col>
    </ion-row>
  </div>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-label>
              <img src="assets/imgs/icon/empaquetado.svg" style="width: 13px;">
              Empaquetado
            </ion-label>
            <typeahead #typeaheadplataform [Data]="data_empaquetado"
                       [Rules]="{labelInput:'Empaquetado',valueOutput:'codigo', search_for_Item:'descripcion' }"
                       (ValueOutput)="_Empaquetado($event)"></typeahead>
            <!--<ion-input type="text" formControlName="departamento"></ion-input>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/pago-valor.svg" style="width: 13px;">
                Pago Saldo
              </ion-label>
              <ion-select type="text" (ionChange)="changed($event)" formControlName="pagosaldo">
                <ion-option (value)=true>Origen</ion-option>
                <ion-option (value)=false>Destino</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/pago-valor.svg" style="width: 13px;">
                Cantidad
              </ion-label>
              <ion-input type="text" formControlName="cantidad"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <div>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/tiempo-cargue.svg" style="width: 13px;">
                  Tiempo de cargue
                </ion-label>
                <ion-select type="text" (change)="cambioSelect('pactocarga')" formControlName="pactocarga">
                  <ion-option value="1">Si</ion-option>
                  <ion-option value="0">No</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/tiempo-cargue.svg" style="width: 13px;">
                  Tiempo de Descargue
                </ion-label>
                <ion-select type="text" (change)="cambioSelect('pactoentrega')" formControlName="pactoentrega">
                  <ion-option value="1">Si</ion-option>
                  <ion-option value="0">No</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
          <!--<ion-row>
            <ion-col col-12>
              <typeahead #typeaheadplataform [Data]="data_remydes"
                         [Rules]="{labelInput:'Destinatario',labelcolor:'dimgray',labelicon:'globe',valueOutput:'tercero_id', search_for_Item:'tercero_nombre' }"
                         (ValueOutput)="_Remydes($event)"></typeahead>
              &lt;!&ndash;<ion-input type="text" formControlName="departamento"></ion-input>&ndash;&gt;
            </ion-col>
          </ion-row>-->
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/horas-cargue.svg" style="width: 13px;">
                  Horas cargue
                </ion-label>
                <ion-input type="number" placeholder="10" min="0" max="99"
                           formControlName="horaspactocargue"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/horas-cargue.svg" style="width: 13px;">
                  Minutos cargue
                </ion-label>
                <ion-input type="number" placeholder="53" min="0" max="59"
                           formControlName="minutospactocargue"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/horas-cargue.svg" style="width: 13px;">
                  Horas descargue
                </ion-label>
                <ion-input type="number" placeholder="11" min="0" max="99"
                           formControlName="horaspactodescargue"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/horas-cargue.svg" style="width: 13px;">
                  Minutos descargue
                </ion-label>
                <ion-input type="number" placeholder="59" min="0" max="59"
                           formControlName="minutospactodescargue"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/pago-valor.svg" style="width: 13px;">
                Valor flete
              </ion-label>
              <ion-input type="text" class="form-control" formControlName="valorfletepactadoviaje"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/anticipo.svg" style="width: 13px;">
                % de anticipo
              </ion-label>
              <ion-input type="number" min="0" max="100" formControlName="porcentaje"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/valor-anticipo.svg" style="width: 13px;">
                Valor del anticipo
              </ion-label>
              <ion-input type="text" formControlName="valoranticipomanifiesto"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label floating="" color="dark">
              <img src="assets/imgs/icon/fecha-pago-manifiesto.svg" style="width: 25px;">
              <span style="font-size: 19px">Fecha pago manifiesto</span>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fechapagosaldomanifiesto"
                          [min]="getCurrentTime()"></ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                Observaciones
              </ion-label>
              <ion-textarea formControlName="observaciones" placeholder="ingrese la Observacion"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col col-12>
            <pre>{{form.value | json}}</pre>
          </ion-col>
        </ion-row>-->
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <button padding ion-button="" style="background: #00BA00" class="button-block" (click)="saveData()"
            [disabled]="form.invalid">
      Registrar y Transferir a despachos
    </button>
  </ion-col>
</ion-content>
