<!--
  Generated template for the AddTransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Crear transportista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="finger-print"></ion-icon>
                Identificacion
              </ion-label>
              <ion-input type="text" formControlName="personaidentificacion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="person"></ion-icon>
                Primer Nombre
              </ion-label>
              <ion-input type="text" formControlName="personanombre" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="person"></ion-icon>
                Primer Apellido
              </ion-label>
              <ion-input type="text" formControlName="primerapellido" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="call"></ion-icon>
                Telefono
              </ion-label>
              <ion-input type="number" formControlName="personatelefono"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="at"></ion-icon>
                Email
              </ion-label>
              <ion-input type="email" formControlName="personaemail"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="home"></ion-icon>
                Direccion
              </ion-label>
              <ion-input type="text" formControlName="personadireccion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="document"></ion-icon>
                Licencia
              </ion-label>
              <ion-select type="text" formControlName="licencia">
                <ion-option value="A1">Licencia A1 Aprobada</ion-option>
                <ion-option value="A2">Licencia A2 Aprobada</ion-option>
                <ion-option value="B1">Licencia B1 Aprobada</ion-option>
                <ion-option value="B2">Licencia B2 Aprobada</ion-option>
                <ion-option value="B3" selected>Licencia B3 Aprobada</ion-option>
                <ion-option value="C1">Licencia C1 Aprobada</ion-option>
                <ion-option value="C2">Licencia C2 Aprobada</ion-option>
                <ion-option value="C3">Licencia C3 Aprobada</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="document"></ion-icon>
                N° Licencia
              </ion-label>
              <ion-input type="text" formControlName="numerolicencia"></ion-input>
            </ion-item>
          </ion-col>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label floating="" color="dark">
                  <ion-icon name="calendar"></ion-icon>
                  Fecha de Vencimiento
                </ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" formControlName="eps" [min]="getCurrentTime()"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-sm-5 col-md-2 col-lg-2>
              <typeahead #typeaheadplataform [Data]="_Municipios"
                         [Rules]="{labelInput:'Ubicación',labelcolor:'dimgray',labelicon:'globe',valueOutput:'id_municipio', search_for_Item:'municipio_nombre' }"
                         (ValueOutput)="_UbicacionOutput($event)"></typeahead>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-sm-5 col-md-2 col-lg-2>
              <typeahead #typeaheadplataform [Data]="_Sucursal"
                         [Rules]="{labelInput:'Sucursal',labelcolor:'dimgray',labelicon:'pin',valueOutput:'sucursal_id', search_for_Item:'sucursal_empresa' }"
                         (ValueOutput)="_SucursalOutput($event)"></typeahead>
              <!--<ion-input type="text" formControlName="departamento"></ion-input>-->
            </ion-col>
          </ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="person"></ion-icon>
                Usuario
              </ion-label>
              <ion-input type="text" formControlName="usuario"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <ion-item>
              <ion-label floating="" color="dark">
                <ion-icon name="key"></ion-icon>
                Clave
              </ion-label>
              <ion-input type="text" formControlName="clave"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <!-- <button ion-button="" color="primary" (click)="_next()" *ngIf="Opc <= 1">
       Siguiente
     </button> -->
    <button padding ion-button="" style="background: #00BA00;color:white" class="button-block" (click)="saveData()"
            [disabled]="form.invalid">
      <strong>REGISTRAR</strong>
    </button>
  </ion-col>
</ion-content>
