page-ajustes-app {
  ion-content{
    background-color: #e5e6e7 !important;
    ul{
      padding: 0;
      list-style: none;
    }

    .col-arrow{
      display: flex;
      justify-content: center;
      max-height: 7rem;
    }

    .img-in-col-center{
      img {width: 4rem !important;}
      display: flex;
      justify-content: center;
     // max-height: 5rem;
    }
    .max-height-7_5rem{
      max-height: 7.5rem !important;
    }

    .arrow-detail{
      width: 1rem !important;
      float: right;
      margin-right: 1rem;
    }
  }
}
