<ion-header>
  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-9 style="margin: auto">
        <ion-title>
          Ajustes
        </ion-title>
      </ion-col>
      <ion-col col-3 (click)="_Notificaciones()">
        <div style="display: flex;align-self: center;">
            <span style="font-size: 20px;color: white;margin: auto;"><ion-badge color="notificaciones" round>
            {{Notificacion}}
          </ion-badge>&nbsp;<ion-icon name="notifications" color="light" item-end
                                      style="position: relative;font-size: 25px;top: 3px;"></ion-icon></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="row-text-title" style="padding-left: 20px">
    <p>Cuenta</p>
  </ion-row>
  <!-- CUENTA -->
  <button ion-item (click)="Account()">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_cuentaldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Cuenta e inicio de sesión</span>
        <p style="margin-top: 0px">Actualizar información</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img class="arrow-detail position-arrow" src="assets/imgs/icon/flecha-ir.svg"
             style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <ion-row class="row-text-title" style="padding-left: 20px">
    <p>Etiquetas</p>
  </ion-row>
  <!--Etiquetas-->
  <button ion-item (click)="createEtiqueta()">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_reportarldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Gestiona tus etiquetas</span>
        <p style="margin-top: 0px">Crea, edita o borra tus etiquetas</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <ion-row class="row-text-title" style="padding-left: 20px">
    <p>Centro de Ayuda (Frecuentes)</p>
  </ion-row>

  <!-- OFERTAS DE CARGA-->
  <button ion-item (click)="createOferta()">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_ofertaldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Ofertas de carga</span>
        <p style="margin-top: 0px">Crea y publica</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <!-- REPUTACION Y CALIFICACION -->
  <button ion-item>
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_reputaciónldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Reputación</span>
        <p style="margin-top: 0px">Sistema de calificación</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>


  <!-- MUEVE PUNTOS -->
  <button ion-item (click)="goMuevePuntos()">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_mueve_puntosldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Mueve Puntos</span>
        <p style="margin-top: 0px">Saber más</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>


  <ion-row class="row-text-title" style="padding-left: 20px">
    <p>Términos y Condiciones</p>
  </ion-row>


  <!-- TERMINOS DE USO -->
  <button ion-item (click)="linksgo.goRoute('7')">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_terminosldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Términos y condiciones</span>
        <p style="margin-top: 0px">Saber más</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <!-- POLITICA D DATOS -->
  <button ion-item (click)="linksgo.goRoute('8')">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_politica_datldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Políticas de datos</span>
        <p style="margin-top: 0px">Saber más</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>


  <ion-row class="row-text-title" style="padding-left: 20px">
    <p>Acerca de</p>
  </ion-row>

  <!-- MUEVE LOGISTICA -->
  <button ion-item (click)="linksgo.goRoute('9')">
    <ion-row class="row-color-white border-bottom max-height-7_5rem prueba-ripple">
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_mueve_logldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Mueve Logística</span>
        <p style="margin-top: 0px">Tu gran aliado</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <!-- COMPARTIR MUEVE LOGISTICA -->
  <button ion-item (click)="Compartir(_User)">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_shareldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Compartir</span>
        <p style="margin-top: 0px">Gana compartiendo</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <!-- REPORTAR UN PROBLEMA-->
  <button ion-item (click)="ReportProblem()">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_reportarldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Sugerencias</span>
        <p style="margin-top: 0px">Ayúdanos a mejorar</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">
      </ion-col>
    </ion-row>
  </button>

  <!--SINCRONIZAR DATOS-->
  <button ion-item (click)="sincronizateData()">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_solicitudesldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Sincronizar datos</span>
        <p style="margin-top: 0px">Descargar última data del servidor</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <!--<img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">-->
      </ion-col>
    </ion-row>
  </button>

  <!-- APP -->
  <button ion-item>
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/ajustes_version_appldpi.svg" style="max-width: 75% !important;">
      </ion-col>
      <ion-col col-8="" style="font-size: 14px;">
        <span>Versión del sistema</span>
        <p style="margin-top: 0px">{{VersionApp}}</p>
      </ion-col>
      <ion-col col-2="" style="margin: auto;text-align: center">
        <!--<img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 23% !important;">-->
      </ion-col>
    </ion-row>
  </button>

  <button ion-item (click)="linksgo.goRoute('6')">
    <ion-row>
      <p class="p-text-info" style="font-size: 13px;">Ingresa al <span class="color-text-blue"><b style="color:#00c4ff">Preguntas Frecuentes</b></span>
        para más información.</p>
    </ion-row>
  </button>


</ion-content>
