$categories: (
  aceptada: color($colors, primary),
  cerrada: #AC282B,
  borrador: #8E8D93,
  tooling: #FE4C52,
  pendiente: #FD8B2D,
  design: #FED035,
  publicada: #69BB7B,
  asignada:#07833b,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-oferta-detalle {
  @each $track, $value in auxiliary-categories() {
    accordion {
      ion-card {
        ion-card-header {
          ion-item[track=#{$track}] {
            border-left: 5px solid $value;
            padding-left: 10px;
          }
        }
      }

    }

  }

  .logos {
    max-width: 60% !important;
  }

  .imagenes {
    text-align: center;
  }

  ion-row {
    ion-col {
      button.buttonOferta {
        color: white;
        text-transform: full-width;;
        border-radius: 10px;
        height: 30px;
      }
    }
  }

  .divtelefono {
    margin: auto;
    background: #005AA6;
    width: 15vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 13%;
        margin-top: -12px;
        margin-left: 10px;
      }
    }
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }
}
