<ion-header>
  <ion-navbar color="azul_rey" no-border-bottom>
    <ion-title>
      Oferta
    </ion-title>
    <!--<ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
      <ion-segment-button value="todas">
        Todas
      </ion-segment-button>
      <ion-segment-button value="aceptada">
        Aceptadas
      </ion-segment-button>
      <ion-segment-button value="pendiente">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="cerrada">
        Cerradas
      </ion-segment-button>
    </ion-segment>-->

  </ion-navbar>
  <!--<ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="Search_placa_name()"
                   placeholder="Buscar por Placa">
    </ion-searchbar>
  </ion-toolbar>-->

</ion-header>


<ion-content>
  <!-- Empieza Refresh -->
  <ion-refresher (ionRefresh)="doRefresh(oferta,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Fin Refresh -->

  <ion-row style="padding-left: 35px;background: white;padding-top: 8px;padding-right: 35px;">
    <ion-col col-4 class="imagenes">
      <img src="assets/imgs/icon/postulados-on.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('todas')" *ngIf="segment === 'todas'">
      <img src="assets/imgs/icon/postulados-off.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('todas')" *ngIf="segment !== 'todas'">
      <span style="font-size: 13px;">Postulados</span>
    </ion-col>
    <ion-col col-4 class="imagenes">
      <img src="assets/imgs/icon/asignados-on_1.svg" class="logos" style="max-width: 57%!important;"
           (click)="updateSegment('aceptada')" *ngIf="segment === 'aceptada'">
      <img src="assets/imgs/icon/asignados-off_1.svg" class="logos" style="max-width: 57%!important;"
           (click)="updateSegment('aceptada')" *ngIf="segment !== 'aceptada'">
      <span style="font-size: 13px;">Asignados</span>
    </ion-col>
    <ion-col col-4 class="imagenes">
      <img src="assets/imgs/icon/rechazados-on.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('cancelada')" *ngIf="segment === 'cancelada'">
      <img src="assets/imgs/icon/asignados-off_2.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('cancelada')" *ngIf="segment !== 'cancelada'">
      <span style=" font-size: 13px;">Rechazados</span>
    </ion-col>
  </ion-row>

  <div style="background: white">
    <ion-row>
      <ion-col col-2 style="margin: auto;
                      text-align: center;">
        <span style="font-size: 4rem;color: #FF4F00" *ngIf="oferta">{{oferta.length}}</span>
      </ion-col>
      <ion-col col-10>
        <ion-searchbar color="primary"
                       [(ngModel)]="queryText"
                       (ionInput)="Search_placa_name()"
                       placeholder="Búsqueda rápida">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
  <!--<ion-card *ngIf="oferta">
    <ion-card-header>
      <ion-row>
        <ion-col col-6>
          <span><strong>N° {{oferta.oferta_codigo}}</strong></span>&nbsp;
        </ion-col>
        <ion-col col-6>
          <ion-icon name="people"></ion-icon>
          Postulados:
          <ion-badge color="dark" *ngIf="oferta">{{oferta.postulados.length}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <hr style="width: 100%">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-icon name="car"></ion-icon>
          <span><strong>Cupos: </strong>({{oferta.oferta_registrado}}/{{oferta.oferta_cantidad}})</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/Origen.svg" style="max-width: 15px;color: #005AA3">
        </ion-col>
        <ion-col col-11>
          <span style="color: #005AA3"><strong>ORIGEN :</strong></span><span>&nbsp;{{oferta.origen}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h3 style="color: #EB6400">
            <ion-icon name="calendar"></ion-icon>
            <strong>Fecha Carga</strong>
          </h3>
          <p>{{oferta.fechacarga}}</p>
        </ion-col>
        <ion-col col-6>
          <h3>
            <ion-icon name="calendar"></ion-icon>
            Tipo Carga
          </h3>
          <p>{{oferta.tipocarga_nombre}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/Destino.svg" style="max-width: 15px;color: #005AA3">
        </ion-col>
        <ion-col col-11>
          <span style="color: #005AA3"><strong>DESTINO :</strong></span><span>&nbsp;{{oferta.destino}}</span>
        </ion-col>
      </ion-row>
      <ion-row justify-content-around="">
      </ion-row>

      <ion-row justify-content-around="">
        <ion-col>
          <h3 style="color: #EB6400">
            <ion-icon name="calendar"></ion-icon>
            <strong>Fecha Entrega</strong>
          </h3>
          <p>{{oferta.fechaentrega}}</p>
        </ion-col>
        <ion-col>
          <h3>
            <ion-icon name="cube"></ion-icon>
            Producto
          </h3>
          <p>{{oferta.oferta_producto | uppercase}}</p>
        </ion-col>
      </ion-row>

      <ion-row justify-content-around="">
        <ion-col>
          <h3>
            <ion-icon name="car"></ion-icon>
            Vehículo
          </h3>
          <p>{{oferta.tipovehiculo_nombre}}</p>
        </ion-col>
        <ion-col>
          <h3>
            <ion-icon name="cash"></ion-icon>
            Valor
          </h3>
          <p>{{oferta.oferta_valor}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>-->

  <!--<accordion *ngFor="let  p of POSTULANTES">-->
  <accordion *ngFor="let  p of oferta">
    <ion-item accordion-header class="accordion-label" [attr.track]="p.postulacion_estado | lowercase">
      <ion-row>
        <ion-col col-2>
          <img src="assets/imgs/icon/transportista-todos.svg" style="max-width: 50%">
        </ion-col>
        <ion-col col-6>
          <span style="font-size: 10px">{{p.nombre}}</span>
        </ion-col>
        <div class="divtelefono">
          <ion-col col-1>
            <img src="assets/imgs/icon/tel-on-blanco.svg" style="max-width: 10%">
          </ion-col>
          <ion-col col-3 style="bottom: 18px;left: 23px;">
            <span style="color: white;font-size: 11px">{{p.tlfno}}</span>
          </ion-col>
        </div>
      </ion-row>
    </ion-item>
    <ion-grid accordion-body>

      <!--  -->
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Vehículo</strong></span>
          <p style="margin-top: 1px">{{p.placa}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/placa.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Licencia</strong></span>
          <p style="margin-top: 1px">{{p.licencia}}</p>
        </ion-col>
      </ion-row>
      <!--  -->
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/placa.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Identificación</strong></span>
          <p style="margin-top: 1px">{{p.identificacion}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/direccion.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Direccion</strong></span>
          <p style="margin-top: 1px">{{p.direccion}}</p>
        </ion-col>
      </ion-row>
      <!-- -->
      <ion-row justify-content-around="" *ngIf="_EstadoOferta(p.oferta_estado); else estadopostulacion ">
        <ion-col col-6 col-sm-3 col-md-4>
          <button ion-button="" class="buttonOferta" style="background: #FF4F00;"
                  *ngIf="p.estado !== 'ACEPTADA' && p.estado !== 'CANCELADA'"
                  (click)="aceptarTransportistas(p.ofertaid, p)">
            <img src="assets/imgs/icon/asignar-transportista.svg" style="width: 28px">
            &nbsp;&nbsp;Asignar
          </button>
        </ion-col>
        <ion-col col-6 col-sm-3 col-md-4>
          <button ion-button color="danger" class="buttonOferta" *ngIf="segment !== 'cancelada'"
                  (click)="rechazarTransportistas(p.ofertaid, p)">
            <img src="assets/imgs/icon/rechazar-blanco.svg" style="width: 15px">
            &nbsp;&nbsp;Rechazar
          </button>
        </ion-col>
      </ion-row>
      <!--<ng-template #estadopostulacion>
        <ion-row>
          <ion-col>
            <ion-icon name="information-circle"></ion-icon>
            <ion-badge>{{p.oferta_estado}}</ion-badge>
          </ion-col>
        </ion-row>
      </ng-template>-->

    </ion-grid>
  </accordion>
</ion-content>
