page-mueveputos {
  .progressBarPen {
    .progress-outer {
      .progress-inner {
        background-color: #ED6F24 !important;
      }
    }
  }

  .progressBarPen1 {
    .progress-outer {
      .progress-inner {
        background-color: #808080 !important;
      }
    }
  }

  .categoriaimagen {
    text-align: center;
    position: relative;
    max-width: 35%;
    bottom: 4vh;
    margin: auto;
  }

  .cabecera-muevepuntos {
    img {
      max-width: 18%;
      padding-top: 4vh;
      padding-bottom: 4vh;
    }

    .texto-puntos {
      text-align: left;
      margin: auto;
    }

    //height: 25vh;
  }

  .progressBarPen2 {
    .progress-outer {
      .progress-inner {
        background-color: #FFD311 !important;
      }
    }
  }

  .primerRow1 {
    background: #F15A24;

    ion-col {
      text-align: right;

      span {
        color: white;
      }
    }
  }

  .primerRow2 {
    background: #808080;

    ion-col {
      text-align: right;

      span {
        color: white;
      }
    }
  }

  .primerRow3 {
    background: #FFD311;

    ion-col {
      text-align: right;

      span {
        color: white;
      }
    }
  }

  .segundoRow {
    padding-top: 10px;

    ion-col {
      text-align: center;

      img {
        max-width: 8% !important;
      }

      span {
        font-size: 30px;
      }
    }
  }

  .btn-Activate {
    //font-size: 1rem;
    text-transform: initial;
    font-weight: bold;
    border: solid black 1px !important;
  }

  .border-radius0-7 {
    border-radius: 0.7rem;
  }

  .calendary-awards {
    margin-top: 8rem;

    a {
      text-decoration: none;
    }

    ion-avatar {
      width: 7rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    .row-item-center {
      display: flex;
      justify-content: center;
    }
  }

  .flechaIr {
    max-width: 18% !important;
  }

  .cuartoRow {
    background: #e0e0e0;
    padding-left: 10px;
    height: 14vh;

    ion-col {
      span {
        font-size: 11px;
      }
    }
  }
}
