<ion-header>
  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-9 style="margin: auto">
        <ion-title>
          Mueve Puntos
        </ion-title>
      </ion-col>
      <ion-col col-3 (click)="_Notificaciones()">
        <div style="display: flex;align-self: center;">
            <span style="font-size: 20px;color: white;margin: auto;"><ion-badge color="notificaciones" round>
            {{Notificacion}}
          </ion-badge>&nbsp;<ion-icon name="notifications" color="light" item-end
                                      style="position: relative;font-size: 25px;top: 3px;"></ion-icon></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--SIN CONEXION-->
  <div *ngIf="!BadConection">
    <ion-row style="background: red;height: 4vh;">
      <p style="margin: auto;color: white">Sin conexión a Mueve Logística</p>
    </ion-row>
  </div>

  <section class="calendary-awards" *ngIf="ErrorConexion === true">
    <ion-row class="row-item-center">
      <ion-avatar class="img-in-col-center">
        <img src="assets/imgs/icon/no_conection.svg">
      </ion-avatar>
    </ion-row>

    <ion-row style="padding: 10px">
      <ion-col>
        <ul style="font-size: 12px;">
          <li class="marginBottom1" style="font-size: 15px !important;">Ha ocurrido un problema</li>
          <br>
          <li class="text-gray">No hay conexión con Mueve Logistica. intenta de</li>
          <li class="text-gray">nuevo más tarde.
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12="">
        <button ion-button="" full color="greenButton" class="btn-Activate border-radius0-7"
                (click)="_MuevePuntos()">
          Reintentar
        </button>
      </ion-col>
    </ion-row>
  </section>
  <!--FIN CONEXION-->
  <div *ngIf="ErrorConexion=== false">
    <!--IMAGEN CABECERA-->
    <ion-row *ngIf="Puntos && Puntos.categoria" style="padding: 1vh;height: 52vh;">
      <ion-col col-12 style="text-align: center;margin: auto">
        <img *ngIf="!_IMG" (error)="_DEFAULT_ImagenPerfil($event)"
             src="{{ImagenPerfil}}" [ngClass]="{'custom-avatar-muevepuntos-oro' : Puntos.categoria === 'GOLD',
                      'custom-avatar-muevepuntos-silver' : Puntos.categoria === 'SILVER', 'custom-avatar-muevepuntos-bronce' : Puntos.categoria === 'BRONZE'}"
             imageViewer/>
        <img *ngIf="_IMG" src="{{image}}" class="custom-avatar" imageViewer/>
      </ion-col>
      <ion-col col-12 style="text-align: center;margin: auto;bottom: 6vh;">
        <img src="assets/imgs/icon/ico_oro_mp.svg" style="max-width: 10%;"
             *ngIf="Puntos && Puntos.categoria == 'GOLD'">
        <img src="assets/imgs/icon/ico_plata_mp.svg" style="max-width: 10%;"
             *ngIf="Puntos && Puntos.categoria == 'SILVER'">
        <img src="assets/imgs/icon/ico_bronce_mp.svg" style="max-width: 10%;"
             *ngIf="Puntos && Puntos.categoria == 'BRONZE'">
        <p *ngIf="Puntos && Puntos.categoria == 'GOLD'">
          <ion-badge color="yellow">Oro</ion-badge>
        </p>
        <p *ngIf="Puntos && Puntos.categoria == 'SILVER'">
          <ion-badge color="placa">Plata</ion-badge>
        </p>
        <p *ngIf="Puntos && Puntos.categoria == 'BRONZE'">
          <ion-badge color="bronze">Bronze</ion-badge>
        </p>
        <img src="assets/imgs/icon/estrellas.svg" style="max-width: 22%;" *ngIf="Puntos && Puntos.categoria == 'GOLD'">
      </ion-col>
      <!--PERSONA NOMBRE-->
      <ion-col col-12 style="text-align: center;bottom: 6vh;">
        <span *ngIf="Puntos && Puntos.categoria == 'GOLD'"><strong
          style="color:#FBB03B">{{DataPerfil.persona_nombre}}</strong></span>
        <span *ngIf="Puntos && Puntos.categoria == 'SILVER'"><strong
          style="color:#808080">{{DataPerfil.persona_nombre}}</strong></span>
        <span *ngIf="Puntos && Puntos.categoria == 'BRONZE'"><strong
          style="color:#F15A24">{{DataPerfil.persona_nombre}}</strong></span>
        <!--PUNTOS CUENTA-->
        <p *ngIf="Puntos" style="margin-top: 1px"><b style="color:#00AEEA">{{Puntos.punto.toLocaleString()}} MP</b></p>
        <p *ngIf="Puntos && Puntos.categoria === 'GOLD'"><b>¡Posees el rango más alto!</b></p>
      </ion-col>
    </ion-row>
    <!--Barra de progreso-->
    <div>
      <hr style="width: 80%" *ngIf="Puntos && Puntos.categoria !== 'GOLD'">
      <ion-row *ngIf="Puntos && Puntos.categoria !== 'GOLD'">
        <ion-col col-2 style="text-align: center;margin:auto;">
          <img src="assets/imgs/icon/ico_oro_mp.svg" style="max-width: 61%;"
               *ngIf="Puntos && Puntos.categoria == 'GOLD'">
          <img src="assets/imgs/icon/ico_plata_mp.svg" style="max-width: 61%;"
               *ngIf="Puntos && Puntos.categoria == 'SILVER'">
          <img src="assets/imgs/icon/ico_bronce_mp.svg" style="max-width: 61%;"
               *ngIf="Puntos && Puntos.categoria == 'BRONZE'">
        </ion-col>
        <ion-col col-8 style="text-align: center">
          <span style="font-size: 11px"><b>¡Realiza viajes para subir de Rango!</b></span>
          <progress-bar [ngClass]="{'progressBarPen' : Puntos.categoria === 'BRONZE',
                      'progressBarPen1' : Puntos.categoria === 'SILVER'}" [progress]="Porcentaje"></progress-bar>
        </ion-col>
        <ion-col col-2 style="text-align: center;margin:auto;">
          <img src="assets/imgs/icon/ico_oro_mp.svg" style="max-width: 61%;"
               *ngIf="Puntos && Puntos.categoria == 'GOLD'">
          <img src="assets/imgs/icon/ico_oro_mp.svg" style="max-width: 61%;"
               *ngIf="Puntos && Puntos.categoria == 'SILVER'">
          <img src="assets/imgs/icon/ico_plata_mp.svg" style="max-width: 61%;"
               *ngIf="Puntos && Puntos.categoria == 'BRONZE'">
        </ion-col>
        <ion-col style="text-align: center;bottom: 2vh;">
        <span style="font-size: 11px" *ngIf="Puntos && Puntos.categoria == 'SILVER'"><b
          style="color:#00AEEA">{{Puntos.total}} MP</b> para pasar al rango <b>ORO</b></span>
          <span style="font-size: 11px" *ngIf="Puntos && Puntos.categoria == 'BRONZE'"><b
            style="color:#00AEEA">{{Puntos.total}} MP</b> para pasar al rango <b>PLATA</b></span>
        </ion-col>
      </ion-row>
    </div>
    <!--Fin barra de progreso-->
    <ion-row class="cuartoRow">
      <ion-col col-12>
        <span>Para subir de categoría requiere cumplir un mínimo de MP y despachos realizados</span>
        <p>Objetivos</p>
      </ion-col>
    </ion-row>
    <button ion-item (click)="goPage('logros')">
      <ion-row>
        <ion-col col-10>
          <small><strong>Logros</strong></small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px;">
            Lista de desbloqueables
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" class="flechaIr">
        </ion-col>
      </ion-row>
    </button>
    <button ion-item (click)="goPage('retos')">
      <ion-row>
        <ion-col col-10>
          <small><strong>Retos</strong></small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px;">
            Ganar MP con objetivos
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" class="flechaIr">
        </ion-col>
      </ion-row>
    </button>
    <button ion-item (click)="goPage('bonus')">
      <ion-row>
        <ion-col col-10>
          <small><strong>Bonus</strong></small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px;">
            Gana MP con acciones
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" class="flechaIr">
        </ion-col>
      </ion-row>
    </button>
    <ion-row style="background: #e0e0e0;padding-left: 10px">
      <ion-col col-12>
        <span>Premios</span>
      </ion-col>
    </ion-row>
    <button ion-item (click)="linksgo.goRoute('6')">
      <ion-row>
        <ion-col col-10>
          <small><strong>Premios de temporada</strong></small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px;">
            Compite por los premios en efectivo
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" class="flechaIr">
        </ion-col>
      </ion-row>
    </button>
    <button ion-item (click)="GoGanadores()">
      <ion-row>
        <ion-col col-10>
          <small><strong>Ganadores</strong></small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px;">
            Despachadores premiados
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" class="flechaIr">
        </ion-col>
      </ion-row>
    </button>
    <ion-row style="background: #e0e0e0;padding-left: 10px">
      <ion-col col-12>
        <span>De interés</span>
      </ion-col>
    </ion-row>
    <button ion-item (click)="topDespachadores()" detail-push>
      <ion-row>
        <ion-col col-10>
          <small><strong>Top Despachadores</strong></small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 13px;">
            Lista nacional
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" class="flechaIr">
        </ion-col>
      </ion-row>
    </button>
  </div>
</ion-content>
