<ion-content>
  <div style="text-align: center;background: #022F76;margin: auto;height: 7vh;">
    <ion-row style="text-align: center;margin: auto;">
      <ion-col col-2 style="margin: auto;top: 5px;">
        <ion-icon name="arrow-back" color="light" *ngIf="Opc == 0"
                  (click)="rootPages()" style="font-size: 22px"></ion-icon>
        <ion-icon name="arrow-back" color="light" *ngIf="Opc !== 0"
                  (click)="_previous()" style="font-size: 22px"></ion-icon>
      </ion-col>
      <ion-col col-6 style="margin: auto;top: 5px;font-size: 18px;">
        <span style="color:white" *ngIf="Opc == 0">Nueva oferta (1/3)</span>
        <span style="color:white" *ngIf="Opc == 1">Nueva oferta (2/3)</span>
        <span style="color:white" *ngIf="Opc == 2">Nueva oferta (3/3)</span>
        <span style="color:white" *ngIf="Opc == 3">Fijar alcance</span>
      </ion-col>
      <ion-col col-4 style="margin: auto;top: 5px" *ngIf="Opc == 0 || Opc == 1 || Opc == 2">
      </ion-col>
      <ion-col col-4 style="margin: auto;top: 5px;background: #00BA00;height: 4rem;" *ngIf="Opc == 3"
               (click)="_REGISTAR_OFERTA()">
        <span style="color:white" *ngIf="Opc == 3 && formOferta2.valid">
          <b style="position: relative;top: 1vh;">Publicar</b></span>
      </ion-col>
    </ion-row>
  </div>
  <ion-list>

    <form [formGroup]="formOferta">
      <div *ngIf="Opc == 0"><!-- INICIO DE LA OPCION 0 -->
        <ion-row style="background: #e0e0e0">
          <ion-col col-10 style="padding-left: 15px">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked color="primary">Producto</ion-label>
              <ion-input type="text" formControlName="producto" maxlength="50" placeholder="Ingresa"
                         pattern="^[a-zA-Z ]*$"></ion-input>
            </ion-item>
            <div *ngIf="formOferta.get('producto').hasError('pattern')">
              <small style="color: red">* Solo Letras</small>
            </div>
          </ion-col>
        </ion-row>
        <!--Etiqueta-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked color="primary">
                Etiqueta
              </ion-label>
              <ion-select icon-end="" placeholder="Seleccione" style="text-transform: capitalize" interface="popover"
                          formControlName="id_etiqueta">
                <ion-option [value]="null" selected>Ninguno</ion-option>
                <ion-option *ngFor="let v of etiquetas" [value]="v.id">{{v.nombre.toLowerCase()}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--Fin etiqueta-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked color="primary">
                Tipo de carga
              </ion-label>
              <ion-select icon-end="" style="text-transform: capitalize" placeholder="Seleccione" interface="popover"
                          formControlName="id_tipocarga">
                <ion-option *ngFor="let t of TIPO_CARGA" [value]=" t.id " style="text-transform: capitalize">
                  {{t.descripcion.toLowerCase()}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked color="primary">
                Tipo de vehículo
              </ion-label>
              <ion-select icon-end="" placeholder="Seleccione" interface="popover" formControlName="id_tipovehiculo">
                <ion-option *ngFor="let v of TIPO_VEHICULO" [value]=" v.id ">{{v.descripcion}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">Cantidad de vehículos requeridos (cupo)</ion-label>
              <ion-input placeholder="Ingresa" formControlName="cantidad" pattern="[0-9]*"
                         type="tel"></ion-input>
            </ion-item>
            <div *ngIf="formOferta.get('cantidad').hasError('pattern')">
              <span style="color: red">* Solo números</span>
            </div>
            <div style="padding-left: 10px">
              <span *ngIf="formOferta.get('cantidad').errors  && formOferta.get('cantidad').errors.invalidNet"
                    style="color: red">* Cantidad no permitida (tu cupo es de {{vehiculoCantidad}})
              </span>
            </div>
          </ion-col>
        </ion-row>
      </div> <!-- FIN DE LA OPCION 0 -->
      <div style="text-align: center;">
        <button ion-button class="buttonSig" style="background: #005AA3;border-radius: 6px;color:white"
                (click)="_next(1)"
                type="submit" [disabled]="formOferta.invalid" *ngIf="Opc == 0">
          <strong>Siguiente</strong>
        </button>
      </div>
    </form>

    <form [formGroup]="formOferta1">
      <div *ngIf="Opc == 1"><!-- INICIO DE LA OPCION 1  -->
        <ion-grid style="padding: 0px !important;">
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Duración de la publicación</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label>
                  Fecha inicio
                </ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechacarga"
                              [min]="getCurrentTime()"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label>
                  Fecha caducidad
                </ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechaentrega"
                              [min]="getCurrentTime1()"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Dirección de cargue</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <!--<label style="padding-left: 10px;">Elige ciudad de carga</label>-->
              <typeahead *ngIf="!BandSolicitud" #typeaheadorigen [Data]="Objs"
                         [Rules]="{labelInput:'Ciudad',valueOutput:'id_municipio', search_for_Item:'municipio_nombre' }"
                         (ValueOutput)="_citysOrigen($event)"></typeahead>
            </ion-col>
          </ion-row>
          <span *ngIf="formOferta1.get('origenmunicipio').value == null"
                style="color: red;text-align: center">*Selecciona una ciudad de la lista
              </span>
          <ion-row>
            <ion-col col-12>
              <button ion-button block style="background: #EB6400;text-transform: unset"
                      [disabled]="formOferta1.get('origenmunicipio').value == null"
                      (click)="loadMapaCargueyDescargue('cargue')"
                      *ngIf="Direccioncargue == true">Elegir ubicación exacta
              </button>
              <button ion-button block style="background: #00BA00;text-transform: unset"
                      (click)="loadMapaCargueyDescargue('cargue')"
                      *ngIf="Direccioncargue == false">Editar ubicación exacta
              </button>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Dirección de descargue</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <!--<label style="padding-left: 10px;">Elige ciudad de descargue</label>-->
              <typeahead *ngIf="!BandSolicitud; else Citys" [Data]="Objs" typeaheaddestino
                         [Rules]="{labelInput:'Ciudad',valueOutput:'id_municipio', search_for_Item:'municipio_nombre' }"
                         (ValueOutput)="_citysDestino($event)"></typeahead>
            </ion-col>
          </ion-row>
          <span *ngIf="formOferta1.get('destinomunicipio').value == null"
                style="color: red;text-align: center">*Selecciona una ciudad de la lista
              </span>
          <ion-col col-12>
            <button ion-button block style="background: #EB6400;text-transform: unset"
                    [disabled]="formOferta1.get('destinomunicipio').value == null"
                    (click)="loadMapaCargueyDescargue('descargue')"
                    *ngIf="Direcciondescargue == true">Elegir ubicación exacta
            </button>
            <button ion-button block style="background: #00BA00;text-transform: unset"
                    (click)="loadMapaCargueyDescargue('descargue')"
                    *ngIf="Direcciondescargue == false">Editar ubicación exacta
            </button>
          </ion-col>
          <div style="text-align: center;">
            <button ion-button class="buttonSig" style="background: #005AA3;border-radius: 6px;color:white"
                    (click)="_next(2)"
                    type="submit" [disabled]="formOferta1.invalid" *ngIf="Opc == 1">
              <strong>Siguiente</strong>
            </button>
          </div>
        </ion-grid>
        <!-- FIN  MAPA OFERTA -->
      </div><!-- FIN DE LA OPCION 1 -->
    </form>

    <form [formGroup]="formOferta2">
      <div *ngIf="Opc == 2"><!-- INICIO DE LA OPCION 2 -->
        <ion-grid style="padding: 0px !important;">
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Precio de la tonelada<b> ($)</b></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-input placeholder="Ingresar" formControlName="valor" pattern="[0-9]*"
                           type="tel"></ion-input>
              </ion-item>
              <span *ngIf="formOferta2.get('valor').errors  && formOferta2.get('valor').errors.invalidNet"
                    style="color: red">*Monto no permitido
              </span>
              <div *ngIf="formOferta2.get('valor').hasError('pattern')">
                <small style="color: red">* Solo números</small>
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-12 style="padding-left: 15px;font-size: 12px">
              <span style="color: black">
              <b>Recomendación:</b> Un mejor precio incrementará
                los transportistas postulados.</span>
              <p style="font-size: 14px">¿Alguna observación?</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-textarea placeholder="Ninguna" end="" formControlName="observaciones"
                              pattern="^[a-zA-Z0-9,. ]*$"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <div *ngIf="formOferta2.get('observaciones').hasError('pattern')">
            <small style="color: red">* Caracter especial no permitido</small>
          </div>
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Delimita el alcance de la oferta</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <button ion-button block style="background: #FFC900;color:white;border-radius: 5px;text-transform: unset"
                      (click)="_next(2)"
                      [disabled]="formOferta2.invalid">
                <span style="text-transform: full-width;;"><strong>Personalizar rango</strong></span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 style="text-align: center;">
              <button ion-button block style="background: #00BA00;color:white;border-radius: 5px;text-transform: unset"
                      [disabled]="formOferta2.invalid"
                      (click)="_REGISTAR_OFERTA2();">
                <span style="text-transform: full-width;;"><strong>Rango recomendado y publicar</strong></span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-12 style="padding-left: 15px;font-size: 12px">
              <span style="color: black">
              <b>Personalizar rango:</b> Los transportistas dentro de este rango serán notificados.</span>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-12 style="padding-left: 15px;font-size: 12px">
              <span style="color: black">
              <b>Rango recomendado:</b> El alcance por defecto será de
                20 Km alrededor de la ciudad seleccionada.</span>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-12 style="padding-left: 15px;font-size: 12px">
              <span style="color:#00AEEA"><strong>Mueve Puntos</strong></span>
              <p style="margin-top: 0px"><strong style="color: #00AEEA">+250</strong> por publicar oferta</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div><!-- fin DE LA OPCION 2 -->
    </form>

    <div id="mapa-show" *ngIf="Opc == 3">
      <div id="map"></div>
    </div><!-- fin DE LA OPCION 3 -->
  </ion-list>
</ion-content>

<ion-footer>
  <div *ngIf="Opc == 3" style="background: #e0e0e0">
    <ion-row>
      <ion-col col-2>
        <button ion-button [disabled]="!_ButtonAux" (click)="_Market(1)">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-10 style="margin: auto;text-align: left">
        <span>Añadir zona secundaria (opcional)</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <button ion-button color="danger" (click)="_Market(0)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-10 style="margin: auto;text-align: left">
        <span>Eliminar zona secundaria (opcional)</span>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
