page-create-ofert {
  #mapa-show {
    background: rgb(229, 227, 223);
    #map {
      width: 100%;
      height: 70vh;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map {
        opacity: 1;
      }
    }
    .scroll-content {
      margin-top: 56px;
      height: auto;
      width: 100%;
    }
    .scroll {
      height: calc(100% - 250px);
    }
  }

  /*ion-item.item.item-block.item-md.item-input {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 50px
  }*/

  /*ion-item.item.item-block.item-md.item-datetime {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 40px
  }*/

  //ion-item.item.item-block.item-md.item-select {
  //  border: 2px solid #00AEEA;
  //  border-radius: 10px;
  //  height: 50px
  //}

  .p-rango {
    margin-top: 2%;
    padding: 2%;
    display: block;
  }
}
