<!--
  Generated template for the EmpresaaddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-8 style="color: white">{{Title(Campo)}}</ion-col>
      <ion-col col-4 style="color: #c99701" *ngIf="form.valid" (click)="savePerfil()"><strong>Guardar</strong></ion-col>
      <ion-col col-4 style="color: #6c6c6c" *ngIf="form.invalid"><strong>Guardar</strong></ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-grid>
      <div class="empresadiv">
        <ion-row>
          <span style="margin-top: 15px">Editar campo</span>
        </ion-row>
      </div>
      <br>
      <div style="padding-left: 10px;padding-right: 10px">
        <ion-item *ngIf="Campo == 'personanombre'">
          <ion-input type="text" formControlName="personanombre" placeholder="Nombre" style="text-transform: unset"
                     pattern="^[a-zA-Z ]*$" maxlength="15" minlength="2"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('personanombre')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('personanombre').hasError('pattern')">
          <small style="color: red">* Solo Letras.</small>
        </div>
        <div style="padding-left: 15px;padding-top: 10px" *ngIf="Campo == 'personanombre'">
          <ion-row>
            <span style="font-size: 10px">
              Tu nombre solo será visto por los transportistas cuando crees ofertas de carga
            </span>
          </ion-row>
        </div>
        <ion-item *ngIf="Campo == 'login'">
          <ion-input type="text" formControlName="login" maxlength="10" pattern="^[a-zA-Z0-9]*$"
                     style="text-transform: unset"
                     placeholder="Nombre de usuario"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('login')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('login').hasError('pattern')">
          <small style="color:red">* Formato invalido.</small>
        </div>
        <ion-item *ngIf="Campo == 'personaidentificacion'">
          <ion-input type="text" minlength="5" maxlength="15" pattern="[0-9]*" formControlName="personaidentificacion"
                     placeholder="Cédula"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('personaidentificacion')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('personaidentificacion').hasError('pattern')">
          <small style="color: red">* Solo números.</small>
        </div>
        <ion-item *ngIf="Campo == 'personaemail'">
          <ion-input type="email" formControlName="personaemail" maxlength="50"
                     placeholder="Correo electrónico" style="text-transform: unset"
                     pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,3}"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('personaemail')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('personaemail').hasError('pattern')">
          <small style="color:red">* Formato de correo invalido.</small>
        </div>
        <ion-item *ngIf="Campo == 'personatelefono'">
          <ion-input type="tel" maxlength="10" minlength="7" formControlName="personatelefono"
                     placeholder="Teléfono Celular" pattern="[0-9]*"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('personatelefono')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('personatelefono').hasError('pattern')">
          <small style="color: red">* Solo números.</small>
        </div>
        <ion-item *ngIf="Campo == 'persona_telefono2'">
          <ion-input type="tel" maxlength="10" minlength="7" formControlName="personatelefono2"
                     placeholder="Teléfono Celular (2)" pattern="[0-9]*"></ion-input>
          <ion-icon name="close" item-end (click)="_ClearInput('personatelefono2')"
                    style="position: relative;z-index: 2;"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('personatelefono2').hasError('pattern')">
          <small style="color: red">* Solo números.</small>
        </div>
        <ion-item *ngIf="Campo == 'password'">
          <ion-input [type]="passwordType" formControlName="password" pattern="^[a-zA-Z0-9 ]*$" minlength="8"
                     maxlength="32"
                     placeholder="Contraseña"></ion-input>
          <ion-icon name="eye" class="icon2" color="gray" item-end (click)="togglePassword()"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('password').hasError('pattern')">
          <small style="color: red">* Caracter especial no permitido.</small>
        </div>
        <ion-item *ngIf="Campo == 'password'" style="margin-top: 2vh">
          <ion-input formControlName="confirmpassword" pattern="^[a-zA-Z0-9 ]*$" name="password" type="password"
                     minlength="8" placeholder="Repetir contraseña" maxlength="32" [type]="passwordType1"
                     required>
          </ion-input>
          <ion-icon name="eye" class="icon2" color="gray" item-end (click)="togglePassword1()"></ion-icon>
        </ion-item>
        <div *ngIf="form.get('confirmpassword').hasError('pattern')">
          <small style="color: red">* Caracter especial no permitido.</small>
        </div>
        <div *ngIf="form.get('password').hasError('pattern')">
          <small style="color: red">* Caracter especial no permitido.</small>
        </div>
        <div *ngIf="form.get('confirmpassword').errors  && form.get('confirmpassword').errors.invalidNet">
          <small style="color: red">* No coincide la contraseña.</small>
        </div>
        <ion-row *ngIf="Campo == 'password'">
          <ion-col col-12 style="text-align: center">
            <span
              style="font-size: 11px"> * La contraseña debe tener entre 8 y 32 caracteres, entre letras y números.</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>
