page-deleteacountopinion {
  .section-2 {
    h1.title-item-1 {
      color: red;
      text-align: center;
      font-size: 2rem;
    }
    h2.title-item-2 {
      color: gray;
      text-align: center;
      font-size: 1.5rem;
    }
    .items {
      width: 100%;
      ion-checkbox {
        .checkbox-icon {
          border-radius: 1rem !important;
        }
      }
    }
    .box-text {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      textarea {
        border-radius: 0.8rem;
        height: 10rem;
      }
    }
  }

  .eliminarcuenta {
    display: flex;
    top: 11rem;
    position: relative;
    padding: .5rem 2rem .5rem 4rem;
    justify-content: flex-start;
    button {
      background: red;
      text-transform: unset;
    }
  }
}
