<!--
  Generated template for the DeleteacountopinionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Eliminar cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-row>
    <ion-col col-12 style="text-align: center">
      <p style="color: red">
        <strong>
          Danos tu opinión, esto nos ayudará a mejorar
        </strong>
      </p>
      <p>
        Elije una o varias
      </p>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-12 *ngFor="let c of cuestionario">
      <ion-item>
        <ion-label>
          <span style="font-size: 11px">{{c.nombre}}</span>
        </ion-label>
        <ion-checkbox color="royal" (checked)="c.id" [(ngModel)]="selector.username"></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col col-12>
      <ion-item>
        <ion-textarea
          placeholder="Tus razones son valiosas para nuestro equipo, esto nos ayuda a mejorar constantemente"
          end="" rows="3"></ion-textarea>
      </ion-item>
    </ion-col>
    <br>
    <ion-col col-12 style="text-align: center">
      <span (click)="confirmDelete()">Eliminar cuenta
          <ion-icon name="arrow-forward"></ion-icon>
      </span>
    </ion-col>


  </ion-row>-->

  <section class="section-2">
    <h1 class="title-item-1 ">Ayudanos a mejorar</h1>
    <h2 class="title-item-2">Elije una o varias.</h2>
    <div class="items">
      <ion-list radio-group>
        <ion-item *ngFor="let p of cuestionario">
          <ion-label>{{p.nombre}}</ion-label>
          <ion-checkbox (ionChange)="changeEstateItems($event, p.id)" item-start=""></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

    <div class="box-text">
      <textarea placeholder="Otra razón. ¿Dinos cúal?" [(ngModel)]="comentario"></textarea>
    </div>
    <div class="eliminarcuenta">
      <button ion-button block (click)=" confirmDelete()">
        Eliminar cuenta
      </button>
    </div>
  </section>
</ion-content>
