<!--
  Generated template for the DenunciartransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Denunciar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid style="padding: 5px !important;">
    <br>
    <br>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/advertencia.svg" style="max-width: 20% !important;">
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center">
        <span style="color:red"><strong>¿Estas seguro que quieres reportar a este transportista?</strong></span>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px">
      <ion-col col-12 style="margin: auto;text-align: center">
        <span style="font-size: 12px;">Si el transportista no es quien dice ser o incumple alguno de nuestros
          <b style="color:#005AA3">Terminos de Uso.</b> puedes reportarnos cualquier irregularidad</span>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-textarea end="" rows="3" placeholder="¿Que ocurrio?"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <button ion-button block style="background: #FF0000;color:white;border-radius: 5px" (click)="confirmDelete()">
          <span style="text-transform: full-width;;"><strong>Estoy seguro, reportar</strong></span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
