page-reporte-mr {
  .logos {
    max-width: 55% !important;
  }

  .imagenes {
    text-align: center;
  }

  .scroll-content {
    padding: 0px !important;
  }

  page-reporte-mr .logos {
    max-width: 40% !important;
  }

  div {
    ion-row.rowReporte {
      padding-left: 40px;
      background: white;
      padding-top: 10px;
      padding-right: 43px;
    }
  }

  .textosC {
    font-size: 11px;
    margin-top: 1px;
  }

}
