<!--
  Generated template for the ReporteMrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Orden / Remesa / Manifiesto</ion-title>
    <!--<ion-segment [(ngModel)]="segment">
      <ion-segment-button value="orden">
        Orden de carga
      </ion-segment-button>
      <ion-segment-button value="remesa">
        Remesa
      </ion-segment-button>
      <ion-segment-button value="manifiesto">
        Manifiesto
      </ion-segment-button>
    </ion-segment>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-row class="rowReporte">
      <!--IMAGENES CABECERAS-->
      <ion-col col-4 class="imagenes">
        <img src="assets/imgs/icon/orden-carga-on.svg" class="logos" style="max-width: 14%"
             (click)="reportesMR('orden')" *ngIf="segment === 'orden'">
        <img src="assets/imgs/icon/orden-carga-off.svg" class="logos" style="max-width: 14%"
             (click)="reportesMR('orden')" *ngIf="segment !== 'orden'">
        <span style="font-size: 13px">Orden carga</span>
      </ion-col>
      <ion-col col-4 class="imagenes">
        <img src="assets/imgs/icon/remesa-on.svg" class="logos" style="max-width: 14%"
             (click)="reportesMR('remesa')" *ngIf="segment === 'remesa'">
        <img src="assets/imgs/icon/remesa-off.svg" class="logos" style="max-width: 14%"
             (click)="reportesMR('remesa')" *ngIf="segment !== 'remesa'">
        <span style="font-size: 13px">Remesa</span>
      </ion-col>
      <ion-col col-4 class="imagenes">
        <img src="assets/imgs/icon/manifiesto-on.svg" class="logos" style="max-width: 14%"
             (click)="reportesMR('manifiesto')" *ngIf="segment === 'manifiesto'">
        <img src="assets/imgs/icon/manifiesto-off.svg" class="logos" style="max-width: 14%"
             (click)="reportesMR('manifiesto')" *ngIf="segment !== 'manifiesto'">
        <span style="font-size: 13px">Manifiesto</span>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="segment === 'orden'">
    <ion-row style="background: black;padding-left: 16px;padding-right: 16px;">
      <ion-col col-6>
        <span style="color: white"><strong>N° Orden de cargue</strong></span>
        <p style="margin-top: 1px;color: white;font-size: 11px">{{PrintOrden.numorden}}</p>
      </ion-col>
      <ion-col col-6>
        <span style="color: white"><strong>Fecha</strong></span>
        <p style="margin-top: 1px;color: white;font-size: 11px">{{PrintOrden.fechaorden}}</p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="segment === 'remesa'">
    <ion-row style="background: black;padding-left: 48px;padding-right: 16px;">
      <ion-col col-6>
        <span style="color: white"><strong>N° Autorizacion</strong></span>
        <p style="margin-top: 1px;color: white;font-size: 11px">{{Printremesa.numeroautorizacion}}</p>
      </ion-col>
      <ion-col col-6>
        <span style="color: white"><strong>N° Consecutivo</strong></span>
        <p style="margin-top: 1px;color: white;font-size: 11px">{{Printremesa.numremesa}}</p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="segment === 'manifiesto'">
    <ion-row style="background: #ffa800;padding-left: 48px;padding-right: 16px;">
      <ion-col col-6>
        <span style="color: black"><strong>N° Manifiesto</strong></span>
        <p style="margin-top: 1px;color: black;font-size: 11px">000093</p>
      </ion-col>
      <ion-col col-6>
        <span style="color: black"><strong>N° Autorizacion</strong></span>
        <p style="margin-top: 1px;color: black;font-size: 11px">38231809</p>
      </ion-col>
    </ion-row>
    <ion-row style="background: #e0e0e0">
      <ion-col col-12 style="text-align: center">
        <span><strong>FECHA</strong> {{remesas.Fecha}}</span>
      </ion-col>
    </ion-row>
  </div>


  <div padding *ngIf="segment === 'orden'">
    <ion-card>
      <ion-card-content *ngIf="PrintOrden">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/conductor.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Conductor</strong></span>
              <p class="textosC">{{PrintOrden.nomtransportista}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>Placa</strong></span>
              <p class="textosC">{{PrintOrden.vehiculoplaca}}</p>
            </ion-col>
            <ion-col col-2>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>Trailer</strong></span>
              <p class="textosC">{{PrintOrden.placatrailer}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/generador.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Generador</strong></span>
              <p class="textosC">{{PrintOrden.nomgenerador}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/Producto.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Producto</strong> </span>
              <p class="textosC">{{PrintOrden.producto}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/destino.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Origen</strong></span>
              <p class="textosC">{{PrintOrden.origen}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/origen.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Destino</strong> </span>
              <p class="textosC">{{PrintOrden.destino}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <button class="button-block" ion-button style="background: #00BA00" (click)="generatePDF()">
        <img src="assets/imgs/icon/descargar.svg" style="width: 15px">
        &nbsp;<strong>Descargar</strong>
      </button>
      <!--<button ion-button color="azul_claro" [disabled]="!pdfObj" (click)="DownloadPDF()">
        Descargar Orden de carga
      </button>-->
    </ion-card>
  </div>

  <div padding *ngIf="segment === 'remesa'">
    <ion-card>
      <ion-card-content *ngIf="Printremesa">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/fecha-carga.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>F. Entrada</strong></span>
              <p class="textosC">{{Printremesa.fechaentrada}}</p>
            </ion-col>
            <ion-col col-2>
              <img src="assets/imgs/icon/fecha-entrega.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>F. Llegada</strong></span>
              <p class="textosC">{{Printremesa.fechallegada}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>Placa</strong></span>
              <p class="textosC">{{Printremesa.placavehiculo}}</p>
            </ion-col>
            <ion-col col-2>
              <img src="assets/imgs/icon/Producto.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>Producto</strong></span>
              <p class="textosC">{{Printremesa.descripcion}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/generador.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Aseguradora</strong></span>
              <p class="textosC">{{Printremesa.aseguradora}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/destino.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Remitente</strong></span>
              <p class="textosC">{{Printremesa.munremitente}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/origen.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Destinatario</strong></span>
              <p class="textosC">{{Printremesa.mundestinatario}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <button class="button-block" ion-button style="background: #00BA00" (click)="generatePDF1()">
        <img src="assets/imgs/icon/descargar.svg" style="width: 15px">
        &nbsp;<strong>Descargar</strong>
      </button>
      <!--<button ion-button color="azul_claro" [disabled]="!pdfObj1" (click)="DownloadPDF1()">
        Descargar Remesa
      </button>-->
    </ion-card>
  </div>

  <div padding *ngIf="segment === 'manifiesto'">
    <ion-card>
      <ion-card-content *ngIf="remesas">
        <ion-grid>
          <!--<ion-row>
            <ion-col>
              <button class="button-block" ion-button style="background: #ffa800;color:black" (click)="encodeBarcode()">
                <strong>Generar codigo QR</strong>
              </button>
            </ion-col>
            &lt;!&ndash;<button ion-button (click)="encodeBarcode()">Generar codigo QR</button>&ndash;&gt;
          </ion-row>
          <br>-->
          <ion-row>
            <ion-col>
              <qrcode *ngIf="myAngularxQrCorde" [qrdata]="myAngularxQrCorde" [size]="256" [level]="'M'"></qrcode>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>Placa</strong></span>
              <p class="textosC">{{remesas.Placa}}</p>
            </ion-col>
            <ion-col col-2>
              <img src="assets/imgs/icon/Producto.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-4>
              <span><strong>Producto</strong></span>
              <p class="textosC">{{remesas.Mercancia}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/destino.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Origen</strong></span>
              <p class="textosC">{{remesas.Orig}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/icon/origen.svg" style="max-width: 50%">
            </ion-col>
            <ion-col col-10>
              <span><strong>Destino</strong></span>
              <p class="textosC">{{remesas.Dest}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <button class="button-block" ion-button style="background: #00BA00" (click)="generatePDF2()">
        <img src="assets/imgs/icon/descargar.svg" style="width: 15px">
        &nbsp;<strong>Descargar</strong>
      </button>
      <!--<button ion-button color="azul_claro" [disabled]="!pdfObj2" (click)="DownloadPDF2()">
        Descargar Manifiesto
      </button>-->
    </ion-card>
  </div>

</ion-content>
