// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$headings-font-weight: 300;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  yellow: #ffc125,
  mueve: #FBAE17,
  asignada:#07833b,
  cerrado: #AC282B,
  gray: #6c6c6c,
  warning:(
    base:#f8c200,
    contrast:#FFF
  ),
  azul_rey: #022F76,
  azul_claro:#08abe4,
  rosa: #ff5252,
  driverWorking:#54af6f,
  driverWorkingRed:#ea4535,
  favorite: #69BB7B,
  twitter: #1da1f4,
  google: #dc4a38,
  vimeo: #23b6ea,
  facebook: #3b5998,
  bronze: #ED6F24,
  greenButton: #39b54a,
  red:#c51a00,
  notificaciones: #00AEEA,
  full_cupo: #00BA00,
  plata: #808080
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background: color($colors, primary);

// Change the color of the segment button text
$toolbar-md-active-color: #fff;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.

@import "roboto";
@import "noto-sans";

.getstart {
  background-image: url('../assets/imgs/bg/bg2.jpg');
  background-size: cover;
}
