<ion-list>
  <button ion-item (click)="_CrearTrailer()" *ngIf="TRANSPORTISTA.vehiculo_placa !== 'SIN VEHICULO'">
    <ion-icon name="add"></ion-icon>
    <span style="color: #EB6400"><strong> Crear Trailer</strong></span></button>
  <!--<ion-badge>Crear Trailer</ion-badge>-->
  <button ion-item (click)="_CrearVehiculo()">
    <ion-icon name="add"></ion-icon>
    <!--<ion-badge>Crear Vehiculo</ion-badge>-->
    <span style="color: #EB6400"><strong> Crear Vehiculo</strong></span>
  </button>
</ion-list>
