<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Gestión de transportistas</ion-title>
    <!--<ion-segment [(ngModel)]="segment" (ionChange)="_ListaTrasportistasDespachados()">
      <ion-segment-button value="despachar">
        Asignados
      </ion-segment-button>
      <ion-segment-button value="despachados">
        Despachados
      </ion-segment-button>
      <ion-segment-button value="ruta">
        En ruta
      </ion-segment-button>
      <ion-segment-button value="culminado">
        Culminado
      </ion-segment-button>
    </ion-segment>-->
  </ion-navbar>
  <!--<ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="SearchPlaca"
                   (ionInput)="Search_for_placa()"
                   placeholder="Buscar Placa">
    </ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-row style="    padding-left: 10px;
                        background: white;
                        padding-top: 8px;
                        padding-right: 4px;">
      <!--IMAGENES CABECERAS-->
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/asignados-on.svg" class="logos" style="max-width: 14%"
             (click)="_ListaTrasportistasDespachados('asignados')" *ngIf="segment === 'asignados'">
        <img src="assets/imgs/icon/asignados-off.svg" class="logos" style="max-width: 14%"
             (click)="_ListaTrasportistasDespachados('asignados')" *ngIf="segment !== 'asignados'">
        <span>Asignados</span>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/despachar-on.svg" class="logos" style="max-width: 14%"
             (click)="_ListaTrasportistasDespachados('despachar')" *ngIf="segment === 'despachar'">
        <img src="assets/imgs/icon/despachar-off.svg" class="logos" style="max-width: 14%"
             (click)="_ListaTrasportistasDespachados('despachar')" *ngIf="segment !== 'despachar'">
        <span>Despachar</span>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/en-ruta-on.svg" class="logos" style="max-width: 14%"
             (click)="_ListaTrasportistasDespachados('ruta')" *ngIf="segment === 'ruta'">
        <img src="assets/imgs/icon/en-ruta-off.svg" class="logos" style="max-width: 14%"
             (click)="_ListaTrasportistasDespachados('ruta')" *ngIf="segment !== 'ruta'">
        <span>Ruta</span>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/culminado-on.svg" class="logos" style="max-width: 35% !important;"
             (click)="_ListaTrasportistasDespachados('culminado')" *ngIf="segment === 'culminado'">
        <img src="assets/imgs/icon/culminado-off.svg" class="logos" style="max-width: 35% !important;"
             (click)="_ListaTrasportistasDespachados('culminado')" *ngIf="segment !== 'culminado'">
        <span style="font-size: 13px">Culminado</span>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col col-2 style="margin: auto;
                      text-align: center;">
      <span style="font-size: 4rem;color: #FF4F00" *ngIf="LIST_OF_TRASPORTISTS">{{LIST_OF_TRASPORTISTS.length}}</span>
    </ion-col>
    <!--SEARCH-->
    <ion-col col-10>
      <ion-searchbar color="primary"
                     [(ngModel)]="SearchPlaca"
                     (ionInput)="Search_for_placa()"
                     placeholder="Búsqueda rápida">
      </ion-searchbar>
    </ion-col>
    <hr style="width: 100%">
  </ion-row>
  <div padding *ngIf="segment === 'asignados'">
    <ion-list>
      <ion-item-sliding *ngFor="let i of LIST_OF_TRASPORTISTS">
        <ion-item>
          <ion-row style="height: 50px;">
            <ion-col col-2>
              <img src="assets/imgs/icon/borrar-transportista.svg" style="max-width: 70%"
                   (click)="deleteItem(i.solicitudes_id,_index,i)">
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-4>
              <span style="font-size: 11px"><strong>CONDUCTOR</strong></span>
              <p style="font-size: 10px">{{i.persona_nombre}}</p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-2>
              <span style="font-size: 11px"><strong>PLACA</strong></span>
              <p style="font-size: 10px">{{i.vehiculo_placa}}</p>
            </ion-col>
            <ion-col col-2 (click)="acepptPopover($event,i)">
              <img src="assets/imgs/icon/despachar-btn.svg" style="max-width: 70%">
            </ion-col>
          </ion-row>
        </ion-item>
        <!--POPOVER CON BARRA LATERAL-->
        <!--<ion-item-options>
          <button ion-button icon-only side="right" (click)="acepptPopover($event,i)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item-options>-->
        <!--CANCELAR-->
        <!--<ion-item-options side="left" (ionSwipe)="deleteItem(i.solicitudes_id,_index,i)">
          <button ion-button color="danger" expandable>
            <ion-icon name="trash"></ion-icon>
            CANCELAR
          </button>
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-list>
  </div>

  <div padding *ngIf="segment === 'despachar'">
    <ion-list>

      <ion-item-sliding *ngFor="let i of LIST_OF_TRASPORTISTS">
        <ion-item>
          <ion-row style="height: 50px;">
            <ion-col col-1>
              <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%;">
            </ion-col>
            <ion-col col-5>
              <span style="font-size: 11px"><strong>CONDUCTOR</strong></span>
              <p style="font-size: 10px">{{i.persona_nombre}}</p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 100%;">
            </ion-col>
            <ion-col col-3>
              <span style="font-size: 11px"><strong>PLACA</strong></span>
              <p style="font-size: 10px">{{i.vehiculo_placa}}</p>
            </ion-col>
            <ion-col col-2 (click)="eventPopover($event,i)">
              <img src="assets/imgs/icon/en-ruta-btn.svg" style="max-width: 70%">
            </ion-col>
          </ion-row>
        </ion-item>
        <!--<ion-item>
          <h2>
            <ion-badge>Nombre</ion-badge>&nbsp;<span class="font-size-greko">{{i.persona_nombre}}</span>&nbsp;
          </h2>
          <p>
            <ion-badge>Placa</ion-badge>&nbsp;<span class="font-size-greko">{{i.vehiculo_placa}} </span>
            <ion-icon color="secondary" name="checkbox"></ion-icon>
          </p>
        </ion-item>
-->
        <!--<ion-item-options side="left" (ionSwipe)="deleteItem2(i.id,_index,i)">
          <button ion-button color="danger" expandable>
            <ion-icon name="trash"></ion-icon>
            ELIMINAR
          </button>
        </ion-item-options>
        <ion-item-options side="right" (ionSwipe)="DespacharTransportista(i.solicitudes_id, i)">
          <button ion-button expandable>
            <ion-icon name="share-alt"></ion-icon>
            DESPACHAR
          </button>
        </ion-item-options>-->
        <!--<ion-item-options>
          <button ion-button icon-only (click)="eventPopover($event, i)">
            <ion-icon name="more"></ion-icon>
          </button>
          &lt;!&ndash;<button ion-button color="secondary" (click)="addFavorite(slidingItem, solicitud)" *ngIf="segment === 'all'">
            <ion-icon name="star" style="font-size: 1.5rem"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeFavorite(solicitud, session, 'Remove Favorite')"
                  *ngIf="segment === 'favorites'">
            Remove
          </button>&ndash;&gt;
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-list>
  </div>

  <div padding *ngIf="segment === 'ruta'">
    <ion-list>

      <ion-item-sliding *ngFor="let i of LIST_OF_TRASPORTISTS">
        <ion-item>
          <ion-row style="height: 50px;">
            <ion-col col-1>
              <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%;">
            </ion-col>
            <ion-col col-5>
              <span style="font-size: 11px"><strong>CONDUCTOR</strong></span>
              <p style="font-size: 10px">{{i.persona_nombre}}</p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 100%;">
            </ion-col>
            <ion-col col-3>
              <span style="font-size: 11px"><strong>PLACA</strong></span>
              <p style="font-size: 10px">{{i.vehiculo_placa}}</p>
            </ion-col>
            <ion-col col-2 (click)="eventPopoverCulminar($event,i)">
              <img src="assets/imgs/icon/culminado-on.svg" style="max-width: 70%">
            </ion-col>
          </ion-row>
        </ion-item>
        <!--<ion-item>
          <h2>
            <ion-badge>Nombre</ion-badge>&nbsp;<span class="font-size-greko">{{i.persona_nombre}}</span>&nbsp;
          </h2>
          <p>
            <ion-badge>Placa</ion-badge>&nbsp;<span class="font-size-greko">{{i.vehiculo_placa}} </span>
            <ion-icon color="secondary" name="checkbox"></ion-icon>
          </p>
        </ion-item>-->


        <!--<ion-item-options>
          <button ion-button icon-only (click)="eventPopoverCulminar($event, i)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item-options>-->
        <!--<ion-item-options side="left" (ionSwipe)="deleteItem(i.solicitudes_id,_index,i)">
          <button ion-button color="danger" expandable>
            <ion-icon name="trash"></ion-icon>
            CANCELAR
          </button>
        </ion-item-options>-->
        <!--<ion-item-options side="right" (ionSwipe)="DespacharTransportista(i.solicitudes_id, i)">-->
        <!--<button ion-button expandable>-->
        <!--<ion-icon name="share-alt"></ion-icon>-->
        <!--ACEPTAR-->
        <!--</button>-->
        <!--</ion-item-options>-->
      </ion-item-sliding>
    </ion-list>
  </div>

  <div padding *ngIf="segment === 'culminado'">
    <ion-list>
      <ion-item-sliding *ngFor="let i of LIST_OF_TRASPORTISTS">
        <ion-item>
          <ion-row style="height: 50px;">
            <ion-col col-1>
              <img src="assets/imgs/icon/conductor-ver.svg" style="max-width: 100%;">
            </ion-col>
            <ion-col col-5>
              <span style="font-size: 11px"><strong>CONDUCTOR</strong></span>
              <p style="font-size: 10px">{{i.persona_nombre}}</p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/placa.svg" style="max-width: 100%;">
            </ion-col>
            <ion-col col-3>
              <span style="font-size: 11px"><strong>PLACA</strong></span>
              <p style="font-size: 10px">{{i.vehiculo_placa}}</p>
            </ion-col>
            <ion-col col-2 (click)="generateCumplido(i)">
              <img src="assets/imgs/icon/culminado-on.svg" style="max-width: 70%">
            </ion-col>
          </ion-row>
        </ion-item>
        <!--<ion-item>
          <h2>
            <ion-badge>Nombre</ion-badge>&nbsp;<span class="font-size-greko">{{i.persona_nombre}}</span>&nbsp;
          </h2>
          <p>
            <ion-badge>Placa</ion-badge>&nbsp;<span class="font-size-greko">{{i.vehiculo_placa}} </span>
            <ion-icon color="secondary" name="checkbox"></ion-icon>
          </p>
        </ion-item>-->

        <!--<ion-item-options>
          <button ion-button icon-only (click)="generateCumplido(i)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item-options>-->
        <!--<ion-item-options side="left" (ionSwipe)="deleteItem2(i.id,_index,i)">
          <button ion-button color="danger" expandable>
            <ion-icon name="trash"></ion-icon>
            ELIMINAR
          </button>
        </ion-item-options>
        <ion-item-options side="right" (ionSwipe)="DespacharTransportista(i.solicitudes_id, i)">
          <button ion-button expandable>
            <ion-icon name="share-alt"></ion-icon>
            DESPACHAR
          </button>
        </ion-item-options>-->
        <!--<ion-item-options>
          <button ion-button icon-only (click)="eventPopover($event, i)">
            <ion-icon name="more"></ion-icon>
          </button>
          &lt;!&ndash;<button ion-button color="secondary" (click)="addFavorite(slidingItem, solicitud)" *ngIf="segment === 'all'">
            <ion-icon name="star" style="font-size: 1.5rem"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeFavorite(solicitud, session, 'Remove Favorite')"
                  *ngIf="segment === 'favorites'">
            Remove
          </button>&ndash;&gt;
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-list>
  </div>
  <ion-fab bottom right #fab *ngIf="segment === 'asignados'">
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="azul_rey" (click)="_CrearOferta()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
