page-despachar-trasportistas {
  .imagenes {
    text-align: center;
  }

  .logos{
    max-width: 60% !important;
  }

  div {
    padding: 0px !important;
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }
}
