<ion-list>
  <button ion-item (click)="_Reportar()">
    <img src="assets/imgs/icon/alerta_rojo.svg" style="max-width: 9%">
    <!--<ion-icon name="kargoo-editar"></ion-icon>-->
    <span style="color: black"><strong> Reportar</strong></span>
  </button>
</ion-list>
