<ion-menu id="leftMenu" [content]="content" side="left" type="overlay">
  <ion-header>
  </ion-header>
  <ion-content>
    <!-- PERFIL-->
    <ion-card text-center class="hide-card item-Background" *ngIf="_user">
      <ion-row style="height: 19vh;" (click)="_Perfil()" menuClose>
        <ion-col col-5>
          <section class="section-avatar-ajuste">
            <img (error)="_IMG_DEFAULT_PERFIL($event)" src="{{ImagenPerfil}}" class="custom-avatar-apphome"
                 menuClose/>
          </section>
        </ion-col>
        <ion-col col-7 style="margin: auto">
          <ion-row>
            <ion-col col-3 style="margin: auto;">
              <img *ngIf="Perfil" [src]="categoria(Perfil.categoria)">
            </ion-col>
            <ion-col col-9 style="text-align: left;">
              <span *ngIf="Perfil"><strong>{{Perfil.puntos.toLocaleString()}} MP</strong></span>
              <p style="color:#ffa800" *ngIf="Perfil && Perfil.categoria === 'GOLD'"><b>Oro</b></p>
              <p style="color:#808080" *ngIf="Perfil && Perfil.categoria === 'SILVER'"><b>Plata</b></p>
              <p style="color:#F15A24" *ngIf="Perfil && Perfil.categoria === 'BRONZE'"><b>Bronce</b></p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row (click)="_Perfil()" menuClose>
        <ion-col col-9 style="text-align: left;margin-left: 2vh;">
          <span *ngIf="Perfil && Perfil.categoria === 'GOLD'"
                style="text-transform: capitalize;color:#ffa800;font-size: 14px"
                [innerHTML]="break_text(Perfil.despachador.toLowerCase())"></span>
          <span *ngIf="Perfil && Perfil.categoria === 'SILVER'"
                style="text-transform: capitalize;color:#808080;font-size: 14px"
                [innerHTML]="break_text(Perfil.despachador.toLowerCase())"></span>
          <span *ngIf="Perfil && Perfil.categoria === 'BRONZE'"
                style="text-transform: capitalize;color:#F15A24;font-size: 14px"
                [innerHTML]="break_text(Perfil.despachador.toLowerCase())"></span>
          <p style="color:#3FA9F5;font-size: 12px" *ngIf="Perfil && Perfil.reputacion === 'NUEVO'"><strong>Reputación
            Nuevo</strong></p>
          <p style="color:#FBB03B;font-size: 12px" *ngIf="Perfil && Perfil.reputacion === 'ACEPTABLE'"><strong>Reputación
            Aceptable</strong></p>
          <p style="color:#BFBB03;font-size: 12px" *ngIf="Perfil && Perfil.reputacion === 'REGULAR'"><strong>Reputación
            Regular</strong></p>
          <p style="color:#BCC63F;font-size: 12px" *ngIf="Perfil && Perfil.reputacion === 'BUENO'"><strong>Reputación
            Bueno</strong></p>
          <p style="color:#39B54A;font-size: 12px" *ngIf="Perfil && Perfil.reputacion === 'EXCELENTE'"><strong>Reputación
            Excelente</strong></p>
        </ion-col>
        <ion-col col-2 style="text-align: center;margin: auto;">
          <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 27% !important">
        </ion-col>
      </ion-row>
      <hr style="width: 80%">
    </ion-card>
    <!-- DETALLE USER-->
    <ion-list>

      <button menuClose ion-item *ngFor="let p of Ppages" (click)="openPage(p)">
        <ion-row>
          <ion-col col-2 style="margin: auto;">
            <img src="assets/imgs/menu/{{p.img}}" style="max-width: 80% !important;">
          </ion-col>
          <ion-col col-8>
            <span style="color: black;font-weight: 500;font-size: 16px">{{p.title}}</span>
            <p style="margin-top: 0px;font-size: 12px">{{p.subtitle}}</p>
          </ion-col>
          <ion-col col-2 style="margin: auto;text-align: center">
            <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

