// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

// Creates text alignment classes based on screen size
// TODO this would be nice to add to the framework
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    // Provide text `[text-{bp}]` attributes for aligning text based on screen size
    [text#{$infix}-center] {
      text-align: center;
    }

    [text#{$infix}-left] {
      text-align: left;
    }

    [text#{$infix}-right] {
      text-align: right;
    }

    [hidden#{$infix}-up] {
      display: none;
    }
  }

  @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
    [hidden#{$infix}-down] {
      display: none;
    }
  }
}

.item-Background {
  background-image: url("assets/imgs/cucuta.png");
}

* {
  font-family: montserrat, sans-serif;
}

//ng-component {
//  &.app-root {
//    z-index: 10000;
//  }
//}

ion-card.hide-card.item-Background.card.card-md {
  padding: 0px !important;
}

.alertarojo {
  max-width: 35%;
  position: absolute;
  left: 8vh;
  z-index: 2;
  bottom: 4vh;
}

.hide-card {
  -webkit-box-shadow: none !important;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  padding: 5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  h2, p {
    color: white;
    letter-spacing: 1px;
  }

  p {
    color: ghostwhite;
  }
}

ion-icon.icon.icon-md.icon-md-azul_claro.ion-md-kargoo-transportistas {
  font-size: 28px;
}

ion-icon.icon.icon-md.icon-md-yellow.ion-md-kargoo-coordinador {
  font-size: 26px;
}

ion-icon.icon.icon-md.icon-md-azul_claro.ion-md-kargoo-oferta {
  font-size: 28px;
}

img.alertaroja {
  position: absolute;
  width: 13px;
  z-index: 2;
  bottom: 20px;
  left: 0px;
}

.custom-avatar-apphome {
  margin-top: 13px;
  height: 25vw;
  width: 30vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.custom-avatar-appperfil {
  margin-top: 13px;
  height: 25vw;
  width: 25vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.custom-avatar-muevepuntos-oro {
  margin-top: 13px;
  height: 30vw;
  width: 30vw;
  border: 2px solid #FBB03B;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.custom-avatar-muevepuntos-silver {
  margin-top: 13px;
  height: 30vw;
  width: 30vw;
  border: 2px solid #808080;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.custom-avatar-muevepuntos-bronce {
  margin-top: 13px;
  height: 30vw;
  width: 30vw;
  border: 2px solid #F15A24;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/*ALERTA PARA RECUPERACION DE CUENTA*/
.alertCustomCss3 {
  // text color for basic alerts
  color: black;
  // alert modal page bg color. Warning this will remove the alert transparency
  .botton1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: unset;
    height: 5vh;
  }

  .botton3 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: unset;
    height: 5vh;
  }

  .alert-title {
    text-align: center;
    font-size: 20px;
  }

  .alert-sub-title {
    font-size: 13px;
    text-align: center;
  }

  .alert-message {
    text-align: center;
    font-size: 12px;
    color: gray; // text color for confirm alerts
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }
}

.alertCustomCssPicture {
  // text color for basic alerts
  color: black;
  // alert modal page bg color. Warning this will remove the alert transparency
  .botton1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: capitalize;
    height: 5vh;
  }
  .botton2 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: capitalize;
    height: 5vh;
  }

  .botton-green {
    display: flex;
    justify-content: center !important;
    margin-right: 2vw;
    border-radius: 3px;
    border: solid #000000 1px;
    background-color: #39b54a !important;
    color: white !important;
    width: 40rem;
    text-align: center !important;
    text-transform: capitalize;
    height: 5vh;
  }

  .alert-button-group{
    justify-content: center !important;
    padding: 1rem !important;
  }

  .alert-title {
    text-align: center;
    color: #000000
  }
  .alert-message {
    text-align: center;
    font-size: 13px;
    color: black; // text color for confirm alerts
  }
  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }
}


/*ALERTA PARA VISUALIZAR LOS PUNTOS (CARGO)*/
.alertCustomCss2 {
  // text color for basic alerts
  color: black;
  // alert modal page bg color. Warning this will remove the alert transparency
  .botton1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: unset;
    height: 5vh;
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .botton3 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: unset;
    height: 5vh;
  }

  .alert-title {
    text-align: center;
    font-size: 20px;
  }

  .alert-sub-title {
    font-size: 13px;
    text-align: center;
  }

  img {
    max-width: 15%;
    border: 0;
  }

  .img {
    max-width: 15%;
    border: 0;
  }

  .alert-message {
    text-align: center;
    font-size: 40px;
    color: #12b4e4; // text color for confirm alerts
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }
}

/*ALERTA PARA VISUALIZAR LAS ALERTAS ENVIADAS POR EL SERVIDOR*/
.alertCustomCss5 {
  // text color for basic alerts
  color: black;
  // alert modal page bg color. Warning this will remove the alert transparency
  .botton1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: unset;
    height: 5vh;
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .botton3 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: unset;
    height: 5vh;
  }

  .alert-title {
    text-align: center;
    font-size: 20px;
  }

  .alert-sub-title {
    font-size: 13px;
    text-align: center;
  }

  img {
    max-width: 15%;
    border: 0;
  }

  .img {
    max-width: 15%;
    border: 0;
  }

  .alert-message {
    text-align: center;
    font-size: 15px;
    color: #12b4e4;
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }
}

/*ALERTA PARA VISUALIZAR LOS PUNTOS (DESCARGUE)*/
.alertCustomCss4 {
  // text color for basic alerts
  color: black;
  // alert modal page bg color. Warning this will remove the alert transparency
  .botton1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: unset;
    height: 5vh;
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .botton3 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: unset;
    height: 5vh;
  }

  .alert-title {
    text-align: center;
    font-size: 20px;
  }

  .alert-sub-title {
    font-size: 13px;
    text-align: center;
  }

  .alert-message {
    text-align: center;
    font-size: 30px;
    color: red; // text color for confirm alerts
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }
}

////////////////////////////////////

/*ALERTA PARA CERRAR SESION y RECHAZAR TRANSPORTISTAS*/
.alertCustomCss {
  // text color for basic alerts
  color: black;
  // alert modal page bg color. Warning this will remove the alert transparency
  .botton1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: unset;
    height: 5vh;
  }

  .botton2 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: unset;;
    height: 5vh;
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .alert-title {
    text-align: center;
    font-size: 18px;
  }

  .alert-sub-title {
    font-size: 13px;
    text-align: center;
  }

  .alert-message {
    text-align: center;
    font-size: 15px;
    color: black; // text color for confirm alerts
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }
}

////////////////////////////////////

.alertConfig_2_css {
  .button1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: unset;
    height: 5vh;
  }

  .button2 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: unset;
    height: 5vh;
  }

  .button-green {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, greenButton, base) !important;
    text-transform: unset;
    height: 5vh;
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .alert-title {
    text-align: center;
    color: color($colors, greenButton, base) !important;
  }

  .alert-sub-title {
    text-align: center;
    color: color($colors, red, base) !important;
  }

  .alert-message {
    text-align: center;
    font-size: 13px;
    color: gray; // text color for confirm alerts
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    border-radius: 7px;
  }

  .puntos {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .statusError {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;

    .statusText {
      color: black;
      font-weight: bold;
    }
  }
}

/////////////////////////////////////

.alertConfig_6_css {

  .button1 {
    color: black !important; // button text color
    border-radius: 3px;
    border: 1px solid black;
    text-transform: capitalize;
    height: 5vh;
  }

  .button2 {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, danger, base) !important;
    text-transform: capitalize;
    height: 5vh;
  }

  .button-green {
    margin-right: 19px;
    border-radius: 3px;
    color: white !important; // button text color
    background-color: color($colors, greenButton, base) !important;
    text-transform: capitalize;
    height: 5vh;
  }

  .alert-button-group {
    justify-content: center !important;
    padding: 1rem !important;
  }

  .alert-title {
    text-align: center;
    font-size: 1.5rem;
    color: color($colors, greenButton, base) !important;
  }

  .alert-sub-title {
    text-align: center;
    color: color($colors, dark, base) !important;
  }

  .alert-message {
    text-align: center;
    font-size: 13px;
    color: gray; // text color for confirm alerts
  }

  .alert-wrapper {
    //background-color: color($colors, dark, base); // bg color of alert content
    // border-radius: 7px;
  }

  .puntos {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .punto-in-title {
    color: cornflowerblue;
  }

  .quitar-puntos {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .statusError {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;

    .statusText {
      color: black;
      font-weight: bold;
    }
  }
}

ion-badge.badge {
  border-radius: 15px;
}

.star-rnk {
  color: yellow;
  font-size: 1.5em;
}

.spinner-mueve {
  z-index: 2;
  width: 100%;
}

.star-rnk2 {
  color: white;
  font-size: 1.5em;
}

ion-card img {
  display: inline-table;
  width: 100%;
}

.img-icon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 1rem;
}

.section-avatar-ajuste {
  display: flex;
  justify-content: center;
  float: left;
  margin-left: 2vh;
}

.text-capitalize {
  text-transform: capitalize !important;
  font-family: montserrat, sans-serif;
}

ion-icon {
  &[class*="kargoo-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  // custom icons
  &[class*="kargoo-accidente"] {
    mask-image: url(../assets/imgs/menu/Ofertas.svg);
  }

  &[class*="kargoo-solicitudes"] {
    mask-image: url(../assets/imgs/menu/Solicitudes.svg);
  }

  &[class*="kargoo-soporte"] {
    mask-image: url(../assets/imgs/menu/Soporte.svg);
  }

  &[class*="kargoo-transportistas"] {
    mask-image: url(../assets/imgs/menu/Transportistas.svg);
  }

  &[class*="kargoo-soporte"] {
    mask-image: url(../assets/imgs/menu/Soporte.svg);
  }

  &[class*="kargoo-oferta"] {
    mask-image: url(../assets/imgs/icon/menu-ofertas.svg);
  }

  &[class*="kargoo-coordinador"] {
    mask-image: url(../assets/imgs/icon/menu-coordinadores.svg);
  }

  &[class*="kargoo-coordinador2"] {
    mask-image: url(../assets/imgs/menu/menu-coordinadores.svg);
  }

  &[class*="kargoo-oferta2"] {
    mask-image: url(../assets/imgs/menu/menu-ofertas.svg);
  }

  &[class*="kargoo-transportistas2"] {
    mask-image: url(../assets/imgs/menu/menu-coordinadores.svg);
  }

  &[class*="kargoo-puntos"] {
    mask-image: url(../assets/imgs/icon/puntos-standard-perfil.svg);
  }

  &[class*="kargoo-editar"] {
    mask-image: url(../assets/imgs/icon/editar-foto-perfil.svg);
  }

  &[class*="kargoo-culminar"] {
    mask-image: url(../assets/imgs/icon/Culminados.svg);
  }

  &[class*="kargoo-anular"] {
    mask-image: url(../assets/imgs/icon/cerrar-oferta.svg);
  }

  &[class*="kargoo-menu_coordinadores"] {
    mask-image: url(../assets/imgs/menu/menu_coordinadores.svg);
  }

  &[class*="kargoo-menu_mueve_puntos"] {
    mask-image: url(../assets/imgs/menu/menu_mueve_puntos.svg);
  }

  &[class*="kargoo-menu_ofertas"] {
    mask-image: url(../assets/imgs/menu/menu_ofertas.svg);
  }

  &[class*="kargoo-menu_solicitudes"] {
    mask-image: url(../assets/imgs/menu/menu_solicitudes.svg);
  }

  &[class*="kargoo-menu_transportistas"] {
    mask-image: url(../assets/imgs/menu/menu_transportistas.svg);
  }

  &[class*="kargoo-chulo_verde"] {
    mask-image: url(../assets/imgs/icon/chulo_verde_ldpi.svg);
  }

  &[class*="kargoo-flecha_ir"] {
    mask-image: url(../assets/imgs/icon/flecha-ir.svg);
  }
}

