$categories: (
  ionic: color($colors, primary),
  cerrado: #AC282B,
  borrador: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  publicada: #69BB7B,
  asignada:#07833b,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-session-detail {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }

  .totalOfer {
    position: absolute;
    left: 12px;
    height: 18px;
    width: 32px;
    border-radius: 17px;
    background: orange;
  }

  .card-header-md {
    background: #FF4F00;
    font-size: 1.6rem;
    color: white;
    padding: 16px;
  }

  .color-oferta {
    background: linear-gradient(to top right, #ff1f35, #ff4053 35%, #c99701) !important;
  }

  ion-badge.badge-md-primary.badge.badge-md {
    color: #fff;
    background-color: #488aff;
    margin-top: 9px;
    font-size: 11px;
  }

  ion-badge.badge-md-danger.badge.badge-md {
    color: #fff;
    background-color: #f53d3d;
    margin-top: 10px;
    font-size: 10px;
  }

  .progressBarPen {
    .progress-outer {
      .progress-inner {
        background-color: #FF4F00 !important;
      }
    }
  }

  .progressBarPen2 {
    .progress-outer {
      .progress-inner {
        background-color: #005AA6 !important;
      }
    }
  }

  .progressBarPen3 {
    .progress-outer {
      .progress-inner {
        background-color: #00BA00 !important;
      }
    }
  }
}
