<ion-header>
  <ion-navbar no-border-bottom color="azul_rey">
    <ion-title>
      Administrar Solicitud
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <!--CABECERAS-->
    <!--PENDIENTE-->
    <ion-card-header style="background: #FF4F00;height: 73px;" *ngIf="OFERTA_DATA.solicitudes_estado === 'PENDIENTE'"
                     (click)="estadistica()">
      <ion-row>
        <ion-col col-6>
          <span><strong style="font-size: 14px;">N° {{OFERTA_DATA.solicitudes_codigo}}</strong></span>
          <p style="color: white">{{OFERTA_DATA.solicitudes_fechahoraregistro}}</p>
        </ion-col>
        <ion-col col-2 style="margin-left: 2vh">
          <img src="assets/imgs/icon/vehiculo-cantidad-blanco.svg" style="max-width: 59%">
        </ion-col>
        <ion-col col-2 style="margin-left: -16px">
          <span style="font-size: 16px;">{{OFERTA_DETALLE.solicitudes_cantidadregistrados}}/{{OFERTA_DETALLE.solicitudes_cantidadvehiculo}}</span>
        </ion-col>
        <ion-col col-2 style="margin-left: -3px">
          <ion-icon name="pie" style="width: 20px"></ion-icon>
          <ion-icon name="more"></ion-icon>
        </ion-col>
        <!--<ion-col col-3>
          <span style="color: white;font-size: 11px;">{{OFERTA_DATA.solicitudes_estado}}</span>
        </ion-col>-->
      </ion-row>
    </ion-card-header>
    <!--PROCESANDO-->
    <ion-card-header style="background: #005AA6;height: 73px;" *ngIf="OFERTA_DATA.solicitudes_estado === 'PROCESANDO'"
                     (click)="estadistica()">
      <ion-row>
        <ion-col col-6>
          <span><strong style="font-size: 14px;">N° {{OFERTA_DATA.solicitudes_codigo}}</strong></span>
          <p style="color: white">{{OFERTA_DATA.solicitudes_fechahoraregistro}}</p>
        </ion-col>
        <ion-col col-2 style="margin-left: 2vh">
          <img src="assets/imgs/icon/vehiculo-cantidad-blanco.svg" style="max-width: 59%">
        </ion-col>
        <ion-col col-2 style="margin-left: -16px">
          <span style="font-size: 16px;">{{OFERTA_DETALLE.solicitudes_cantidadregistrados}}/{{OFERTA_DETALLE.solicitudes_cantidadvehiculo}}</span>
        </ion-col>
        <ion-col col-2 style="margin-left: -3px">
          <ion-icon name="pie" style="width: 20px"></ion-icon>
          <ion-icon name="more"></ion-icon>
          <!--<img src="assets/imgs/icon/ico-pendiente.svg" style="max-width: 53%" (click)="estadistica()">-->
        </ion-col>
        <!--<ion-col col-3>
          <span style="color: white;font-size: 11px;">{{OFERTA_DATA.solicitudes_estado}}</span>
        </ion-col>-->
      </ion-row>
    </ion-card-header>
    <!--CULMINADO-->
    <ion-card-header style="background: #00BA00;height: 73px;" *ngIf="OFERTA_DATA.solicitudes_estado === 'CULMINADO'"
                     (click)="estadistica()">
      <ion-row>
        <ion-col col-6>
          <span><strong style="font-size: 14px;">N° {{OFERTA_DATA.solicitudes_codigo}}</strong></span>
          <p style="color: white">{{OFERTA_DATA.solicitudes_fechahoraregistro}}</p>
        </ion-col>
        <ion-col col-2 style="margin-left: 2vh">
          <img src="assets/imgs/icon/vehiculo-cantidad-blanco.svg" style="max-width: 59%">
        </ion-col>
        <ion-col col-2 style="margin-left: -16px">
          <span style="font-size: 16px;">{{OFERTA_DATA.solicitudes_cantidadregistrados}}/{{OFERTA_DATA.solicitudes_cantidadvehiculo}}</span>
        </ion-col>
        <ion-col col-2 style="margin-left: -3px">
          <ion-icon name="pie" style="width: 20px"></ion-icon>
          <ion-icon name="more"></ion-icon>
        </ion-col>
        <!--<ion-col col-3>
          <span style="color: white;font-size: 11px;">{{OFERTA_DATA.solicitudes_estado}}</span>
        </ion-col>-->
      </ion-row>
      <!--<ion-row>
        <ion-col col-8>
          <span><strong>N° {{OFERTA_DATA.solicitudes_codigo}}</strong></span>
          <p style="color: white">{{OFERTA_DATA.solicitudes_fechahoraregistro}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/ico-concluida.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-3>
          <span style="color: white;font-size: 11px;">{{OFERTA_DATA.solicitudes_estado}}</span>
        </ion-col>
      </ion-row>-->
    </ion-card-header>
    <!--BARRAS DE PROGRESO-->
    <ion-row *ngIf="OFERTA_DATA.solicitudes_estado === 'PENDIENTE'">
      <ion-col style="text-align: center">
        <span> <strong>Estado </strong>- {{OFERTA_DATA.solicitudes_estado}}</span>
        <progress-bar class="progressBarPen" [progress]="OFERTA_DETALLE.porcentaje"></progress-bar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="OFERTA_DATA.solicitudes_estado === 'PROCESANDO'">
      <ion-col style="text-align: center">
        <span> <strong>Estado </strong>- {{OFERTA_DATA.solicitudes_estado}}</span>
        <progress-bar class="progressBarPen2" [progress]="OFERTA_DETALLE.porcentaje"></progress-bar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="OFERTA_DATA.solicitudes_estado === 'CULMINADO'">
      <ion-col style="text-align: center">
        <span> <strong>Estado </strong>- {{OFERTA_DATA.solicitudes_estado}}</span>
        <progress-bar class="progressBarPen3" [progress]="OFERTA_DETALLE.porcentaje"></progress-bar>
      </ion-col>
    </ion-row>
    <ion-grid style="padding-left: 25px;padding-right: 25px;">
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/Peso-Galon.svg">
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/Peso-kilo.svg">
        </ion-col>
        <ion-col col-4>
          <span>{{OFERTA_DATA.solicitudes_peso}}</span>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/precio.svg">
        </ion-col>
        <ion-col col-5>
          <span>{{OFERTA_DATA.solicitudes_preciofinal}}</span>
        </ion-col>
        <!--<ion-col col-10>-->
        <!--<span><strong>ORIGEN :</strong> {{OFERTA_DATA.origen_nombre}}</span>-->
        <!--</ion-col>-->
      </ion-row>
      <hr style="width: 100%">

      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/generador.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-5>
          <span><strong>GENERADOR</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.generador_nombre}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/Producto.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-5>
          <span><strong>PRODUCTO</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.producto_nombre}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/destino.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-11>
          <span><strong>ORIGEN</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.origen_nombre}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/origen.svg" style="max-width: 15px;width: 18px;">
        </ion-col>
        <ion-col col-11>
          <span><strong>DESTINO</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.destino_nombre}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/fecha-entrega.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-5>
          <span><strong>F. CARGA</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.solicitudes_fechacarga}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/fecha-carga.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-5>
          <span><strong>F. ENTREGA</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.solicitudes_fechaentrega}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/tipo-carga.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-5>
          <span><strong>TIPO DE CARGA</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.tipocarga_descripcion}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/tipo-vehiculo.svg" style="max-width: 15px">
        </ion-col>
        <ion-col col-5>
          <span><strong>TIPO VEHICULO</strong></span>
          <p style="font-size: 10px">{{OFERTA_DATA.tipovehiculo_descripcion}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <div style="margin-top: 8px;
                margin-bottom: 8px;
                text-align: center;
                letter-spacing: 1px;">
      <span>VINCULAR TRANSPORTISTAS</span>
    </div>
    <ion-row style="background: #FFC900;" (click)="_EnviarTransportistas()">
      <ion-col col-2 style="margin: auto;">
        <img src="assets/imgs/icon/Gestionar-transportistas.svg" style="max-width: 80%;margin: auto;">
      </ion-col>
      <ion-col col-10>
        <span><strong>Gestionar transportistas</strong></span>
        <p style="font-size: 12px;">Asignar transportistas, generar manifiestos y</p>
        <p style="font-size: 12px;">llevar todo el control de la solicitud</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 style="margin: auto">
        <img src="assets/imgs/icon/Oferta.svg" style="max-width: 80%;margin: auto">
        <ion-badge class="badge-md-danger"
                   *ngIf="OFERTA_DETALLE.oferta_check != null">
          Inactiva
        </ion-badge>
        <ion-badge class="badge-md-primary" *ngIf="OFERTA_DETALLE.oferta_check == null">Activa
        </ion-badge>
      </ion-col>
      <ion-col col-10 *ngIf="OFERTA_DETALLE.oferta_check == null" (click)="createOfer()">
        <span><strong>¿Te quedaste sin transportistas?</strong></span>
        <p style="font-size: 11px;">Prueba crear una oferta, esta solo notificará a</p>
        <p style="font-size: 11px;">los transportistas que cumplan los criterios</p>
        <p style="font-size: 11px;">de esta solicitud</p>
      </ion-col>
      <ion-badge class="totalOfer" *ngIf="OFERTA_DETALLE.oferta_check != null">{{totalPost}}</ion-badge>
      <ion-col col-10 *ngIf="OFERTA_DETALLE.oferta_check != null" (click)="consultOfer(OFERTA_DETALLE)">
        <span><strong>Oferta creada | ACTIVA</strong></span>
        <p style="font-size: 12px;">Monitorea los transportistas postulantes</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
