<ion-list>
  <!--<button ion-item (click)="_Transportistas()">
    <ion-icon name="bus"></ion-icon>
    <ion-badge>Transportistas</ion-badge>
  </button>-->
  <button ion-item (click)="_Transportistas()">
    <ion-icon name="car"></ion-icon>
    <span style="color: #EB6400"><strong> Transportistas</strong></span></button>
  <!-- <button ion-item (click)="_Despachadores()"><ion-icon name="person-add"></ion-icon> <ion-badge>Despachadores</ion-badge></button> -->
  <button ion-item (click)="_CrearOferta()" *ngIf="SOLICITUD.oferta_check === 0">
    <ion-icon name="add"></ion-icon>
    <span style="color: #EB6400"><strong> Crear Oferta</strong></span>
  </button>
  <button ion-item (click)="_EnviarTransportistas()">
    <ion-icon name="send"></ion-icon>
    <span style="color: #EB6400"><strong> Enviar Transportista</strong></span>
  </button>
  <button ion-item (click)="_Estadisticas()">
    <ion-icon name="stats"></ion-icon>
    <span style="color: #EB6400"><strong> Estadistica</strong></span>
  </button>
</ion-list>
