
page-tutorial {
  /*.toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  h2.slide-title {
    font-size: 27px;
    text-align: left;
    color: white;
    margin-top: 22vh;
  }

  button.bottonslide {
    height: 30px;
    color: black;
    background: #ffa800;
    margin: auto;
    border-radius: 4px;
    position: relative;
    bottom: 6vh;
    width: 20rem;
    right: 6vh;
  }

  .swiper-pagination-bullet {
    border-radius: 100%;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #f4f4f4 !important;
    opacity: .2;
    pointer-events: auto;
  }

  .swiper-slide img {
    width: auto;
    max-width: 63% !important;
    height: auto;
    max-height: 100%;
    position: relative;
    top: auto;
    left: -10vh;
  }

  .div-slide {
    text-align: left;
    color: white;
    position: relative;
    left: -8vh;
    top: 3vh;
    p {
      color: #ffa800;
      text-align: left;
    }
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    position: absolute;
    top: 52vh;
    left: -16vh;
  }

  .slide-zoom {
    background: url('../assets/imgs/bg/bg2.jpg'), url("../../assets/imgs/bg/bg2.jpg") center;
    background-size: cover;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-pagination-bullet-active {
    background: #f4f4f4 !important;
    opacity: 1;
  }

  .slide-title {
    color: white;
    margin-top: 2.8rem;
    p {
      color: white
    }
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }*/
  ion-content {
    display: flex !important;
    flex-flow: row wrap;
    background-image: url('../assets/imgs/bg/bg2.jpg');
    background-size: cover;
    .section-logo {
      display: block;
      width: 100%;
      height: 10rem;
      //position: absolute;
      //background-color: red;
      margin-bottom: 1rem;
      padding: 5rem 0px 0rem 2rem;
      .logo-mueve {
        width: 18rem !important;
      }
    }

    .div-slider {
      display: flex;
      width: 100%;
      flex-flow: column;
      padding: 2rem;
      height: 40rem;
      justify-content: center;
      .despachador {
        text-transform: capitalize !important;
        font-family: montserrat, sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #3EB1E6;
      }
      .text-info {
        display: flex;
        width: 100%;
        // margin-left: 5rem;
        //width: 35rem;
        font-size: 2rem;
        text-align: left;
        color: white;
      }
    }

    section.section-btn-circles {
      display: flex;
      /* justify-content: center; */
      width: 100%;
      height: 3rem;
    }

    span.circle-bnt {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: gray;
      margin-right: 1rem;
    }

    .bg-blue-circle {
      background-color: #1E88E5 !important;
    }

    .btn-crear-cuenta {
      margin: 0 auto;
      background-color: #f9b318;
      color: black;
      text-transform: initial;
      font-weight: lighter;
      width: 100%;
      font-size: 17px;
      span.bold {
        //text-transform: lowercase;
        color: black;
        font-weight: bold;
      }
    }
  }

  ion-footer {
    .footer {
      //position: relative;
      //top: 4rem;
      //display: flex;
      //align-self: flex-end;
      ul {
        text-decoration: none;
        list-style: none;
        .item-1 {
          color: lightgray;
          font-size: 17px;
        }

        .item-2 {
          color: white;
          font-weight: bold;
          font-size: 17px;
        }
      }

    }
  }
}
