<!--NUEVO TUTORIAL-->
<ion-content>
  <!-- lOGO -->
  <div class="section-logo">
    <img class="logo-mueve" src="assets/imgs/mueve-logistica.svg">
  </div>
  <!-- FIN lOGO -->

  <!-- DIV SLIDER -->
  <div class="div-slider">
    <span class="despachador"><b>Despachador</b></span>
    <p class="text-info">
      {{printText}}
    </p>

    <!-- BUTTON -->
    <button ion-button="" [full]="" class="btn-crear-cuenta" (click)="ctrl()">
      Crea una cuenta
    </button>
    <!-- FIN  BUTTON -->

  </div>
  <!-- FIN DIV SLIDER -->

</ion-content>


<!--- FOOTER -->
<ion-footer>
  <div class="footer" (click)="ctrl2()">
    <ul>
      <li class="item-1">¿Ya tienes una cuenta?</li>
      <li class="item-2"> Inicia sesión</li>
    </ul>
  </div>
</ion-footer>
<!--- FIN  FOOTER -->
