<ion-header>

  <ion-navbar color="{{_driverWorking}}">
    <ion-title class="text-capitalize"> {{ contacto | lowercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="contenidoMessage" [ngStyle]="{'background-image': getUrl()}"  >

  <div class="conten-message" *ngFor="let m of conversation ">
    <div  [class]="_MiId == m.emisor ? 'pmensaje2' : 'pmensaje1'">
      <div *ngIf="m.mensaje.indexOf('data:image/'); else Imge"><!--{{m.mensaje}} -->

      <p *ngIf="m.mensaje.indexOf('data:application/'); else texto">
        {{m.mensaje}}
      </p>
      </div>

      <ng-template #Imge>
        <a (click)="download2(m.mensaje)">
          <img src="{{m.mensaje}}">
        </a>
      </ng-template>

      <ng-template #texto>
        <a  (click)="download2(m.mensaje)">
          <ion-icon name="cloud-download"></ion-icon> Archivo Adjunto
        </a>
      </ng-template>
    </div>
  </div>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-input type="text" placeholder="Escriba su mensage"
               [(ngModel)]="mensaje"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="gray" (click)="_Select_PictureSourceType()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button icon-right color="primary" (click)="_Emitmensage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
