page-messages {
  .contenidoMessage{
    background-size: 100% 100% !important;
    width: 100%;
    //overflow-y: scroll;
  }

  .conten-message {
    width:  100%;
    margin-bottom: 2%;
    display:  inline-block;
  }

  .pmensaje1{
    position: relative;
    margin-top: 2%;
    border-radius: 2%;
    margin-left: 10%;
    background-color: #FFF;
    width: 150px;
    padding: 5px;
    color: #000;

    &:after{
      position: absolute;
      top: 0;
      left: -20px;
      content: "\00a0";
      display: block;
      width: 0;
      height: 0;
      border-width: 1px 20px 12px 0;;
      border-style: solid;
      border-color: transparent #FFF transparent transparent;

    }
  }
  .pmensaje2{
    position: relative;
    float: right;
    margin-top: 2%;
    border-radius: 2%;
    margin-right: 10%;
    background-color: #dcf8c6;
    width: 150px;
    padding: 5px;
    color: #000;

    &:after{
      position: absolute;
      top: 0;
      right: -20px;
      content: "\00a0";
      display: block;
      width: 0;
      height: 0;
      border-width: 1px 0px 12px 20px;
      border-style: solid;
      border-color: transparent transparent transparent #dcf8c6;}

  }

 ion-footer {
   .toolbar-background-md {
     border-color: #b2b2b2;
     background: #FFF;
   }
 }
}
