page-detalleactivos {
  input.searchbar-input {
    font-family: montserrat, sans-serif !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
  }

  .divtelefono {
    margin: auto;
    background: #005AA6;
    width: 15vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 13%;
        margin-top: -12px;
        margin-left: 10px;
      }
    }
  }

  .categoriayreputacion {
    margin-top: 0px;
    color: #00BA00;
    font-size: 11px;
    ion-badge {
      margin-top: 4px;
      //border-radius: 0px !important;
      font-size: 9px
    }
  }

  ion-card-content.card-content.card-content-md {
    padding: 0px !important;
  }

  .progressBarPen4 {
    .progress-outer {
      .progress-inner {
        background-color: #FFC900 !important;
      }
    }
  }

  .textosSup {
    text-align: center;
    margin: auto;
    font-size: 27px;
  }

  ion-row {
    ion-col {
      button.buttonOferta {
        color: white;
        text-transform: full-width;;
        border-radius: 10px;
        height: 30px;
      }
    }
  }
}
