<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Oferta - N° {{this.navParams.get('data')[0].oferta_codigo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row style="background: #FF4F00;color:white;padding-left: 15px" *ngIf="this.navParams.get('value') == 'despacho'">
    <ion-col col-12>
      <span text-uppercase><strong>VEHICULOS</strong> - {{this.navParams.get('value')}}</span>
    </ion-col>
  </ion-row>
  <ion-row style="background: #005AA3;color:white;padding-left: 15px" *ngIf="this.navParams.get('value') == 'ruta'">
    <ion-col col-12>
      <span text-uppercase><strong>VEHICULOS</strong> - {{this.navParams.get('value')}}</span>
    </ion-col>
  </ion-row>
  <ion-row style="background: #00BA00;color:white;padding-left: 15px"
           *ngIf="this.navParams.get('value') == 'culminado'">
    <ion-col col-12>
      <span text-uppercase><strong>VEHICULOS</strong> - {{this.navParams.get('value')}}</span>
    </ion-col>
  </ion-row>
  <div style="background: white">
    <ion-row>
      <ion-col col-2 style="margin: auto;
                      text-align: center;">
        <span style="font-size: 4rem;color: #FF4F00" *ngIf="Listado">{{Listado.length}}</span>
      </ion-col>
      <ion-col col-10 style="padding: 0px!important;">
        <ion-searchbar color="primary"
                       [(ngModel)]="queryText"
                       (ionInput)="Search_placa_name()"
                       placeholder="Búsqueda rápida">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
  <hr style="width: 100%">

  <accordion *ngFor="let i of Listado">
    <ion-item accordion-header class="accordion-label" [attr.track]="'ACTIVO' | lowercase">
      <ion-row>
        <ion-col col-2 style="margin: auto;">
          <img src="assets/imgs/icon/t_plata.svg" style="max-width: 90%;" *ngIf="i.categoria == 'SILVER'">
          <img src="assets/imgs/icon/t_bronce.svg" style="max-width: 90%" *ngIf="i.categoria == 'BRONZE'">
          <img src="assets/imgs/icon/t_bronce_1.svg" style="max-width: 90%" *ngIf="i.categoria == 'GOLD'">
        </ion-col>
        <ion-col col-10>
          <span style="font-size: 13px;text-transform: capitalize"
                [innerHTML]="i.persona_nombre.toLowerCase()"></span>
          <!--NUEVO-->
          <p class="categoriayreputacion" *ngIf="i.reputacion == 'NUEVO'">
            <ion-badge color="yellow" *ngIf="i.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="i.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="i.categoria == 'BRONZE'">BRONCE</ion-badge>
          </p>
          <!--EXCELENTE-->
          <p class="categoriayreputacion" *ngIf="i.reputacion == 'EXCELENTE'">
            <ion-badge color="yellow" *ngIf="i.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="i.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="i.categoria == 'BRONZE'">BRONCE</ion-badge>
            Excelente reputación
          </p>
          <!--BUENO-->
          <p class="categoriayreputacion" *ngIf="i.reputacion == 'BUENO'">
            <ion-badge color="yellow" *ngIf="i.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="i.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="i.categoria == 'BRONZE'">BRONCE</ion-badge>
            Buena reputación
          </p>
          <!--ACEPTABLE-->
          <p class="categoriayreputacion" *ngIf="i.reputacion == 'ACEPTABLE'">
            <ion-badge color="yellow" *ngIf="i.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="i.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="i.categoria == 'BRONZE'">BRONCE</ion-badge>
            Buena reputación
          </p>
          <!--REGULAR-->
          <p class="categoriayreputacion" *ngIf="i.reputacion == 'REGULAR'">
            <ion-badge color="yellow" *ngIf="i.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="i.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="i.categoria == 'BRONZE'">BRONCE</ion-badge>
            Reputación regular
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-grid accordion-body>
      <!--  -->
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/icono_placa.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Placa</strong></span>
          <p style="margin-top: 1px">{{i.vehiculo_placa}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/icono_vehiculo.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Vehiculo</strong></span>
          <p style="margin-top: 1px">{{i.tipovehiculo_descripcion}}</p>
        </ion-col>
      </ion-row>
      <!--  -->
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/icon/icono_cedula.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Identificacion</strong></span>
          <p style="margin-top: 1px">{{i.persona_identificacion}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/trailer_v2.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span><strong>Trailer</strong></span>
          <p style="margin-top: 1px">{{i.trailer_placa}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="background: #F2F2F2;padding-left: 15px;padding-right: 15px;border-radius: 25px"
               (click)="timeLine(i.tiempos, i)">
        <ion-col col-2 style="margin:auto;">
          <ion-badge color="danger" round>
            {{i.tiempos.length}}
          </ion-badge>
        </ion-col>
        <ion-col col-8>
          <p style="margin-top: 0px">Bitácora de viaje</p>
        </ion-col>
        <ion-col col-2 style="margin:auto;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <!--DETALLE TRANSPORTITSA-->
      <ion-row style="margin-top: 3px">
        <ion-col col-12 style="text-align: right;margin: auto">
          <span style="color: #428DFF" (click)="detalleTransportista(i)">
            Ver detalles
          <ion-icon name="kargoo-flecha_ir" color="azul_rey" style="font-size: 13px"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
      <!--fin DETALLE TRANSPORTITSA-->
      <!-- -->
    </ion-grid>
  </accordion>
</ion-content>
