<!--
  Generated template for the LogrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Logros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row class="row-superior">
    <p class="p-text-info">
      Desbloquea los siguientes logros para obtener MP.
    </p>
  </ion-row>
  <ion-row class="row-text-title row-superior1">
    <ul>
      <li><b>Ganados</b></li>
      <li class="color-text-blue">
        {{LogrosTotal}} MP
      </li>
    </ul>
  </ion-row>

  <button ion-item *ngFor="let e of Logros" (click)="infoNotf(e)">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img [src]="imagenLogro(e.icono)">
      </ion-col>
      <ion-col col-8>
        <small><strong>{{e.design_tipo}}</strong> <b style="color: #00c4ff">+{{e.design_puntos}} MP</b></small>
        <p style="font-size: 12px">{{e.design_titulo}}</p>
        <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 12px;">
          {{ _formatDate(e.fecha)}}
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 10px;float: right;">
      </ion-col>
    </ion-row>
  </button>

  <!--<ion-row class="row-color-white border-bottom prueba-ripple max-height-7_5rem" *ngFor="let e of Logros">
    <ion-col col-2 class="ion-col-image">

      <img [src]="imagenLogro(e.icono)">

    </ion-col>
    <ion-col col-8="">
      <ul>
        <li class="color-text-green">{{e.design_tipo}} <span class="color-text-blue">+{{e.design_puntos}} MP </span>
          &lt;!&ndash; <span class="color-text-red" [hidden]="e.punto && e.punto !== 0 && e.design_operacion =='RESTA' ? '' : 'hidden'">-{{e.punto}} MP</span> &ndash;&gt;
        </li>
        <li class="text-gray">{{e.design_titulo}}</li>
        <li class="text-gray">{{ _formatDate(e.fecha)}}</li>
      </ul>
    </ion-col>
    <ion-col col-2="" class="col-arrow">
      <img class="arrow-detail position-arrow" src="assets/imgs/icon/flecha-ir.svg">
    </ion-col>
  </ion-row>-->

</ion-content>
