<ion-list>
  <!--<button ion-item (click)="_Transportistas()">
    <ion-icon name="bus"></ion-icon>
    <ion-badge>Transportistas</ion-badge>
  </button>-->
  <button ion-item (click)="cumplidoInicial()">
    <img src="assets/imgs/icon/culminar-envio.svg" style="max-width: 6%">
    <span style="color: #00BA00"><strong> Cumplido inicial</strong></span></button>
  <button ion-item (click)="cumplidoRemesa()">
    <img src="assets/imgs/icon/crear-cumplido-remesa-manifiesto.svg" style="max-width: 6%">
    <span style="color: #000000"><strong> Crear Cumplido Remesa</strong></span></button>
  <button ion-item (click)="cumplidoManifiesto()">
    <img src="assets/imgs/icon/crear-cumplido-remesa-manifiesto.svg" style="max-width: 6%">
    <span style="color: #000000"><strong> Crear Cumplido Manifiesto</strong></span></button>
  <button ion-item (click)="viewORM()">
    <img src="assets/imgs/icon/ver-orden.svg" style="max-width: 6%">
    <span style="color: #000000"><strong> Ver Orden/Remesa/Manif.</strong></span></button>
  <!-- <button ion-item (click)="_Despachadores()"><ion-icon name="person-add"></ion-icon> <ion-badge>Despachadores</ion-badge></button> -->
</ion-list>
