<ion-header>
  <!--ESTADOS-->
  <ion-navbar color="azul_rey" no-border-bottom *ngIf="this.navParams.get('data').oferta_estado == 'PUBLICADA'">
    <ion-row>
      <ion-col col-11 style="margin: auto">
        <span style="margin: auto;color: white;font-size: 19px;">
          Oferta {{this.navParams.get('data').oferta_codigo}}
        </span>
      </ion-col>
      <ion-col col-1 style="margin: auto" (click)="popoverEdit($event)">
        <ion-icon name="more" color="light" style="font-size: 25px;"></ion-icon>
        <!--<img src="assets/imgs/icon/editar-foto-perfil.svg" style="max-width: 60%" (click)="popoverEdit($event)">-->
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-navbar color="full_cupo" no-border-bottom *ngIf="this.navParams.get('data').oferta_estado == 'COMPLETADA'">
    <ion-row>
      <ion-col col-10 style="margin: auto">
        <span style="margin: auto;color: white;font-size: 19px;">
          <strong>Oferta {{this.navParams.get('data').oferta_codigo}}</strong>
        </span>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-navbar color="dark" no-border-bottom *ngIf="this.navParams.get('data').oferta_estado == 'VENCIDA'">
    <ion-row>
      <ion-col col-10 style="margin: auto">
        <span style="margin: auto;color: white;font-size: 19px;">
          Oferta {{this.navParams.get('data').oferta_codigo}}
        </span>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-navbar color="danger" no-border-bottom *ngIf="this.navParams.get('data').oferta_estado == 'RECHAZADA'">
    <ion-row>
      <ion-col col-10 style="margin: auto">
        <span style="margin: auto;color: white;font-size: 19px;">
          Oferta {{this.navParams.get('data').oferta_codigo}}
        </span>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-navbar color="danger" no-border-bottom *ngIf="this.navParams.get('data').oferta_estado == 'CERRADA'">
    <ion-row>
      <ion-col col-10 style="margin: auto">
        <span style="margin: auto;color: white;font-size: 19px;">
          Oferta {{this.navParams.get('data').oferta_codigo}}
        </span>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<!--MENUS PARA FILTRAR-->
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!BadConection">
    <ion-row style="background: red;height: 4vh;">
      <p style="margin: auto;color: white">Sin conexión a Mueve Logística</p>
    </ion-row>
  </div>
  <ion-row style="background: white;
                  padding-top: 5px;
                  padding-left: 20px;
                  padding-right: 20px;"
           *ngIf="this.navParams.get('data').oferta_estado == 'PUBLICADA'">
    <ion-col col-3 class="imagenes" (click)="filterNewDetalle('pendiente')">
      <img src="assets/imgs/icon/postulados-on.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment === 'pendiente'">
      <img src="assets/imgs/icon/postulados-off.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment !== 'pendiente'">
      <p style="font-size: 12px;margin-top: 0px">Postulados</p>
    </ion-col>
    <ion-col col-3 class="imagenes" (click)="filterNewDetalle('aceptada')">
      <img src="assets/imgs/icon/b_enviados_v2_on.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment === 'aceptada'">
      <img src="assets/imgs/icon/b_enviados_v2_off.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment !== 'aceptada'">
      <p style="font-size: 12px;margin-top: 0px">Enviados</p>
    </ion-col>
    <ion-col col-3 class="imagenes" (click)=" filterNewDetalle('cancelada')">
      <img src="assets/imgs/icon/rechazados-on.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment === 'cancelada'">
      <img src="assets/imgs/icon/asignados-off_2.svg" class="logos" style="max-width: 50%!important"
           *ngIf="segment !== 'cancelada'">
      <p style=" font-size: 12px;margin-top: 0px">Cancelados</p>
    </ion-col>
    <ion-col col-3 class="imagenes" style="margin: auto;" *ngIf="segment === 'activos'">
      <img src="assets/imgs/icon/activos_on.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('activos')">
      <ion-icon name="alert" color="danger" *ngIf="_alert == true"
                style="position: relative;bottom: 17px;right: 5px;"></ion-icon>
      <p style=" font-size: 12px;margin-top:0px">Activos</p>
    </ion-col>
    <ion-col col-3 class="imagenes" style="margin: auto;" *ngIf="segment !== 'activos'">
      <img src="assets/imgs/icon/activos_off.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('activos')">
      <ion-icon name="alert" color="danger" *ngIf="_alert == true"
                style="position: relative;bottom: 17px;right: 5px;"></ion-icon>
      <p style=" font-size: 12px;margin-top:0px">Activos</p>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;padding-left: 50px;padding-right: 50px;padding-top: 10px"
           *ngIf="this.navParams.get('data').oferta_estado !== 'PUBLICADA'">
    <ion-col col-4 class="imagenes" (click)="filterNewDetalle('aceptada')">
      <img src="assets/imgs/icon/b_enviados_v2_on.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment === 'aceptada'">
      <img src="assets/imgs/icon/b_enviados_v2_off.svg" class="logos" style="max-width: 50%!important;"
           *ngIf="segment !== 'aceptada'">
      <p style="font-size: 12px;margin-top: 0px">Enviados</p>
    </ion-col>
    <ion-col col-4 class="imagenes" style="margin: auto;" *ngIf="segment === 'activos'">
      <img src="assets/imgs/icon/activos_on.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('activos')">
      <ion-icon name="alert" color="danger" *ngIf="_alert == true"
                style="position: relative;bottom: 17px;right: 5px;"></ion-icon>
      <p style=" font-size: 12px;margin-top:0px">Activos</p>
    </ion-col>
    <ion-col col-4 class="imagenes" style="margin: auto;" *ngIf="segment !== 'activos'">
      <img src="assets/imgs/icon/activos_off.svg" class="logos" style="max-width: 14%"
           (click)="updateSegment('activos')">
      <ion-icon name="alert" color="danger" *ngIf="_alert == true"
                style="position: relative;bottom: 17px;right: 5px;"></ion-icon>
      <p style=" font-size: 12px;margin-top:0px">Activos</p>
    </ion-col>
    <ion-col col-4 class="imagenes" (click)="filterNewDetalle('culminada')">
      <img src="assets/imgs/icon/asignados-on_1.svg" class="logos" style="max-width: 50% !important;"
           *ngIf="segment === 'culminada'">
      <img src="assets/imgs/icon/asignados-off_1.svg" class="logos" style="max-width: 50% !important;"
           *ngIf="segment !== 'culminada'">
      <p style=" font-size: 12px;margin-top: 0px">Culminados</p>
    </ion-col>
  </ion-row>

  <div style="background: white" *ngIf="segment !== 'activos'">
    <ion-row style="padding-right: 5px">
      <ion-col col-2 style="margin: auto;
      padding: 0px !important;
                      text-align: center;">
        <span style="font-size: 3rem;color: #FF4F00" *ngIf="oferta">{{oferta.length}}</span>
      </ion-col>
      <ion-col col-10 style="padding: 0px !important;">
        <ion-searchbar color="primary"
                       [(ngModel)]="queryText"
                       (ionInput)="Search_placa_name()"
                       placeholder="Nombre, cédula o placa">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
  <hr style="width: 100%" *ngIf="segment !== 'activos'">
  <div style="padding: 15px;text-align: center" *ngIf="oferta && oferta.length == 0 && segment !== 'activos'">
    <span *ngIf="segment === 'pendiente'"><strong> No tienes transportistas postulados.</strong></span>
    <span *ngIf="segment === 'aceptada'"><strong> No tienes transportistas asignados.</strong></span>
    <span *ngIf="segment === 'cancelada'"><strong> No tienes transportistas rechazados.</strong></span>
  </div>
  <!--<accordion *ngFor="let  p of POSTULANTES">-->
  <accordion *ngFor="let  p of oferta">
    <ion-item accordion-header class="accordion-label" [attr.track]="p.postulacion_estado | lowercase">
      <ion-row>
        <ion-col col-2 style="margin: auto;">
          <img src="assets/imgs/icon/t_plata.svg" style="max-width: 90%;" *ngIf="p.categoria == 'SILVER'">
          <img src="assets/imgs/icon/t_bronce.svg" style="max-width: 90%" *ngIf="p.categoria == 'BRONZE'">
          <img src="assets/imgs/icon/t_bronce_1.svg" style="max-width: 90%" *ngIf="p.categoria == 'GOLD'">
        </ion-col>
        <ion-col col-10>
          <span style="font-size: 13px;text-transform: capitalize"
                [innerHTML]="p.nombre.toLowerCase()"></span>
          <!--NUEVO-->
          <p class="categoriayreputacion" *ngIf="p.reputacion == 'NUEVO'">
            <ion-badge color="yellow" *ngIf="p.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="p.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="p.categoria == 'BRONZE'">BRONCE</ion-badge>
          </p>
          <!--EXCELENTE-->
          <p class="categoriayreputacion" *ngIf="p.reputacion == 'EXCELENTE'">
            <ion-badge color="yellow" *ngIf="p.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="p.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="p.categoria == 'BRONZE'">BRONCE</ion-badge>
            Excelente reputación
          </p>
          <!--BUENO-->
          <p class="categoriayreputacion" *ngIf="p.reputacion == 'BUENO'">
            <ion-badge color="yellow" *ngIf="p.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="p.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="p.categoria == 'BRONZE'">BRONCE</ion-badge>
            Buena reputación
          </p>
          <!--ACEPTABLE-->
          <p class="categoriayreputacion" *ngIf="p.reputacion == 'ACEPTABLE'">
            <ion-badge color="yellow" *ngIf="p.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="p.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="p.categoria == 'BRONZE'">BRONCE</ion-badge>
            Buena reputación
          </p>
          <!--REGULAR-->
          <p class="categoriayreputacion" *ngIf="p.reputacion == 'REGULAR'">
            <ion-badge color="yellow" *ngIf="p.categoria == 'GOLD'">ORO</ion-badge>
            <ion-badge color="light" *ngIf="p.categoria == 'SILVER'">PLATA</ion-badge>
            <ion-badge color="bronze" *ngIf="p.categoria == 'BRONZE'">BRONCE</ion-badge>
            Reputación regular
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-grid accordion-body>
      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/icon/icono_cedula.svg" style="max-width: 20%">
          <span style="color: #005AA3">Cédula</span>
          <p style="margin-top: 1px;font-size: 13px;">{{p.identificacion}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/icono_vehiculo.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-3>
          <span style="color: #005AA3">Vehículo</span>
          <p style="margin-top: 1px;font-size: 13px;">{{p.tipo_vehiculo}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/icono_placa.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-3>
          <span style="color: #005AA3">Placa</span>
          <p style="margin-top: 1px;font-size: 13px;">{{p.placa}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block style="border-radius: 30px;
                                          background: #f2f2f2">
            <img src="assets/imgs/icon/validados.svg" style="max-width: 9%">
            <span style="font-size: 11px;
                         color: black;
                         text-transform: initial;">&nbsp;Los documentos están verificados y vigentes</span>
          </button>
        </ion-col>
      </ion-row>
      <!--  -->
      <ion-row>
        <ion-col col-12 style="text-align: right;margin: auto">
          <span style="color: #428DFF" (click)="detalleTransportista(p)">
            Ver detalles
          <ion-icon name="kargoo-flecha_ir" color="azul_rey" style="font-size: 13px"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </accordion>
  <!--ACTIVOS-->
  <!--EN CARGUE / EN DESPACHO-->
  <div *ngIf="segment == 'activos'">
    <ion-row style="padding-left: 10px;padding-right: 10px">
      <ion-col col-6 style="text-align: center;font-size: 11px">
        <span style="color:red"><strong>ÚLTIMA CARGA</strong> </span>
        <p style="margin-top: 0px" *ngIf="_FechaCarga">{{_FechaCarga}}</p>
      </ion-col>
      <ion-col col-6 style="text-align: center;font-size: 11px">
        <span style="color:#00BA00"><strong>ÚLTIMA ENTREGA</strong> </span>
        <p style="margin-top: 0px" *ngIf="_FechaEntrega">{{_FechaEntrega}}</p>
        <p></p>
      </ion-col>
    </ion-row>
    <hr style="width: 100%">
    <!--EN RUTA-->
    <ion-row>
      <ion-col style="text-align: center">
        <span style="font-size: 11px"> <strong>VEHÍCULOS </strong>EN RUTA</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 style="margin: auto;font-size:20px;text-align: center;color: #005AA6;">
        <span><strong>{{_ActivosRuta}}</strong></span>
      </ion-col>
      <ion-col col-9 *ngIf="_Activos && _ActivosRuta > 0">
        <progress-bar class="progressBarPen2"
                      [progress]="_CalcularProgreso(_ActivosRuta)"
                      (click)="detalleactivos('ruta')"></progress-bar>
      </ion-col>
      <ion-col col-9 *ngIf="_Activos && _ActivosRuta == 0">
        <progress-bar class="progressBarPen2"
                      [progress]="_CalcularProgreso(_ActivosRuta)"></progress-bar>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;"
             *ngIf="_Activos && _ActivosRuta > 0" (click)="detalleactivos('ruta')">
      </ion-col>
    </ion-row>
    <hr style="width: 100%">
    <!--CULMINADOS-->
    <ion-row>
      <ion-col style="text-align: center">
        <span style="font-size: 11px"> <strong>VEHÍCULOS </strong>CULMINADOS</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 style="margin: auto;font-size:20px;text-align: center;color: #00BA00;">
        <span><strong>{{_ActivosCulminados}}</strong></span>
      </ion-col>
      <ion-col col-9 *ngIf="_Activos && _ActivosCulminados == 0">
        <progress-bar class="progressBarPen3" [progress]="_CalcularProgreso(_ActivosCulminados)"></progress-bar>
      </ion-col>
      <ion-col col-9 *ngIf="_Activos && _ActivosCulminados > 0">
        <progress-bar class="progressBarPen3"
                      [progress]="_CalcularProgreso(_ActivosCulminados)"
                      (click)="detalleactivos('culminado')"></progress-bar>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;"
             *ngIf="_Activos && _ActivosCulminados > 0" (click)="detalleactivos('culminado')">
      </ion-col>
    </ion-row>
    <hr style="width: 100%">
    <ion-row style="padding-left: 10px;padding-right: 10px">
      <ion-col col-12 style="text-align: center">
        <span
          style="font-size: 11px">Monitorea los estados de los vehículos asociados a esta oferta en tiempo real.</span>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
