$categories: (
  aceptada: color($colors, primary),
  cerrada: #AC282B,
  borrador: #8E8D93,
  tooling: #FE4C52,
  pendiente: #FD8B2D,
  design: #FED035,
  publicada: #69BB7B,
  asignada:#07833b,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-ofertanewdetalle {
  @each $track, $value in auxiliary-categories() {
    accordion {
      ion-card {
        ion-card-header {
          ion-item[track=#{$track}] {
            border-left: 5px solid $value;
            padding-left: 10px;
          }
        }
      }

    }

  }

  .progressBarPen {
    .progress-outer {
      .progress-inner {
        background-color: #FF4F00 !important;
      }
    }
  }

  .paddingandcolor {
    padding-left: 10%;
    background: #005AA6;
    padding-right: 15%;
  }

  .progressBarPen2 {
    .progress-outer {
      .progress-inner {
        background-color: #005AA6 !important;
      }
    }
  }

  .progressBarPen3 {
    .progress-outer {
      .progress-inner {
        background-color: #00BA00 !important;
      }
    }
  }

  .progressBarPen4 {
    .progress-outer {
      .progress-inner {
        background-color: #FFC900 !important;
      }
    }
  }

  .progressBarPen4 {
    .progress-outer {
      .progress-inner {
        background-color: #ED6F24 !important;
      }
    }
  }

  .textosSup {
    text-align: center;
    margin: auto;
    font-size: 27px;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .logos {
    max-width: 50% !important;
  }

  .searchbar-md {
    //background: inherit;
    padding: 0px !important;
  }

  input.searchbar-input {
    font-family: montserrat, sans-serif !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
    //padding: 0px !important;
  }

  .categoriayreputacion {
    margin-top: 0px;
    color: #00BA00;
    font-size: 11px;
    ion-badge {
      margin-top: 4px;
      //border-radius: 0px !important;
      font-size: 9px
    }
  }

  .imagenes {
    text-align: center;
  }

  ion-row {
    ion-col {
      button.buttonOferta {
        color: white;
        text-transform: full-width;;
        border-radius: 10px;
        height: 30px;
      }
    }
  }

  .divtelefono {
    margin: auto;
    background: #005AA6;
    width: 15vh;
    border-radius: 6px;
    height: 4vh;
    ion-col {
      img {
        max-width: 13%;
        margin-top: -12px;
        margin-left: 10px;
      }
    }
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }
}
