<!--
  Generated template for the GenerateCumplidoManifiestoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Cumplido Remesa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-row style="background: #00BA00;padding-left: 48px;padding-right: 16px;padding-top: 3px">
        <ion-col col-1>
          <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span style="color: white"><strong>Conductor</strong></span>
          <p style="margin-top: 1px;color: white;font-size: 11px">{{solicitud.persona_nombre}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/placa.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span style="color: white"><strong>Placa</strong></span>
          <p style="margin-top: 1px;color: white;font-size: 11px">{{solicitud.vehiculo_placa}}</p>
        </ion-col>
      </ion-row>
      <ion-grid>
        <!--<ion-row>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="calendar"></ion-icon>
              Cargue
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="cargue" [min]="getCurrentTime()"></ion-datetime>
          </ion-item>
        </ion-row>-->
        <ion-row>
          <ion-item>
            <ion-label floating="">
              <img src="assets/imgs/icon/fecha-cumplido.svg" style="max-width: 6%">
              Fecha de descargue
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="descargue"
                          [min]="getCurrentTime()"></ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="">
                <img src="assets/imgs/icon/valor-anticipo.svg" style="max-width: 6%">
                Cantidad
              </ion-label>
              <ion-input type="text" formControlName="cantidad"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <button padding ion-button="" style="background: #00BA00;color: white;" class="button-block" (click)="saveData()"
            [disabled]="form.invalid">
      <strong>GUARDAR</strong>
    </button>
  </ion-col>
</ion-content>
