page-detalleevento {
  .content-detalle {
    background: #e0e0e0;
    ion-row.row-content {
      background: white;
      padding-top: 10px;
      ion-col.col-content {
        margin: auto;
        text-align: center
      }
      ion-col.col-content2 {
        p {
          margin-top: 0px;
        }
        button {
          background: #00BA00;
          text-transform: lowercase;
          height: 4vh;
          border-radius: 6px;
        }
      }
    }
    ion-row.row-content2 {
      padding-top: 10px;
      padding-left: 10px;
      ion-col {
        span {
          font-size: 15px;
        }
      }
    }
    ion-row.row-content3 {
      background: white;
      padding-top: 10px;
      padding-left: 10px;
      height: 5rem;
      ion-col {
        span {
          font-size: 15px;
        }
      }
    }
  }
}
