<!--
  Generated template for the DetalleeventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Detalle - Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-detalle">
  <ion-row style="background: #00BA00">
    <ion-col col-1 style="text-align: center;margin: auto;">
      <img src="assets/imgs/icon/transportista-todos.svg" style="max-width: 100%">
    </ion-col>
    <ion-col col-5 style="text-align: center;margin: auto;font-size: 12px;color:white">
      <p style="text-transform: capitalize"><b>{{_DetalleRuta.transportista.toLowerCase()}}</b></p>
    </ion-col>
    <ion-col col-1 style="text-align: center;margin: auto">
      <img src="assets/imgs/icon/Oferta.svg" style="max-width: 100%">
    </ion-col>
    <ion-col col-5 style="text-align: center;margin: auto;font-size: 12px;color:white">
      <p><b>{{_DetalleRuta.oferta_codigo}}</b></p>
    </ion-col>
  </ion-row>
  <ion-row class="row-content">
    <ion-col class="col-content" col-2 style="padding-left: 1rem"
             *ngIf="_DetalleRuta.descripcion == 'Accidente' ||
              _DetalleRuta.descripcion == 'Pinchazo' ||
               _DetalleRuta.descripcion == 'Derrumbe' ||
                _DetalleRuta.descripcion == 'Mantenimiento' ||
                 _DetalleRuta.descripcion == 'Marcha/Paro' ||
                  _DetalleRuta.descripcion == 'Cambio De Vehiculo' ||
                    _DetalleRuta.descripcion == 'Cambio De Trailer'">
      <ion-icon name="alert" color="danger" style="font-size: 30px;"></ion-icon>
    </ion-col>
    <ion-col class="col-content2" col-10>
      <div style="margin-left: 2vh;">
        <span><b>{{_DetalleRuta.descripcion}}</b></span>
        <p><b>{{formatFecha(_DetalleRuta.fechahoraregistro)}}</b></p>
        <button ion-button (click)="MapaEvento()" style="text-transform: capitalize">Ver en Maps</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="row-content2">
    <ion-col col-12>
      <span><b>Comentarios del transportista</b></span>
    </ion-col>
  </ion-row>
  <ion-row class="row-content3">
    <ion-col col-12 style="text-align: center">
      <span *ngIf="_DetalleRuta.observaciones !== null" style="text-transform: capitalize;font-size: 11px">{{_DetalleRuta.observaciones.toLowerCase()}}</span>
      <span *ngIf="_DetalleRuta.observaciones == null">*No hay comentarios para mostrar</span>
    </ion-col>
  </ion-row>
  <ion-row class="row-content2">
    <ion-col col-12>
      <span><b>Reporte fotográfico</b></span>
    </ion-col>
  </ion-row>
  <ion-row style="background: white">
    <ion-col col-12 style="text-align: center" *ngIf="evidencias">
      <span style="color: #00BA00"> {{evidencias.length}} imagenes almacenadas</span>
      <ion-slides>
        <ion-slide *ngFor="let d of evidencias">
          <img [src]="d" alt="">
          <!--<span>hola</span>-->
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col col-12>
      <!--<img [src]="_DetalleRuta[0].data" alt="" *ngIf="_DetalleRuta[0].data">-->
    </ion-col>
    <ion-col col-12 style=";text-align: center;background: #e0e0e0" *ngIf="!evidencias">
      <span>* No hay reporte fotográfico</span>
    </ion-col>
  </ion-row>
</ion-content>
