<ion-list>
  <!--<button ion-item (click)="_Transportistas()">
    <ion-icon name="bus"></ion-icon>
    <ion-badge>Transportistas</ion-badge>
  </button>-->
  <button ion-item (click)="_Evento()">
    <ion-icon name="add"></ion-icon>
    <span style="color: #EB6400"><strong> Crear Evento</strong></span></button>
  <button ion-item (click)="_Despachar()">
    <ion-icon name="add"></ion-icon>
    <span style="color: #EB6400"><strong> Culminar</strong></span></button>
  <!-- <button ion-item (click)="_Despachadores()"><ion-icon name="person-add"></ion-icon> <ion-badge>Despachadores</ion-badge></button> -->
</ion-list>
