<!--
  Generated template for the ReporttransportistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Denunciar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="Form">
    <ion-grid style="padding: 0px !important;">
      <br>
      <br>
      <ion-row style="padding-left: 10px">
        <ion-col col-12 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/advertencia.svg" style="max-width: 20% !important;">
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px">
        <ion-col col-12 style="margin: auto;text-align: center">
          <span style="color:red"><strong>¿Estas seguro que quieres reportar a este transportista?</strong></span>
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px">
        <ion-col col-12 style="margin: auto;text-align: center">
        <span><strong>Si el transportista no es quien dice ser o incumple alguno de nuestros
          <b style="color: #00AEEA">Términos de Uso</b>, puedes reportarnos cualquier irregularidad.</strong></span>
        </ion-col>
      </ion-row>
      <ion-row class="row-color-white" style="background: white">
        <ion-col col-12="">
          <ion-item>
            <ion-label stacked color="primary">
              Seleccione
            </ion-label>
            <ion-select icon-end="" style="text-transform: capitalize" placeholder="Seleccione" interface="popover"
                        formControlName="id_tema">
              <ion-option *ngFor="let t of temas" [value]=" t.id ">{{t.descripcion}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-textarea placeholder="¿Que ocurrio?" formControlName="observacion" rows="4" end=""
                          pattern="^[a-zA-Z0-9 ]*$"></ion-textarea>
          </ion-item>
          <div *ngIf="Form.get('observacion').hasError('pattern')">
            <small style="color: red">* Caracter invalido</small>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 style="text-align: center;">
          <button ion-button block style="background: #FF0000;color:white;border-radius: 5px;text-transform: unset"
                  (click)="confirmReport()">
            <span style="text-transform: full-width;;"><strong>Estoy seguro, reportar</strong></span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
