page-user {
  .contenedor-login2 {
    //background: url("../../assets/imgs/bg/bg2.jpg") center;
    background-size: cover;
    height: 100vh;
    padding-top: 4rem;
    //padding: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }
  ion-grid.grid {
    padding: 0px !important;
  }

  .invalid {
    border-bottom: 1px solid black !important;
  }

  .icon2 {
    position: relative;
    z-index: 2;
    font-size: 19px;
    top: 3vh;
  }

  .valid.ion-item {
    border-bottom: 1px solid black !important;
  }

  .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
    color: black;
  }

  form {
    text-transform: full-width;;
  }

  input.text-input.text-input-md {
    height: 20px;
  }

  div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    border-radius: 50%;
    background-size: 100% auto;
    background: url('../assets/imgs/Imagen_Perfil.svg'), url('../../assets/imgs/Imagen_Perfil.svg') no-repeat 50%;
    //background: url('../../assets/imgs/Imagen_Perfil.svg') no-repeat 50%;
    margin: auto;
    position: relative;
    top: -25px;
    border-color: white;
    border: 6px solid white;
  }

  button.buttonSig.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
    background: #005AA3;
    color: white;
    border-radius: 6px;
    top: 4px;
    margin: auto;
  }
}
