<ion-content>
  <div style="    text-align: center;margin-top: 15px;position: relative;z-index: 2">
    <ion-icon name="arrow-back" color="azul_rey" *ngIf="Opc == 0"
              style="position: relative;right: 20vh;font-size: 23px;z-index: 2"
              (click)="rootPages()"></ion-icon>
    <ion-icon name="arrow-back" color="azul_rey" *ngIf="Opc !== 0"
              style="position: relative;right: 20vh;font-size: 23px;z-index: 2"
              (click)="_previous()"></ion-icon>
    <img src="assets/imgs/mueve-logistica-icono.svg" class="imgLogo" style="max-width: 35px;margin-right: 15px;">
  </div>
  <div class="contenedor-login2">
    <ion-grid>
      <div style="text-align: center;margin-top: -20px;">
        <span style="font-size: 17px;" *ngIf="Opc == 3"><strong>Políticas de privacidad</strong></span>
        <span style="font-size: 17px;" *ngIf="Opc == 0"><strong>Crea tu cuenta de despachador (1/3)</strong></span>
        <span style="font-size: 17px;" *ngIf="Opc == 1"><strong>Crea tu cuenta de despachador (2/3)</strong></span>
        <span style="font-size: 17px;" *ngIf="Opc == 2"><strong>Crea tu cuenta de despachador (3/3)</strong></span>
      </div>
      <ion-list no-lines>
        <br>
        <div *ngIf="Opc == 0"><!-- INICIO DE LA OPCION 0 -->
          <form [formGroup]="form">
            <ion-row style="background: #e0e0e0">
              <ion-col col-10 style="padding-left: 15px">
                <span style="color: black">
              Datos principales</span>
              </ion-col>
            </ion-row>
            <!--PRIMER NOMBRE-->
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Nombre</ion-label>
                  <ion-input formControlName="personanombre" placeholder="Ingresar" maxlength="15" minlength="2"
                             name="personanombre"
                             type="text"
                             pattern="^[a-zA-Z ]*$">
                  </ion-input>
                </ion-item>
                <div *ngIf="form.get('personanombre').hasError('pattern')">
                  <small style="color: red">* Solo letras</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Apellido</ion-label>
                  <ion-input formControlName="personanombre1" placeholder="Ingresar" maxlength="15" minlength="2"
                             name="personanombre1"
                             type="text"
                             pattern="^[a-zA-Z ]*$">
                  </ion-input>
                </ion-item>
                <div *ngIf="form.get('personanombre1').hasError('pattern')">
                  <small style="color: red">* Solo letras</small>
                </div>
              </ion-col>
            </ion-row>
            <!--IDENTIFICACION-->
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Cédula</ion-label>
                  <ion-input formControlName="personaidentificacion" maxlength="15" minlength="5"
                             name="personaidentificacion" placeholder="Ingresar" type="tel" required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form.get('personaidentificacion').hasError('minlength')">
                  <small style="color: red">* El mínimo a ingresar son 5 dígitos</small>
                </div>
                <div *ngIf="form.get('personaidentificacion').hasError('pattern')">
                  <small style="color: red">* Solo números</small>
                </div>
              </ion-col>
            </ion-row>
            <!--CORREO-->
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Correo electrónico</ion-label>
                  <ion-input formControlName="personaemail" name="personaemail" placeholder="Ingresar"
                             pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,3}"
                             maxlength="50" type="email"
                             required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form.get('personaemail').hasError('pattern')">
                  <small style="color:red">* Formato de correo inválido</small>
                </div>
              </ion-col>
            </ion-row>
            <!--TELEFONO CELULAR 1-->
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Tel. ó Celular (1)</ion-label>
                  <ion-input formControlName="personatelefono" maxlength="10" minlength="7" name="personatelefono"
                             type="tel" placeholder="Ingresar"
                             required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form.get('personatelefono').hasError('minlength')">
                  <small style="color: red">* El mínimo a ingresar son 7 dígitos</small>
                </div>
              </ion-col>
            </ion-row>
            <!--TELEFONO CELULAR 1-->
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Tel. ó Celular (2)</ion-label>
                  <ion-input formControlName="contacto" placeholder="Ingresar" name="contacto" maxlength="10"
                             minlength="7"
                             type="tel">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
        </div>
        <div *ngIf="Opc == 1">
          <form [formGroup]="form2">
            <ion-row style="background: #e0e0e0">
              <ion-col col-10 style="padding-left: 15px">
                <span style="color: black">
              Empresa transportadora</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <p style="margin-top: 0px;font-size: 12px;text-align: center">Por motivos de seguridad validaremos tu
                  identidad con la siguiente información.</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">NIT empresa transportadora</ion-label>
                  <ion-input formControlName="nit" placeholder="Ingresar" minlength="9" maxlength="11" pattern="^[0-9._-]*$"
                             name="nit" type="tel" required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form2.get('nit').hasError('pattern')">
                  <small style="color: red">* Solo Numeros</small>
                </div>
                <div *ngIf="form2.get('nit').hasError('minlength')">
                  <small style="color: red;float: left">* El minímo a ingresar son 9 dígitos</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Empresa transportadora</ion-label>
                  <ion-input formControlName="empresa" placeholder="Ingresar" name="empresa" maxlength="30" type="text"
                             required
                             pattern="^[a-zA-Z0-9&. ]*$">
                  </ion-input>
                </ion-item>
                <div *ngIf="form2.get('empresa').hasError('pattern')">
                  <small style="color: red;float: left;">* Caracter invalido</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Teléfono empresa transportadora</ion-label>
                  <ion-input formControlName="empresatelefono" placeholder="Ingresar" maxlength="10"
                             name="empresatelefono" minlength="5"
                             type="tel"
                             required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form2.get('empresatelefono').hasError('pattern')">
                  <small style="color: red">* Solo números</small>
                </div>
                <div *ngIf="form2.get('empresatelefono').hasError('minlength')">
                  <small style="color: red;float: left">* El minímo a ingresar son 7 dígitos</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Referencia laboral (Nombre y apellido)</ion-label>
                  <ion-input maxlength="30" placeholder="Ingresar" formControlName="ref_laboral" minlength="2"
                             name="referencialaboral"
                             type="text"
                             required pattern="^[a-zA-Z. ]*$">
                  </ion-input>
                </ion-item>
                <div *ngIf="form2.get('ref_laboral').hasError('pattern')">
                  <small style="color: red;float: left">* Solo letras</small>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Cel. referencia laboral</ion-label>
                  <ion-input maxlength="10" placeholder="Ingresar" formControlName="tlf_referencia"
                             name="referencialaboral"
                             type="tel"
                             required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form2.get('tlf_referencia').hasError('pattern')">
                  <small style="color: red;float: left">* Solo números</small>
                </div>
                <div *ngIf="form2.get('tlf_referencia').hasError('minlength')">
                  <small style="color: red;float: left">* El minímo a ingresar son 7 dígitos</small>
                </div>
              </ion-col>
            </ion-row>
          </form>
        </div>
        <div *ngIf="Opc == 2">
          <form [formGroup]="form1">
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Usuario de inicio de sesión</ion-label>
                  <ion-input formControlName="login" placeholder="Ingresar" pattern="^[a-zA-Z0-9_-]*$" text-uppercase=""
                             name="login"
                             maxlength="20" type="text"
                             required>
                  </ion-input>
                </ion-item>
                <div *ngIf="form1.get('login').hasError('pattern')">
                  <small style="color:red">* Formato invalido</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Contraseña</ion-label>
                  <ion-input formControlName="password" placeholder="Ingresar" pattern="^[a-zA-Z0-9_-]*$"
                             name="password"
                             type="password" clearInput="false" clearOnEdit="false"
                             minlength="8" maxlength="32" [type]="passwordType"
                             required>
                  </ion-input>
                  <ion-icon name="eye" class="icon2" color="gray" item-end (click)="togglePassword()"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">Repetir contraseña</ion-label>
                  <ion-input formControlName="confirmpassword" placeholder="Ingresar" pattern="^[a-zA-Z0-9_-]*$"
                             name="password" type="password" clearInput="false" clearOnEdit="false"
                             minlength="8" maxlength="32" [type]="passwordType1"
                             required>
                  </ion-input>
                  <ion-icon name="eye" class="icon2" color="gray" item-end (click)="togglePassword1()"></ion-icon>
                </ion-item>
                <div *ngIf="form1.get('confirmpassword').hasError('pattern')">
                  <small style="color: red">* Caracter especial no permitido</small>
                </div>
                <div *ngIf="form1.get('password').hasError('pattern')">
                  <small style="color: red">* Caracter especial no permitido</small>
                </div>
                <div *ngIf="form1.get('confirmpassword').errors  && form1.get('confirmpassword').errors.invalidNet">
                  <small style="color: red">* No coincide la contraseña</small>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 style="text-align: center">
                <span
                  style="font-size: 11px"> * Debe tener un mínimo de 8 a 32 caracteres, entre letras y números</span>
              </ion-col>
            </ion-row>
            <ion-row style="background: #e0e0e0">
              <ion-col col-10 style="padding-left: 15px">
                <span style="color: black">
              PIN del referido (opcional)</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked color="primary">PIN</ion-label>
                  <ion-input formControlName="referido" placeholder="Ingresar" text-uppercase pattern="^[a-zA-Z0-9]*$"
                             name="referido"
                             maxlength="4" type="text">
                  </ion-input>
                </ion-item>
                <div *ngIf="form1.get('referido').errors  && form1.get('referido').errors.invalidNet">
                  <small style="color: red">* Pin no existe</small>
                </div>
              </ion-col>
            </ion-row>
          </form>
        </div>
        <div *ngIf="Opc == 3">
          <form [formGroup]="form3">
            <ion-row style="background: #e0e0e0">
              <ion-col col-10 style="padding-left: 15px">
                <span style="color: black">
              Políticas de privacidad</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <div style="text-align: justify;overflow: scroll;height: 57vh;margin-left: 13px;margin-right: 13px;">
                <p>
                  Autorizo al GRUPO MUEVE S.A.S. a recolectar, almacenar, clasificar, actualizar, suprimir, transmitir,
                  transferir y en general usar mis datos personales. Las finalidades de este tratamiento de mis datos
                  son:
                  1.) Facilitar las diferentes funcionalidades, y en general el funcionamiento eficiente y adecuado de
                  la
                  plataforma MUEVE LOGÍSTICA y el uso de la misma por parte de los diferentes usuarios o participantes
                  que
                  en ella intervienen.
                  2.) Enviar notificaciones y alertas de la plataforma MUEVE LOGÍSTICA.
                  3.) Compartir a otros usuarios o participantes de la plataforma MUEVE LOGÍSTICA, los datos que sean
                  necesarios para las funcionalidades de esta.
                  4.) Además para lo específicamente dispuesto en el punto 5 del Manual de políticas y procedimientos
                  para
                  el tratamiento de datos personales de GRUPO MUEVE S.A.S
                  <b style="color:#00c4ff" (click)="linksgo.goRoute('7')">disponible aquí</b>.
                  Como titular de sus datos
                  personales usted tiene derecho a: conocer, actualizar, y rectificar sus datos; solicitar prueba de la
                  autorización otorgada para su tratamiento; ser informado sobre el uso que se ha dado a sus datos;
                  presentar quejas ante la Superintendencia de Industria y Comercio por infracción a la ley; revocar la
                  autorización y/o solicitar la supresión de sus datos en los casos en que sea procedente; y a acceder
                  de
                  forma gratuita a los mismos. Las respuestas a las preguntas relativas a datos sensibles son
                  opcionales.
                  Son datos sensibles los relativos a la salud y las fotografías en cuanto permitan por medios técnicos
                  la
                  identificación o autenticación unívoca de la persona. Datos de contacto: Calle 18 # 4-31 Prados Norte,
                  Edificio Tulipán, apto.104, Cúcuta (Norte de Santander), teléfono 548 4589 y correo electrónico:
                  logistica@grupomueve.com
                  Al marcar esta casilla y seguir adelante, manifiesto que he leído y entiendo todo lo anterior y que
                  autorizo de forma expresa el tratamiento de mis datos personales.
                </p>
              </div>
              <ion-item>
                <ion-label>Aceptar</ion-label>
                <ion-checkbox slot="end" formControlName="terminos_condiciones"
                              (ionChange)="checkterminos($event)"></ion-checkbox>
              </ion-item>
            </ion-row>
          </form>
        </div>
      </ion-list>
      <div style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="buttonSig" style="background: #005AA3;border-radius: 6px;color:white"
                      (click)="_next()"
                      type="submit" block [disabled]="form.invalid" *ngIf="Opc < 1">
                <strong>Siguiente</strong>
              </button>
              <button ion-button class="buttonSig" style="background: #005AA3;color:white" [disabled]="form2.invalid"
                      (click)="_next2()"
                      type="submit" block *ngIf="Opc == 1">
                <strong>Siguiente</strong>
              </button>
              <button ion-button class="buttonSig" style="background: #005AA3;color:white" [disabled]="form1.invalid"
                      (click)="_next3()"
                      type="submit" block *ngIf="Opc == 2">
                <strong>Siguiente</strong>
              </button>
              <button ion-button class="buttonSig" [disabled]="form3.invalid" style="background: #00BA00;color:white"
                      (click)="saveData()"
                      type="submit" block *ngIf="Opc == 3">
                <strong>Crear cuenta</strong>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-grid>
  </div>

</ion-content>
