<!--
  Generated template for the GenerateCumplidoManifiestoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Cumplido Manifiesto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list padding>
    <form [formGroup]="form">
      <ion-row style="background: #00BA00;padding-left: 48px;padding-right: 16px;padding-top: 3px">
        <ion-col col-1>
          <img src="assets/imgs/icon/conductor.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span style="color: white"><strong>Conductor</strong></span>
          <p style="margin-top: 1px;color: white;font-size: 11px">{{solicitud.persona_nombre}}</p>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/icon/placa.svg" style="max-width: 100%">
        </ion-col>
        <ion-col col-5>
          <span style="color: white"><strong>Placa</strong></span>
          <p style="margin-top: 1px;color: white;font-size: 11px">{{solicitud.vehiculo_placa}}</p>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label floating="">
              <img src="assets/imgs/icon/fecha-cumplido.svg" style="max-width: 6%">
              Fecha de Cumplido
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [min]="getCurrentTime()"
                          formControlName="fecha"></ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/cargue adicional.svg" style="max-width: 6%">
                CARGUE ADICIONAL
              </ion-label>
              <ion-input type="number" placeholder="59" min="0" max="59"
                         formControlName="adicionalcargue"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/descuento.svg" style="max-width: 6%">
                DESCUENTO
              </ion-label>
              <ion-input type="number" placeholder="59" min="0" max="59"
                         formControlName="descuento"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/valor-anticipo.svg" style="max-width: 6%">
                ANTICIPO
              </ion-label>
              <ion-input type="number" placeholder="59" min="0" max="59"
                         formControlName="adicionalanticipo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
  <ion-col col-sm-6 col-md-2 col-lg-6>
    <button padding ion-button="" style="background: #00BA00" class="button-block" (click)="saveData()"
            [disabled]="form.invalid">
      <strong>GUARDAR</strong>
    </button>
  </ion-col>
</ion-content>
