page-ofertaedit {
  #mapa-show {
    background: rgb(229, 227, 223);
    #map {
      width: 100%;
      height: 70vh;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map {
        opacity: 1;
      }
    }
    .scroll {
      height: calc(100% - 250px);
    }
  }
  /*ion-item.item.item-block.item-md.item-input {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 40px
  }

  ion-item.item.item-block.item-md.item-datetime {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 40px
  }

  ion-item.item.item-block.item-md.item-select {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 50px
  }

  ion-item.item.item-block.item-md.item-span {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 40px
  }*/
}
