<ion-content>
  <div style="text-align: center;height: 8vh;background: #022F76;margin: auto;height: 7vh">
    <ion-row>
      <ion-col col-2 style="margin: auto;top: 5px;">
        <ion-icon name="arrow-back" color="light" *ngIf="Opc == 0"
                  (click)="rootPages()" style="font-size: 22px"></ion-icon>
        <ion-icon name="arrow-back" color="light" *ngIf="Opc !== 0"
                  (click)="_previous()" style="font-size: 22px"></ion-icon>
      </ion-col>
      <ion-col col-6 style="margin: auto;top: 5px;font-size: 18px;">
        <span style="color:white" *ngIf="Opc == 0">Editar oferta (1/3)</span>
        <span style="color:white" *ngIf="Opc == 1">Editar oferta (2/3)</span>
        <span style="color:white" *ngIf="Opc == 2">Editar oferta (3/3)</span>
        <span style="color:white" *ngIf="Opc == 3">Fijar alcance</span>
      </ion-col>
      <ion-col col-4 style="margin: auto;top: 5px" *ngIf="Opc == 0 || Opc == 1 || Opc == 2">
      </ion-col>
      <ion-col col-4 style="margin: auto;top: 5px;background: #00BA00;height: 4rem;" *ngIf="Opc == 3"
               (click)="_REGISTAR_OFERTA()">
        <span style="color:white" *ngIf="Opc == 3 && formOferta.valid">
          <b style="position: relative;top: 1vh;">Publicar</b></span>
      </ion-col>
    </ion-row>
  </div>
  <ion-list>
    <form [formGroup]="formOferta">
      <div *ngIf="Opc == 0"><!-- INICIO DE LA OPCION 0 -->
        <ion-row style="background: #e0e0e0">
          <ion-col col-10 style="padding-left: 15px">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item *ngIf="AUX == 0">
              <ion-label stacked color="primary">Producto</ion-label>
              <ion-input type="text" formControlName="producto" maxlength="50" placeholder="Ingresa Producto"
                         pattern="^[a-zA-Z ]*$"></ion-input>
            </ion-item>
            <div *ngIf="formOferta.get('producto').hasError('pattern')">
              <small style="color: red">* Solo Letras</small>
            </div>
            <ion-item *ngIf="AUX == 1">
              <span>{{this.navParams.get('data').oferta_producto}}</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <!--Etiqueta-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked color="primary">
                Etiqueta
              </ion-label>
              <ion-select icon-end="" placeholder="Seleccione" style="text-transform: capitalize" interface="popover"
                          formControlName="id_etiqueta">
                <ion-option [value]="null" selected>Ninguno</ion-option>
                <ion-option *ngFor="let v of etiquetas" [value]="v.id">{{v.nombre.toLowerCase()}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--Fin etiqueta-->


        <ion-row>
          <ion-col col-12>
            <ion-item *ngIf="AUX == 0">
              <ion-label stacked color="primary">
                Tipo de carga
              </ion-label>
              <ion-select icon-end="" placeholder="Seleccione" interface="popover" formControlName="id_tipocarga">
                <ion-option *ngFor="let t of TIPO_CARGA" [value]=" t.id ">{{t.descripcion}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="AUX == 1">
              <span>{{this.navParams.get('data').tipocarga_nombre}}</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item *ngIf="AUX == 0">
              <ion-label stacked color="primary">
                Tipo de vehiculo
              </ion-label>
              <ion-select icon-end="" placeholder="Seleccione" interface="popover" formControlName="id_tipovehiculo">
                <ion-option *ngFor="let v of TIPO_VEHICULO" [value]=" v.id ">{{v.descripcion}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="AUX == 1">
              <span>{{this.navParams.get('data').tipovehiculo_nombre}}</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">Cantidad de vehículos requeridos (cupo)</ion-label>
              <ion-input placeholder="Ingresa" formControlName="cantidad" pattern="[0-9]*"
                         type="tel"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="formOferta.get('cantidad').hasError('pattern')">
          <span style="color: red">* Solo números</span>
        </div>
        <div style="padding-left: 10px">
          <span *ngIf="formOferta.get('cantidad').errors  && formOferta.get('cantidad').errors.invalidNet"
                style="color: red">* Cantidad no permitida, maximo ({{cupo}})
              </span>
        </div>
      </div> <!-- FIN DE LA OPCION 0 -->
      <div style="text-align: center;">
        <button ion-button class="buttonSig" style="background: #005AA3;border-radius: 6px;color:white"
                (click)="_next(1)"
                type="submit" block [disabled]="formOferta.invalid" *ngIf="Opc == 0">
          <strong>Siguiente</strong>
        </button>
      </div>

      <div *ngIf="Opc == 1"><!-- INICIO DE LA OPCION 1  -->
        <ion-grid style="padding: 0px !important;">
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Duración de la publicación</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item *ngIf="AUX == 0 || AUX == 1">
                <ion-label>
                  Fecha inicio
                </ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechacarga"
                              [min]="getCurrentTime()"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item *ngIf="AUX == 0 || AUX == 1">
                <ion-label>
                  Fecha caducidad
                </ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechaentrega"
                              [min]="getCurrentTime1()"></ion-datetime>
              </ion-item>
              <span *ngIf="formOferta.get('fechaentrega').errors  && formOferta.get('fechaentrega').errors.invalidNet"
                    style="color: red">* Fecha no permitida
              </span>
              <!--|-->
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Dirección de cargue</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 *ngIf="AUX == 0">
              <typeahead #typeaheadorigen *ngIf="!BandSolicitud" [Data]="Objs"
                         [Rules]="{labelInput:'Ciudad',valueOutput:'id_municipio',search_for_Item:'municipio_nombre' }"
                         (ValueOutput)="_citysOrigen($event)"></typeahead>
            </ion-col>
            <ion-col col-12 *ngIf="AUX == 1">
              <ion-item>
                <span style="text-transform: capitalize">{{this.navParams.get('data').origen_nombre}}</span>
              </ion-item>
            </ion-col>
          </ion-row>
          <div style="padding-left: 10px" *ngIf="AUX == 0">
            <small> * tu ciudad de origen fue {{this.navParams.get('data').origen_nombre}}, cambialo si deseas,
              de lo contrario vuelve a confirmar tu ciudad de origen
            </small>
          </div>
          <ion-row>
            <ion-col col-12>
              <button ion-button block style="background: #00BA00;text-transform: unset"
                      [disabled]="formOferta.get('origenmunicipio').value == null"
                      (click)="loadMapaCargueyDescargue('cargue')"
                      *ngIf="Direccioncargue == true && AUX == 0">Elegir direccion exacta
              </button>
              <button ion-button block style="background: #EB6400;text-transform: unset"
                      (click)="loadMapaCargueyDescargue('cargue')"
                      *ngIf="Direccioncargue == false">Editar direccion exacta
              </button>
              <ion-item *ngIf="AUX == 1">
                <span>{{this.navParams.get('data').dir_cargue}}</span>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Dirección de descargue</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 *ngIf="AUX == 0">
              <typeahead #typeaheaddestino *ngIf="!BandSolicitud; else Citys" [Data]="Objs"
                         [Rules]="{labelInput:'Ciudad',valueOutput:'id_municipio', search_for_Item:'municipio_nombre' }"
                         (ValueOutput)="_citysDestino($event)"></typeahead>
            </ion-col>
            <ion-col col-12 *ngIf="AUX == 1">
              <ion-item>
                <span>{{this.navParams.get('data').destino_nombre}}</span>
              </ion-item>
            </ion-col>
          </ion-row>
          <div style="padding-left: 10px" *ngIf="AUX == 0">
            <small> * tu ciudad de destino fue {{this.navParams.get('data').destino_nombre}}, cambialo si deseas,
              de lo contrario vuelve a confirmar tu ciudad de destino
            </small>
          </div>
          <ion-row>
            <ion-col col-12>
              <button ion-button block style="background: #00BA00;text-transform: unset"
                      [disabled]="formOferta.get('destinomunicipio').value == null"
                      (click)="loadMapaCargueyDescargue('descargue')"
                      *ngIf="Direcciondescargue == true && AUX == 0">Elegir direccion exacta
              </button>
              <button ion-button block style="background: #EB6400;text-transform: unset"
                      (click)="loadMapaCargueyDescargue('descargue')"
                      *ngIf="Direcciondescargue == false">Editar direccion exacta
              </button>
              <ion-item *ngIf="AUX == 1">
                <span>{{this.navParams.get('data').dir_descargue}}</span>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="text-align: center;">
          <button ion-button class="buttonSig" style="background: #005AA3;border-radius: 6px;color:white"
                  (click)="_next(2)"
                  type="submit" block [disabled]="formOferta.invalid" *ngIf="Opc == 1">
            <strong>Siguiente</strong>
          </button>
        </div>
      </div><!-- FIN DE LA OPCION 1 -->
      <div *ngIf="Opc == 2"><!-- INICIO DE LA OPCION 2 -->
        <ion-grid style="padding: 0px !important;">
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black">
              Precio de la tonelada<b> ($)</b></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-sm-5 col-md-2 col-lg-2 *ngIf="AUX == 0">
              <ion-item>
                <ion-input placeholder="Define un precio" formControlName="valor" pattern="[0-9]*"
                           type="tel"></ion-input>
              </ion-item>
              <span *ngIf="formOferta.get('valor').errors  && formOferta.get('valor').errors.invalidNet"
                    style="color: red">*Monto no permitido
              </span>
              <div *ngIf="formOferta.get('valor').hasError('pattern')">
                <small style="color: red">* Solo números</small>
              </div>
            </ion-col>
            <ion-col col-sm-5 col-md-2 col-lg-2 *ngIf="AUX == 1">
              <ion-item>
                <span>{{this.navParams.get('data').oferta_valor}}</span>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0">
            <ion-col col-12 style="padding-left: 15px;font-size: 12px">
              <br>
              <span style="color: black">
              <b>Recomendación:</b> Un mejor precio incrementará
                los transportistas postulados.</span>
              <p style="font-size: 14px">¿Alguna observación?</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-textarea placeholder="Ninguna" end="" formControlName="observaciones"
                              pattern="^[a-zA-Z0-9 ]*$"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <div *ngIf="formOferta.get('observaciones').hasError('pattern')">
            <small style="color: red">* Caracter especial no permitido</small>
          </div>
          <ion-row style="background: #e0e0e0">
            <ion-col col-10 style="padding-left: 15px">
              <span style="color: black" *ngIf="AUX == 0">
              Define el radio de Zona
              </span>
              <span style="color: black" *ngIf="AUX == 1">
              Guardar Ajuste de Oferta
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="AUX == 0">
            <ion-col col-12 style="text-align: center;">
              <button ion-button block style="background: #FFC900;color:white;border-radius: 5px;text-transform: unset"
                      (click)="_next(2)">
                <span style="text-transform: full-width;;"><strong>Personalizar rango</strong></span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="AUX == 0">
            <ion-col col-12 style="text-align: center;">
              <button ion-button block style="background: #00BA00;color:white;border-radius: 5px;text-transform: unset"
                      (click)="_REGISTAR_OFERTA2();">
                <span style="text-transform: full-width;;"><strong>Rango recomendado y publicar</strong></span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="AUX == 1">
            <ion-col col-12 style="text-align: center;">
              <button ion-button block style="background: #00BA00;color:white;border-radius: 5px;text-transform: unset"
                      (click)="_REGISTAR_OFERTA3();">
                <span style="text-transform: full-width;;"><strong>Guardar Ajuste</strong></span>
              </button>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0" *ngIf="AUX == 0">
            <ion-col col-10 style="padding-left: 15px;font-size: 12px">
              <br>
              <span style="color: black">
              <b>Personalizar rango:</b> Los transportistas dentro de este rango serán notificados.</span>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0" *ngIf="AUX == 0">
            <ion-col col-10 style="padding-left: 15px;font-size: 12px">
              <br>
              <span style="color: black">
              <b>Rango recomendado:</b> El alcance por defecto será de
                20 Km alrededor de la ciudad seleccionada.</span>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0" *ngIf="AUX == 0">
            <ion-col col-12 style="padding-left: 15px;font-size: 12px">
              <span style="color:#00BA00"><strong>¡Gana Mueve Puntos!</strong></span>
              <p style="margin-top: 0px"><strong style="color: #00AEEA">+250</strong> por publicar oferta</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div><!-- fin DE LA OPCION 2 -->

      <div id="mapa-show" *ngIf="Opc == 3">
        <div id="map"></div>
      </div><!-- fin DE LA OPCION 3 -->
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <div *ngIf="Opc == 3" style="background: #e0e0e0">
    <ion-row>
      <ion-col col-2>
        <button ion-button [disabled]="!_ButtonAux" (click)="_Market(1)">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-10 style="margin: auto;text-align: left">
        <span>Añadir zona secundaria (opcional)</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <button ion-button color="danger" (click)="_Market(0)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-10 style="margin: auto;text-align: left">
        <span>Eliminar zona secundaria (opcional)</span>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>

