<!--
  Generated template for the BonusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Bonus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row class="row-superior">
    <p class="p-text-info">
      Los siguientes items son Bonus MP, no tienen limitaciones.
    </p>
  </ion-row>
  <ion-row class="row-text-title row-superior1">
    <ul>
      <li>Ganados</li>
      <li class="color-text-blue">
        {{BonusTotal}} MP
      </li>
    </ul>

  </ion-row>

  <button ion-item *ngFor="let e of Bonus" (click)="infoNotf(e)">
    <ion-row>
      <ion-col col-2 style="margin: auto;text-align: center">
        <img [src]="imagenLogro(e.icono)">
      </ion-col>
      <ion-col col-8>
        <small><strong>{{e.design_tipo}}</strong> <b style="color: #00c4ff">+{{e.design_puntos}} MP</b></small>
        <p style="font-size: 12px">{{e.design_titulo}}</p>
        <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 12px;">
          {{ _formatDate(e.fecha)}}
        </p>
      </ion-col>
      <ion-col col-2 style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 10px;float: right;">
      </ion-col>
    </ion-row>
  </button>

</ion-content>
