<!--<ion-header>
  <ion-navbar color="azul_rey" no-border-bottom>
    <ion-title>
      Crear usuario
    </ion-title>
  </ion-navbar>
</ion-header>-->
<ion-content>
  <div style="    text-align: center;margin-top: 15px;position: relative;z-index: 2">
    <ion-icon name="arrow-back" color="azul_rey" style="position: relative;right: 20vh;font-size: 23px;z-index: 2"
              (click)="rootPages()" *ngIf="Opc == 0"></ion-icon>
    <ion-icon name="arrow-back" color="azul_rey" style="position: relative;right: 20vh;font-size: 23px;z-index: 2"
              (click)="_previous()" *ngIf="Opc !== 0"></ion-icon>
    <img src="assets/imgs/mueve-logistica-icono.svg" class="imgLogo" style="max-width: 35px;margin-right: 15px;">
  </div>
  <div class="contenedor-login2">
    <form [formGroup]="form">
      <ion-grid>
        <br>
        <br>
        <br>
        <div style="text-align: center;margin-top: -20px;padding: 10px" *ngIf="Opc == 0">
          <span style="font-size: 17px;"><strong>Recuperar cuenta</strong></span>
          <p>Ingresa tu correo electrónico</p>
        </div>
        <div style="text-align: center;margin-top: -20px;padding: 10px" *ngIf="Opc == 1">
          <span style="font-size: 17px;"><strong>¡Bingo!</strong></span>
          <p>Hemos encontrado informacion asociada a tu cuenta. ¿Deseas enviar un enlace por
            correo electronico?</p>
        </div>
        <ion-list no-lines>
          <br>
          <div *ngIf="Opc == 0" style="padding: 10px"><!-- INICIO DE LA OPCION 0 -->
            <ion-item>
              <ion-label stacked color="primary">Ejemplo: tuemail@tucorreo.com</ion-label>
              <ion-input formControlName="correo" name="personanombre" maxlength="30" type="email"
                         required
                         pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,3}">
              </ion-input>
            </ion-item>
            <div *ngIf="form.get('correo').hasError('pattern')">
              <small style="color:red">* Formato de correo invalido</small>
            </div>
          </div>
          <div *ngIf="Opc == 1" style="padding: 10px">
            <ion-item>
              <ion-label stacked color="primary">Nombre de usuario (apodo)</ion-label>
              <ion-input formControlName="correo2" name="login" type="text" required>
              </ion-input>
            </ion-item>
          </div>
        </ion-list>
        <div style="text-align: center;">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <button ion-button class="buttonSig"
                        style="background: #005AA3;border-radius: 6px;color:white;text-transform: unset"
                        (click)="_consultAccount()" [disabled]="form.invalid"
                        type="submit" block *ngIf="Opc < 1">
                  <strong>Enviar</strong>
                </button>
                <button ion-button class="buttonSig" style="background: #005AA3;color:white"
                        (click)="_ConsultarCuenta()"
                        type="submit" block *ngIf="Opc == 1">
                  <strong>Consultar</strong>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-grid>
    </form>
  </div>

</ion-content>
