<ion-header>
  <ion-navbar no-border-bottom color="azul_rey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Solicitudes
    </ion-title>
    <!--<ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
      <ion-segment-button value="all">
        Todas
      </ion-segment-button>
      &lt;!&ndash;<ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>&ndash;&gt;
    </ion-segment>-->

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content style="background: #e0e0e0">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-row style="    padding-left: 10px;
                        background: white;
                        padding-top: 8px;
                        padding-right: 4px;">
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/Solicitud-todas-on.svg" class="logos" style="max-width: 14%"
             (click)="filterSolic('todas')" *ngIf="segment2 === 'todas'">
        <img src="assets/imgs/icon/solicitudes-todas-off.svg" class="logos" style="max-width: 14%"
             (click)="filterSolic('todas')" *ngIf="segment2 !== 'todas'">
        <span style="font-size: 13px;">Todas</span>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/Solicitud-pendientes-on.svg" class="logos" style="max-width: 57%!important;"
             (click)="filterSolic('pendiente')" *ngIf="segment2 === 'pendiente'">
        <img src="assets/imgs/icon/Solicitud-pendientes-off.svg" class="logos" style="max-width: 57%!important;"
             (click)="filterSolic('pendiente')" *ngIf="segment2 !== 'pendiente'">
        <span style="font-size: 13px;">Pendiente</span>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/solicitudes-operacion-on.svg" class="logos" style="max-width: 14%"
             (click)="filterSolic('proceso')" *ngIf="segment2 === 'proceso'">
        <img src="assets/imgs/icon/Solicitud-operacion-off.svg" class="logos" style="max-width: 14%"
             (click)="filterSolic('proceso')" *ngIf="segment2 !== 'proceso'">
        <span style=" font-size: 13px;">Proceso</span>
      </ion-col>
      <ion-col col-3 class="imagenes">
        <img src="assets/imgs/icon/solicitud-todas-off.svg" class="logos" style="max-width: 14%"
             (click)="filterSolic('concluidas')" *ngIf="segment2 === 'concluidas'">
        <img src="assets/imgs/icon/solicitud-concluidas-off.svg" class="logos" style="max-width: 14%"
             (click)="filterSolic('concluidas')" *ngIf="segment2 !== 'concluidas'">
        <span style="font-size: 13px;">Concluidas</span>
      </ion-col>
    </ion-row>
  </div>
  <div style="background: white">
    <ion-row>
      <ion-col col-2 style="margin: auto;
                      text-align: center;">
        <span style="font-size: 4rem;color: #00BA00" *ngIf="SOLICITUD">{{SOLICITUD.length}}</span>
      </ion-col>
      <ion-col col-10>
        <ion-searchbar color="primary"
                       [(ngModel)]="Search"
                       (ionInput)="SearchSolicitud()"
                       placeholder="Búsqueda rápida"
                       text-uppercase>
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
  <ion-list #scheduleList *ngIf=" segment == 'all' ">
    <ion-item-group *ngFor="let solicitud of SOLICITUD" style="height: 18.5rem;margin-bottom: 10px;">

      <!--<ion-item-divider sticky>
        <ion-label>
          {{solicitud.solicitudes_fechahoraregistro}}
        </ion-label>

      </ion-item-divider>-->

      <ion-item-sliding #slidingItem [attr.track]="solicitud.estado | lowercase">


        <button ion-item (click)="goToSolicitudDetail(solicitud)" style="padding: 0px;width: 60vh;">
          <!--PENDIENTE-->
          <ion-row style="background: #FF4F00;padding-left: 20px;padding-right: 20px"
                   *ngIf="solicitud.solicitudes_estado === 'PENDIENTE'">
            <ion-col col-6>
              <span style="color: white"><strong>N° {{solicitud.solicitudes_codigo}}</strong></span>
              <p style="color: white">{{solicitud.solicitudes_fechahoraregistro}}</p>
            </ion-col>
            <!--PROCESANDO-->
            <ion-col col-6 class="procesando">
              <img src="assets/imgs/icon/ico-pendiente.svg" style="max-width: 14%">
              <span style="color: white;font-size: 13px;">{{solicitud.solicitudes_estado}}</span>
            </ion-col>
          </ion-row>
          <!--PROCESANDO-->
          <ion-row style="background: #005AA3;padding-left: 20px;padding-right: 20px"
                   *ngIf="solicitud.solicitudes_estado === 'PROCESANDO'">
            <ion-col col-6>
              <span style="color: white"><strong>N° {{solicitud.solicitudes_codigo}}</strong></span>
              <p style="color: white">{{solicitud.solicitudes_fechahoraregistro}}</p>
            </ion-col>
            <!--PROCESANDO-->
            <ion-col col-6 class="procesando">
              <img src="assets/imgs/icon/ico_en_operacion.svg" style="max-width: 14%">
              <span style="color: white;font-size: 13px;">{{solicitud.solicitudes_estado}}</span>
            </ion-col>
          </ion-row>
          <!--CULMINADO-->
          <ion-row style="background: #00BA00;padding-left: 20px;padding-right: 20px"
                   *ngIf="solicitud.solicitudes_estado === 'CULMINADO'">
            <ion-col col-6>
              <span style="color: white"><strong>N° {{solicitud.solicitudes_codigo}}</strong></span>
              <p style="color: white">{{solicitud.solicitudes_fechahoraregistro}}</p>
            </ion-col>
            <!--CULMINADO-->
            <ion-col col-6 class="culminado" *ngIf="solicitud.solicitudes_estado === 'CULMINADO'">
              <img src="assets/imgs/icon/Culminados_Blanco.svg">
              <span style="color: white;font-size: 13px;">{{solicitud.solicitudes_estado}}</span>
            </ion-col>
          </ion-row>
          <ion-row style="background: #e0e0e0;padding-left: 25px;padding-right: 10px;">
            <ion-col col-4>
              <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 18%">
              <span>{{solicitud.solicitudes_cantidadregistrados}}/{{solicitud.solicitudes_cantidadvehiculo}}</span>
            </ion-col>
            <ion-col col-4>
              <img src="assets/imgs/icon/Peso-kilo.svg" style="max-width: 14%">
              <span>{{solicitud.solicitudes_peso}}</span>
            </ion-col>
            <ion-col col-4>
              <img src="assets/imgs/icon/precio.svg" style="max-width: 14%">
              <span>{{solicitud.solicitudes_preciofinal}}</span>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 16px;
                          padding-right: 20px;">
            <ion-col col-1>
              <img src="assets/imgs/icon/Producto.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <p style="font-size: 11px"><strong>GENERADOR</strong></p>
              <p style="font-size: 11px">{{solicitud.generador_nombre}}</p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/Producto.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <p style="font-size: 11px"><strong>PRODUCTO</strong></p>
              <p style="font-size: 11px">{{solicitud.producto_nombre}}</p>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 16px;
                          padding-right: 20px;">
            <ion-col col-1>
              <img src="assets/imgs/icon/destino.svg" style="max-width: 74%">
            </ion-col>
            <ion-col col-5>
              <p style="font-size: 11px"><strong>ORIGEN</strong></p>
              <p style="font-size: 11px">{{solicitud.origen_nombre}}</p>
            </ion-col>
            <ion-col col-1>
              <img src="assets/imgs/icon/origen.svg" style="max-width: 100%">
            </ion-col>
            <ion-col col-5>
              <p style="font-size: 11px"><strong>DESTINO</strong></p>
              <p style="font-size: 11px">{{solicitud.destino_nombre}}</p>
            </ion-col>
          </ion-row>
          <!--<ion-row>
            <ion-col col-12>
              <img src="assets/imgs/icon/Origen.svg" style="max-width: 14%">
              <span style="font-size: 15px">{{solicitud.origen_nombre}}</span>
            </ion-col>
            <ion-col col-12>
              <img src="assets/imgs/icon/Destino.svg" style="max-width: 70%">
              <span style="font-size: 15px;">{{solicitud.destino_nombre}}</span>
            </ion-col>
          </ion-row>-->
        </button>

        <!--<ion-item-options>
          <button ion-button icon-only (click)="presentPopover($event,solicitud)">
            <ion-icon name="more"></ion-icon>
          </button>
          &lt;!&ndash;<button ion-button color="secondary" (click)="addFavorite(slidingItem, solicitud)" *ngIf="segment === 'all'">
            <ion-icon name="star" style="font-size: 1.5rem"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeFavorite(solicitud, session, 'Remove Favorite')"
                  *ngIf="segment === 'favorites'">
            Remove
          </button>&ndash;&gt;
        </ion-item-options>-->

      </ion-item-sliding>


    </ion-item-group>

  </ion-list>

  <ion-list #scheduleList *ngIf=" segment == 'favorites' ">
    <button ion-button="" (click)="DeleteAll()">Dlete All</button>

    <ion-item-group *ngFor="let solicitud of sFavorites">

      <ion-item-divider sticky>
        <ion-label>
          {{solicitud.fecha_solicitud}}
        </ion-label>

      </ion-item-divider>

      <ion-item-sliding #slidingItem [attr.track]="solicitud.estado | lowercase">


        <button ion-item (click)="goToSolicitudDetail(solicitud)">
          <ion-row>
            <ion-col col-6>
              <span>{{solicitud.solicitudes_codigo}}</span>
            </ion-col>
            <ion-col col-6>
              <span>{{solicitud.solicitudes_estado}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span>{{solicitud.solicitudes_fechahoraregistro}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <h3>{{solicitud.producto_nombre}}</h3>
            </ion-col>
            <ion-col col-3>
              <h3>{{solicitud.solicitudes_preciofinal}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <span>{{solicitud.ciudad_origen}}</span>
            </ion-col>
            <ion-col col-3>
              <span>{{solicitud.ciudad_destino}}</span>
            </ion-col>
          </ion-row>
        </button>

        <ion-item-options>
          <button ion-button icon-only (click)="presentPopover($event,solicitud)">
            <ion-icon name="more"></ion-icon>
          </button>
          <button ion-button color="secondary" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            <ion-icon name="star" style="font-size: 1.5rem"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, solicitud.id_sql)"
                  *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>


    </ion-item-group>

  </ion-list>


  <!--<ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="_CrearOferta()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>-->


</ion-content>
