$categories: (
  ionic: color($colors, primary),
  cerrado: #AC282B,
  borrador: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  publicada: #69BB7B,
  asignada:#07833b,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }

  .color-oferta {
    background: linear-gradient(to top right, #ff1f35, #ff4053 35%, #c99701) !important;
  }

  /*OFERTA PENDIENTE*/
  .pendiente {
    //border: 2px solid #EB6400;
    border-radius: 3px;
    margin-top: 6px;
    max-height: 6vh;
    text-align: center;
    color: white;
    img {
      max-width: 70%
    }
    span {
      color: #EB6400
    }
  }
  /*OFERTA PROCESANDO*/
  .procesando {
    //border: 2px solid #005AA3;
    border-radius: 3px;
    margin-top: 6px;
    color: white;
    max-height: 6vh;
    text-align: center;
    img {
      max-width: 50%
    }
    span {
      color: #005AA3
    }
  }

  .logos {
    max-width: 60% !important;
  }

  .imagenes {
    text-align: center;
  }

  input.searchbar-input {
    border-radius: 20px !important;
  }

  page-speaker-list .item-inner {
    padding-right: 0px !important;
  }

  .item-inner {
    padding-right: 0px !important;
  }

  /*OFERTA CULMINADO*/
  .culminado {
    //border: 2px solid #5E9E00;
    background: #5E9E00;
    color: white;
    margin-top: 6px;
    border-radius: 3px;
    max-height: 6vh;
    text-align: center;
    img {
      width: 25px
    }
    span {
      color: #FFFFFF
    }
  }
}
