<ion-card>
  <ion-card-header (click)="toogleAcordion()">
    <ng-content select="[accordion-header]"></ng-content>
  </ion-card-header>
  <ion-card-content #cc>
    <ng-content select="[accordion-body]"></ng-content>

  </ion-card-content>
</ion-card>
