page-retos {
  ion-content {
    .row-superior {
      background: #e0e0e0;
      font-size: 11px;
      padding-left: 3vh;
      padding-top: 1vh;
      padding-right: 1vh;
    }

    .row-superior1 {
      background: #e0e0e0;
      font-size: 11px;
      padding-left: 3vh;
    }

    .col-arrow{
      display: flex;
      justify-content: center;
      max-height: 10rem;
    }
    .arrow-detail{
      width: 1rem !important;
      float: right;
      margin-right: 1rem;
    }
    ul{
      padding: 0;
      list-style: none;
      li.item-destino {
        font-size: 2rem;
        color: #0071bc;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }


    }
    .ion-col-image{
      display: flex;
      img{
        width: 5rem;
      }
    }
  }
}
