page-coordinador-logistico {
  ion-item.item.item-block.item-md.item-input {
    border: 2px solid #00AEEA;
    border-radius: 10px;
    height: 40px
  }
  button.item-inner {
    height: 6rem;
  }
}
