<!--
  Generated template for the CoordinadorLogisticoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="azul_rey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Coordinadores logisticos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="form">
    <ion-row style="background: #e0e0e0">
      <ion-col col-12 style="padding: 10px">
      <span style="font-size: 11px;">Recibe directamente las ordenes de vehiculos por parte del
      coordinador logistico y crea ofertas a pocos pasos</span>
      </ion-col>
    </ion-row>
    <ion-row style="background: #e0e0e0">
      <ion-col col-10 style="padding-left: 10px">
        <span style="color:green"><strong>¡Gana Mueve Puntos!</strong></span>
        <p style="margin-top: 0px;font-size: 12px">
          <strong style="color:#00AEEA">+ 550</strong> por cada vinculacion nueva</p>
      </ion-col>
    </ion-row>
    <ion-row style="background: #e0e0e0">
      <ion-col col-12 style="padding-left: 10px">
        <span style="font-size: 12px">__ ingresa directamente el pin de un generador</span>
      </ion-col>
    </ion-row>
    <br>
    <div style="padding-left: 10px;padding-right: 10px">
      <ion-item>
        <ion-input type="text" text-uppercase formControlName="invitacion" maxlength="4"
                   placeholder="Ingresa PIN"></ion-input>
        <ion-icon name="close" item-end
                  style="position: relative;z-index: 2;" (click)="_ClearInput('invitacion')"></ion-icon>
      </ion-item>
    </div>
    <div style="padding-left: 10px;padding-right: 10px">
      <button [disabled]="form.invalid" ion-button block
              style="background: #00BA00;color:white;border-radius:3px;text-transform: full-width;"
              (click)="_SendInvitacion()">
        <strong>Enviar invitacion</strong>
      </button>
    </div>
    <br>
    <ion-row style="background: #e0e0e0">
      <ion-col col-12 style="padding: 10px">
    <span style="font-size: 11px;">Las vinculaciones son totalmente gratis, puedes vincular
    tantos coordinadores como sea posible</span>
        <p><strong>Coordinadores vinculados</strong></p>
      </ion-col>
    </ion-row>
    <button ion-item (click)="_DetailVinculado(i, idx)" *ngFor="let i of invitados;let idx = index">
      <ion-row>
        <ion-col col-2>
          <img src="assets/imgs/icon/transportista-todos.svg" style="max-width: 76%">
        </ion-col>
        <ion-col col-8>
          <small style="color: black">
            <strong>Generadora:</strong> {{i.generador_nombre}}
          </small>
          <p style="color: gray;font-weight: 500;margin-top: 2px;font-size: 12px;">
            {{i.nombre}} ({{i.estado}})
          </p>
        </ion-col>
        <ion-col col-2 style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon/flecha-ir.svg" style="max-width: 14% !important;">
        </ion-col>
      </ion-row>
    </button>
  </form>
</ion-content>
