<!--
  Generated template for the ReputacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-row>
      <ion-col col-10>
        <ion-title>
          Reputacion
        </ion-title>
      </ion-col>
      <ion-col col-2>
        <img src="assets/imgs/icon/editar-foto-perfil.svg" style="max-width: 60%" (click)="popoverEdit($event)">
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>
  <br>
  <ion-row style="padding-left: 15px">
    <ion-col col-2>
      <img src="assets/imgs/icon/rep_excelente.svg" style="max-width: 80%">
    </ion-col>
    <ion-col col-10>
      <span style="font-size: 12px"><strong>{{reputacion.nombre}}</strong></span>
      <p style="margin-top: 0px;color: #00BA00;font-size: 11px">Excelente reputacion</p>
    </ion-col>
  </ion-row>
  <hr style="width: 100%">
  <div style="background: #e0e0e0">
    <ion-row style="padding: 20px">
      <ion-col col-2>
        <img src="assets/imgs/icon/rep_icon_excelente.svg" style="max-width: 100%">
      </ion-col>
      <ion-col col-10 style="font-size: 11px;">
        <span>Es confiable, puntual, rápido y cumple con
        efectividad cualquier envío. Conoce el
        <b style="color:#005AA3">Sistema de Reputación.</b></span>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <button ion-button block style="background: #00BA00">
    <img src="assets/imgs/icon/asignar-transportista.svg" style="width: 28px">
    <strong style="text-transform: full-width;">&nbsp;&nbsp;Aceptar Transportista</strong>
  </button>
</ion-content>
