<!--
  Generated template for the TopdespachadoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title>Ranking Global</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <button ion-item *ngFor="let l of listado">
    <ion-row>
      <ion-col col-1 style="margin: auto;text-align: center;">
        <!--<img src="assets/imgs/icon/num_0{{l.puesto}}.svg">-->
        <span style="color: #ED6F24;" *ngIf="l.categoria == 'BRONZE'"><strong>{{l.puesto}}</strong></span>
        <span style="color: gray;" *ngIf="l.categoria == 'SILVER'"><strong>{{l.puesto}}</strong></span>
        <span style="color: #ffa800;" *ngIf="l.categoria == 'GOLD'"><strong>{{l.puesto}}</strong></span>
        <span style="color: #005AA3;" *ngIf="l.categoria == 'Novato'"><strong>{{l.puesto}}</strong></span>
      </ion-col>
      <ion-col col-7 style="margin: auto">
        <p style="margin-top: 0px;font-size: 10px;text-transform: capitalize"><b>{{l.nombre}}</b></p>
        <ion-badge color="yellow" *ngIf="l.categoria == 'GOLD'">{{l.categoria}}</ion-badge>
        <ion-badge color="gray" *ngIf="l.categoria == 'SILVER'">{{l.categoria}}</ion-badge>
        <ion-badge color="bronze" *ngIf="l.categoria == 'BRONZE'">{{l.categoria}}</ion-badge>
        <ion-badge color="azul_rey" *ngIf="l.categoria == 'Novato'">{{l.categoria}}
        </ion-badge>
      </ion-col>
      <ion-col col-3 style="margin: auto">
        <p text-wrap style="font-size: 10px;color: #00c4ff;float: right"><strong>{{l.total}} MP</strong></p>
      </ion-col>
    </ion-row>
  </button>
</ion-content>
