<!--
  Generated template for the OfertasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azul_rey">
    <ion-title *ngIf="Opc == 0">Nueva oferta (Paso 1/2)</ion-title>
    <ion-title *ngIf="Opc == 1">Nueva oferta (Paso 2/2)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form [formGroup]="formOferta">
      <div *ngIf="Opc == 0"><!-- INICIO DE LA OPCION 0 -->
        <!-- List header with buttons on each side -->
        <!--<ion-list-header>
          <ion-label>Seleccione Solicitud</ion-label>
          <ion-select icon-end="" interface="popover" (ionChange)="_selectSolicitud($event)">
            <ion-option *ngFor="let s of Solicitudes" [value]="s">{{s.descripcion }}</ion-option>
          </ion-select>
        </ion-list-header>-->

        <!-- Button item with an icon on the left -->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
                Vehículo
              </ion-label>
              <ion-select icon-end="" interface="popover" formControlName="id_tipovehiculo">
                <ion-option *ngFor="let v of TIPO_VEHICULO" [value]=" v.id ">{{v.descripcion}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/fecha-cumplido.svg" style="max-width: 11%">
                Fecha carga
              </ion-label>
              <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechacarga"
                            [min]="getCurrentTime()"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/fecha-cumplido.svg" style="max-width: 11%">
                Fecha entrega
              </ion-label>
              <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fechaentrega"
                            [min]="getCurrentTime1()"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating="" color="dark">
                <img src="assets/imgs/icon/Cantidad-vehiculos.svg" style="max-width: 6%">
                Cantidad Vehiculos
              </ion-label>
              <ion-input formControlName="cantidad" type="text"></ion-input>
            </ion-item>
            <span *ngIf="formOferta.get('cantidad').errors  && formOferta.get('cantidad').errors.invalidNet"
                  style="color: red">* El limite es {{car_disponible}}.</span>
          </ion-col>
        </ion-row>
        <!--<ion-item-divider *ngIf="BandSolicitud">
          <h2 text-center="">Rangos</h2>
        </ion-item-divider>
        <ion-grid *ngIf="BandSolicitud">
          <ion-row>
            <ion-col col-sm-5 col-md-2 col-lg-2>
              <ion-item>
                <ion-badge>Minimo</ion-badge>
                <p class="p-rango">{{rango_minimo}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-sm-5 col-md-2 col-lg-2>
              <ion-item>
                <ion-badge>Maximo</ion-badge>
                <p class="p-rango">{{rango_maximo}}</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>-->
        <ion-item-divider>
          <h2 text-center="">Precio de la oferta</h2>
          <h2 text-center="">Mayor a {{this.navParams.get('data')[0].rango_minimo}} / Menor a
            {{this.navParams.get('data')[0].rango_maximo}}</h2>
        </ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col col-sm-5 col-md-2 col-lg-2>
              <ion-item>
                <ion-label floating="" color="dark">
                  <img src="assets/imgs/icon/precio.svg" style="max-width: 5%">
                  Precio
                </ion-label>
                <ion-input formControlName="valor" pattern="[0-9]*" type="text"></ion-input>
              </ion-item>
              <span *ngIf="formOferta.get('valor').errors  && formOferta.get('valor').errors.invalidNet"
                    style="color: red">*Monto no permitido
              </span>
            </ion-col>
            <!--<ion-col col-sm-5 col-md-2 col-lg-6>
              <ion-item>
                <ion-label floating="">Toneladas</ion-label>
                <ion-input formControlName="toneladas"></ion-input>
              </ion-item>
            </ion-col>-->
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label floating="" color="dark">
            <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
            Tipo
          </ion-label>
          <ion-select icon-end="" interface="popover" formControlName="id_tipocarga">
            <ion-option *ngFor="let t of TIPO_CARGA" [value]=" t.id ">{{t.descripcion}}</ion-option>
          </ion-select>
        </ion-item>
        <!--<ion-item>-->
        <!--<ion-label floating="" end="">Detalle de la carga</ion-label>-->
        <!--<ion-input end="" formControlName="producto"></ion-input>-->
        <!--</ion-item>-->
        <ion-item>
          <ion-label floating="" end="">
            <img src="assets/imgs/icon/placa.svg" style="max-width: 6%">
            Observación
          </ion-label>
          <ion-textarea end="" formControlName="observaciones" pattern="^[a-zA-Z0-9 ]*$"></ion-textarea>
        </ion-item>
        <div *ngIf="formOferta.get('observaciones').hasError('pattern')">
          <small style="color: red">* Solo Letras</small>
        </div>
        <!--<typeahead *ngIf="!BandSolicitud" [Data]="Objs"
                   [Rules]="{labelInput:'Ciudad Origen',valueOutput:'id_municipio', search_for_Item:'municipio_nombre' }"
                   (ValueOutput)="_citysOrigen($event)"></typeahead>
        <typeahead *ngIf="!BandSolicitud; else Citys" [Data]="Objs"
                   [Rules]="{labelInput:'Ciudad Destino',valueOutput:'id_municipio', search_for_Item:'municipio_nombre' }"
                   (ValueOutput)="_citysDestino($event)"></typeahead>-->

        <!-- SE SE SELECCIONA LOS DATOS A TRAVES DE LA SOLICITUD -->
        <ion-item *ngIf="BandSolicitud">
          <ion-badge> Ciudad Origen</ion-badge>
          {{Name_cityO}}
        </ion-item>
        <ion-item *ngIf="BandSolicitud">
          <ion-badge> Ciudad Destino</ion-badge>
          {{Name_cityD}}
        </ion-item>
        <!-- FIN DEL BINDEO DE LA CIUDAD Y DESTIONO SELECCIONADO POR LA SOLICITUD -->
      </div> <!-- FIN DE LA OPCION 0 -->

      <div id="mapa-show" *ngIf="Opc == 1"><!-- INICIO DE LA OPCION 1  -->
        <!-- MAPA OFERTA -->
        <ion-row>
          <ion-col col-2>
            <img src="assets/imgs/icon/Oferta.svg" class="logos" style="max-width: 60%">
          </ion-col>
          <ion-col col-10 style="margin: auto;text-align: left">
            <span><strong>FIJAR ALCANCE DE LA OFERTA</strong></span>
          </ion-col>
        </ion-row>
        <div id="map"></div>
        <!--<input id="pac-input" class="controls" type="text" placeholder="Search Box">-->
        <!-- FIN  MAPA OFERTA -->
      </div><!-- FIN DE LA OPCION 1 -->
      <!--<pre>
        <span>{{formOferta.value | json}}</span>
      </pre>-->

      <div *ngIf="Opc == 2"><!-- INICIO DE LA OPCION 2 -->
      </div><!-- fin DE LA OPCION 2 -->
    </form>
    <!-- BUTTONS -->
    <ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-sm-5 col-md-2 col-lg-2>
            <button ion-button="" color="light" (cstalick)="_previous()" [disabled]="Opc === 0">
              Anterior
            </button>
          </ion-col>
          <ion-col col-sm-5 col-md-2 col-lg-6>
            <button ion-button="" style="background: #00BA00;color: white" (click)="_next()" *ngIf="Opc == 0">
              <strong>Siguiente</strong>
            </button>
            <button ion-button="" style="background: #00BA00;color: white" (click)="_REGISTAR_OFERTA()" *ngIf="Opc == 1"
                    [disabled]="!formOferta.valid">
              <strong>Guardar</strong>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
    <!-- FIN BUTTONS -->
  </ion-list>
</ion-content>
