page-ofertas {
  #mapa-show {
    background: rgb(229, 227, 223);
    #map {
      width: 100%;
      height: -webkit-fill-available;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map {
        opacity: 1;
      }
    }
    .scroll {
      height: calc(100% - 250px);
    }
  }

  .p-rango {
    margin-top: 2%;
    padding: 2%;
    display: block;
  }
}
